/* ==========================================================================
   Global: Cards
   ========================================================================== */

.card {
  display: flex;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  flex: 1;
  min-width: 0;

  /* Animation */
  animation: reveal 0.8s ease 0s 1;
}

.card__contents {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  padding: $global-spacing * 1.5;
  overflow: hidden;
  flex: 1 1 100%;
  min-height: 10rem;
  background: tint($base-color, 96%);
  border-radius: $base-border-radius;

  /* Animation */
  transition: all 0.16s ease 0s;

  > *:last-child {
    margin-bottom: 0;
  }
}

a.card__contents {
  color: inherit;
  box-shadow: 0 0 0 0 rgba($base-color, 0);

  /* Animation */
  transition: all 0.32s ease 0s;


  &:hover {
    opacity: 1;
    box-shadow: 8px 8px 0 0 rgba($base-color, 0.16);
  }
}


/* Card media
   ========================================================================== */

.card__media {
  position: relative;
  margin: $global-spacing (- $global-spacing * 1.5);

  .link-wrapper {
    display: block;

    &:active {
      transform: none;
    }
  }

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.32s ease 0s;
  }

  &:first-child {
    margin-top: (- $global-spacing * 1.5);
  }

  &:last-child {
    margin-bottom: (- $global-spacing * 1.5) !important;
  }
}

.card__cover {
  position: relative;
  background: tint($base-color, 96%);
  min-height: 4rem;
  overflow: hidden;
  margin: 0;

  &,
  &::before {
    border-radius: $base-border-radius / 2;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    pointer-events: none;
    background: rgba($base-color, 0.48)
  }
}


/* Card header
   ========================================================================== */

.card__header {
  display: flex;
  margin-bottom: $global-spacing * 2.5;
  align-items: flex-start;

  > *:not(:first-child) {
    margin-left: $global-spacing;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .link-wrapper {
    color: inherit;
  }
}

.card__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  @include heading(1.5rem);
  line-height: 1.75rem;
  margin: 0;

  a {
    color: inherit;
  }
}

.card__subtitle {
  @extend .heading-alt;
  position: relative;
  color: rgba($base-font-color, 0.64);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $heading-font-bold;
  margin: 0.75rem 0;

  a & {
    color: $link-color;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Card body
   ========================================================================== */

.card__body {
  flex: 1 0 auto;
  width: 100%;
  margin-bottom: 1.5rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__prose {
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.80;

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Card footer
   ========================================================================== */

.card__footer {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__go-link,
.card__download-link {
  @extend .button, .button--small, .button--base-plain;
  margin-left: -0.5rem;
}

.card__go-link::after {
  @extend %collecticon-sm-chevron-right;
  margin-left: 0.125rem;
}

.card__download-link::before {
  @extend %collecticon-download-2;
}


/* Card header toolbar
   ========================================================================== */

.card__header-toolbar {
  @extend .toolbar, .toolbar--small;
  justify-content: flex-end;
  flex: 1 1 auto;
}


/* Card modifiers
   ========================================================================== */

.card--featured {
  @extend .antialiased;
  color: #fff;

  .card__contents {
    background: $primary-color;
  }

  .card__go-link,
  .card__download-link {
    @extend .button--achromic-plain;
  }
}

.card--featured a .card__subtitle {
  color: inherit;
}

.card--tool {
  .card__header {
    @extend .antialiased;
    position: relative;
    overflow: hidden;
    margin: (- $global-spacing * 1.5) (- $global-spacing * 1.5) $global-spacing (- $global-spacing * 1.5);
    padding: ($global-spacing * 1.5);
    min-height: 10rem;
    align-items: flex-end;
    color: #fff;
    text-shadow: 0 0 8px rgba($base-color, 0.64);
  }

  .card__headline {
    position: relative;
    z-index: 2;
  }

  .card__media,
  .card__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
