/* ==========================================================================
   Global: Charts
   ========================================================================== */


/* Bars
   ========================================================================== */

.stack-bar {
  overflow: hidden;
  border-radius: $base-border-radius;
  height: 1.25rem;
  background: tint($base-color, 95%);
  box-shadow: inset 0 $base-border-width 0 0 rgba($base-color, 0.1);
  padding: 0;
  margin: 0;
  cursor: help;

  dd {
    float: left;
    height: 100%;
    box-shadow: inset 0 2px 0 0 rgba($base-color, 0.1);
  }

  dd.param-1 {
    background-color: $parameter-color-a;
  }

  dd.param-2 {
    background-color: $parameter-color-b;
  }

  dd.param-3 {
    background-color: $parameter-color-c;
  }
}


/* Legends
   ========================================================================== */

.par-legend {
  dt {
    @extend .heading-alt, .truncated;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: tint($base-color, 56%);
    margin: 0 0 0 7.5rem;
    padding: 0 0 0 1rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      margin-top: -0.25rem;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: $full-border-radius;
    }
  }

  dd {
    float: left;
    width: 6.5rem;
    clear: left;
    margin-top: -1.5rem;
    font-family: $heading-font-family;
    font-weight: $heading-font-bold;
    line-height: 1.5rem;

    small {
      font-weight: normal;
      font-size: 0.875rem;
      color: tint($base-color, 56%);
      margin-left: 0.5rem;
      float: right;
    }
  }
}

.legend__key--par-1::before {
  background: $parameter-color-a;
}

.legend__key--par-2::before {
  background: $parameter-color-b;
}

.legend__key--par-3::before {
  background: $parameter-color-c;
}


/* Answer Chart
   ========================================================================== */

.card-answer-options {
  dt {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    color: tint($base-color, 56%);
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 2rem;
    font-family: $heading-font-family;
    text-transform: none;

    .info-card--par-fundamentals & {
      color: shade($parameter-color-a, 24%);
    }
    .info-card--par-opportunities & {
      color: shade($parameter-color-b, 24%);
    }
    .info-card--par-experience & {
      color: shade($parameter-color-c, 24%);
    }

    &.answer-checked {
      color: $base-color;
      font-weight: $base-font-bold;
      
      .info-card--par & {
        color: #fff;
      }
    }

    &::before {
      top: 1rem;
      transform: translate(0, -50%);
      position: absolute;
      left: 0;
      z-index: 1;
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: $full-border-radius;
      border: 2px solid tint($base-color, 56%);

      .info-card--par-fundamentals & {
        border-color: shade($parameter-color-a, 24%);
      }
      .info-card--par-opportunities & {
        border-color: shade($parameter-color-b, 24%);
      }
      .info-card--par-experience & {
        border-color: shade($parameter-color-c, 24%);
      }
    }

    &.answer-checked {
      &::before {
        border-color: $base-color;
        .info-card--par & {
          border-color: #fff;
        }
      }

      &::after {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        transform: translate(-50%, -50%);
        z-index: 1;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: $full-border-radius;
        background: $base-color;
        
        .info-card--par & {
          background: #fff;
        }
      }
    }
  }

  dd {
    @extend .visually-hidden;
  }
}


/* Absolute Chart
   ========================================================================== */

.card-absolute {
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;
  font-size: 2.5rem;
  line-height: 3rem;

  small {
    font-size: 1rem;
  }
}


/* Range Chart
   ========================================================================== */

.range-legend {
  dt {
    font-size: 0.75rem;
    position: relative;
    line-height: 1rem;
    margin: 0 0 0 1.5rem;
    padding: 0 0 0 0.5rem;
    color: #fff;
  }

  dd {
    float: left;
    width: 1.5rem;
    clear: left;
    margin-top: -1rem;
    font-family: $heading-font-family;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #fff;
  }
}


/* Absolute Group Chart
   ========================================================================== */

.card-percent-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 1rem;

  .info-card--small & {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-card--medium &,
  .info-card--large & {
    grid-template-columns: repeat(6, 1fr);
    
    @include media(large-only) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.card-percent {
  display: flex;
  flex-flow: column-reverse;
  min-width: 4rem;
  margin: 0;
  
  dd {
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    font-family: $heading-font-family;
    font-weight: $heading-font-bold;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  dt {
    font-size: 0.75rem;
    line-height: 1rem;
    flex: 0;

    .info-card--par & {
      color: #fff;
    }
  }

  .card-percent-bar {
    margin-bottom: $global-spacing / 2;
    display: flex;
    align-items: flex-end;
    background: rgba(#000, 0.16);
    height: 9rem;

    > div {
      width: 100%;
      min-height: 1px;
      background: rgba(#000, 0.16);
    }
  }
}

.card-percent--single {
  width: 50%;
  width: 7rem;
}

/* Overrides for availability of policies */
.chart-availability-policies {
  .card-percent-bar {
    background: rgba(#000, 0.08);
    height: 12rem;

    > div {
      background: shade($parameter-color-b, 8%);
    }
  }
}


/* Overrides for clean energy investment */
.chart-cleanEnergyInvestment {
  .schart__graph {
    height: 20rem;
  }
}

/* Area Chart
   ========================================================================== */

/* Area chart gradients */

$energy-type: (
  ("solar", $infograph-solar),
  ("wind", $infograph-wind),
  ("small-hydro", $infograph-small-hydro),
  ("biomass-waste", $infograph-biomass-waste),
  ("geothermal", $infograph-geothermal),
  ("other", $infograph-other),
  ("investment", $infograph-geothermal)
);

.stop--start {
  stop-opacity: 0.32;
}
.stop--end {
  stop-opacity: 0;
}

@each $type, $color in $energy-type {
  #area-gradient-#{$type} .stop {
    stop-color: $color;
  }
}

/* Popover params */
@each $type, $color in $energy-type {
  .legend__key--val-#{$type}::before {
    background: $color;
  }
}


/* Chart */

.schart__graph {
  height: 25rem;
}

.schart {
  position: relative;
  margin: 0;
  margin-bottom: $global-spacing * 2;

  .chart-label,
  .axis text {
    fill: tint($base-color, 48%);
    font-family: $heading-font-family;
    font-size: 0.875rem;
  }

  .axis line {
    stroke: tint($base-color, 48%);
    stroke-dasharray: 1px 2px
  }

  .bisector-interact {
    fill: none;
    stroke: $base-color;
    stroke-width: 1px;
  }

  // Area charts.
  .area__line {
    fill: none;
    stroke-width: 2px;
  }

  .area__circle {
    fill: #fff;
    stroke-width: 2px;
  }

  @each $type, $color in $energy-type {
    .area--#{$type} {
      .area__path {
        fill: url(#area-gradient-#{$type})
      }
      .area__circle,
      .area__line {
        stroke: $color;
      }
      .area__circle.active {
        fill: $color;
        stroke: #fff;
      }
    }
  }
}

.data-canvas-debug {
  fill: none;
  // fill: rgba(red, 0.16);
}

.trigger-rect {
  fill: none;
  // fill: rgba(green, 0.16) !important;
}