/* ==========================================================================
   Global: Controls
   ========================================================================== */

.controls {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: ($global-spacing) ($global-spacing * 2);

  > * {
    margin: 0;
    grid-column-end: span 3;

    &:nth-child(1) {
      grid-column-start: 1;
    }

    &:nth-child(2) {
      grid-column-start: 4;
    }

    &:nth-child(3) {
      grid-column-start: 7;
    }

    &:nth-child(4) {
      grid-column-start: 10;
    }
  }

  .form__label {
    @extend .heading-alt;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: tint($base-color, 56%);
  }

  .form__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    > *:not(:last-child) {
      margin-right: $global-spacing / 4;
    }
  }
}

.controls__button-reset {
  @extend .button, .button--base-raised-semidark, .button--text-hidden;

  &::before {
    @extend %collecticon-arrow-loop;
  }
}

.controls__button-submit {
  @extend .button, .button--base-raised-semidark;
  min-width: 5.75rem;
}
