/* ==========================================================================
   Global: Folds
   ========================================================================== */

.fold {
  @extend .antialiased;
  background: $secondary-color;
  color: #fff;
  padding: ($global-spacing * 4) 0;
}

.fold__contents {
  @extend .row, .row--centered;
}

.fold__lead {
  @include heading(1.75rem);
  line-height: 3.25rem;

  p {
    @include prefixer(box-decoration-break, clone, ("webkit"));
    display: inline;
    background-color: $primary-color;
    padding: ($global-spacing / 8) ($global-spacing / 2);
    color: #fff;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.fold__body {
  > *:last-child {
    margin-bottom: 0;
  }
}
