/* ==========================================================================
   Global: inpage
   ========================================================================== */

.inpage__header {
  position: relative;
  padding: ($global-spacing * 2) 0;
  box-shadow: 0 $base-border-width 0 0 $base-alpha-color;

  > .inner {
    @extend .row, .row--centered;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 ($global-spacing * 2);
  }

  .page--has-hero & {
    @extend .antialiased;
    color: #fff;
    background: $base-color;
    padding: ($global-spacing * 8) 0 ($global-spacing * 6) 0;
    text-shadow: 0 0 8px rgba($base-color, 0.64);
  }
}

.inpage__headline {
  position: relative;
  grid-column: 1 / span 8;

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__title {
  @include heading(2.5rem);
  text-transform: uppercase;
  margin-bottom: $global-spacing;

  .label {
    margin: 0.625rem ($global-spacing / 2);
    padding: ($global-spacing / 4) $global-spacing;
  }
}

.inpage__subtitle {
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0 0 ($global-spacing / 4) 0;
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;

  a {
    @extend .button, .button--small, .button--base-plain;
    margin: 0 0 (-$global-spacing / 4) (-$global-spacing / 2);

    &::after {
      @extend %collecticon-sm-chevron-right;
      font-size: 0.875rem;
      margin: 0;
    }

    .page--has-hero & {
      @extend .button--achromic-plain;
    }
  }

}

.inpage__introduction {
  font-family: $heading-font-family;
  font-weight: $heading-font-regular;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: $global-spacing;
  color: tint($base-color, 48%);

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Details
   ========================================================================== */

.inpage__details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: ($global-spacing * 2) ($global-spacing * 6);
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;

  strong {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.25rem;
  }

  sub {
    font-size: 50%;
    vertical-align: 0.25em;
  }

  span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    display: block;
  }
}


/* Hero
   ========================================================================== */

.inpage__hero {
  margin: 0;
  padding: 0;

  &,
  &-item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
}

.inpage__hero--cover {
  &::after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($base-color, 0.16);
    content: '';
  }
}

.inpage__hero-caption {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;

  @include media(large-up) {
    right: 2rem;
    bottom: 2rem;
  }

  .info,
  .info:visited {
    position: relative;
    display: block;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    font-size: 1rem;

    &:hover {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0.64;
    }

    &::before {
      @extend %collecticon-circle-information;
      opacity: 0.32;
      line-height: inherit;
    }

    &::after {
      top: 50%;
      bottom: auto;
      left: auto;
      right: 2rem;
      margin: 0;
      transform: translate(0, -50%);
    }

    > * {
      @extend .visually-hidden;
    }
  }

  .inpage__hero--map & {
    @extend .visually-hidden;
  }
}


/* Actions
   ========================================================================== */

.inpage__actions {
  grid-column: auto / span 4;
  justify-self: end;
  align-self: flex-start;
  padding: ($global-spacing / 2) 0;
  display: flex;
  flex-flow: row nowrap;

  > * {
    margin: 0 ($global-spacing / 8);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/**
 * "ipa-" prefix stands for "inpage action"
 */

[class^="ipa-"],
[class*=" ipa-"] {
  @extend .button;
}

.ipa-share {
  @extend .button--primary-raised-dark;

  &::before {
    @extend %collecticon-share-2;
  }
}

.ipa-print {
  @extend .button--primary-raised-dark;

  &::before {
    @extend %collecticon-printer;
  }
}


/* Nav
   ========================================================================== */

.inpage__nav {
  position: relative;
  z-index: 10;
  background: #fff;
  padding: ($global-spacing * 2) 0;
  box-shadow: 0 $base-border-width 0 0 $base-alpha-color;

  /* Animation */
  transition: all 0.24s ease-in-out 0s;

  &--sticky {
    box-shadow: 0 0 0 ($base-border-width / 2) rgba($base-color, 0.08), 0 ($base-border-width * 2) 0 0 rgba($base-color, 0.06);
    padding: $global-spacing 0;
  }

  > .inner {
    @extend .row, .row--centered;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &.inpage__nav--sticky {
    > .inner {
      align-items: flex-end;
    }
  }
}

.nav__headline {
  margin-right: $global-spacing;

  /* Animation */
  animation: reveal 0.48s ease-in-out 0s 1;

  > *:last-child {
    margin-bottom: 0;
  }
}

.nav__title {
  @include heading(1.25rem);
  text-transform: uppercase;
}

.nav__subtitle {
  margin: (-$global-spacing / 2) 0 (-$global-spacing / 8) (-$global-spacing / 2);

  a {
    @extend .button, .button--small, .button--base-plain;

    &::after {
      @extend %collecticon-sm-chevron-right;
      font-size: 0.875rem;
      margin: 0;
    }
  }
}

.nav__block {
  display: flex;
  align-items: center;
}

.nav__drop-trigger {
  @extend .button, .button--base-raised-semidark, .drop__toggle, .drop__toggle--caret;
  min-width: 18rem;
  display: inline-flex;

  /* Animation */
  animation: reveal 0.48s ease-in-out 0s 1;

  &::after {
    margin-left: auto;
  }
}


/* Sections menu */

.sections-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0 0 0 (-$global-spacing / 2);

  /* Animation */
  animation: reveal 0.48s ease-in-out 0s 1;

  > *:not(:last-child) {
    margin-right: $global-spacing / 2;
  }
}

.sections-menu__link {
  @extend .button, .button--small, .button--base-plain;

  &--active {
    @extend .button--active;
  }
}


/* Body
   ========================================================================== */

.inpage__body {
  padding: ($global-spacing * 4) 0;

  > .inner {
    @extend .row, .row--centered;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 ($global-spacing * 2);
    justify-content: flex-start;
  }
}

.col--main {
  grid-column: 1 / span 8;
}

.col--sec {
  grid-column: auto / span 4;
}

.col--full {
  grid-column: 1 / span 12;
}

.col--diptic {
  grid-column: auto / span 6;
  grid-row: 1 / auto;
}

.blk {
  padding-bottom: $global-spacing * 2;
  margin-bottom: $global-spacing * 2;
  box-shadow: 0 1px 0 0 $base-alpha-color;

  > h1 {
    @extend .heading--xxsmall;
  }

  dl {
    > :last-child {
      margin-bottom: 0;
    }
  }

  dd {
    margin-bottom: ($global-spacing / 2);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
}
