/* ==========================================================================
   Global: inpage
   ========================================================================== */

.inpage__header {
  position: relative;

  > .inner {
    @extend .row, .row--centered;
    position: relative;
    z-index: 2;
  }

  .page--has-hero & {
    @extend .antialiased;
    color: #fff;
    background: $base-color;
    padding: ($global-spacing * 8) 0 ($global-spacing * 6) 0;
  }
}

.inpage__headline {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  > * {
    grid-column: auto / span 8;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__subtitle {
  font-size: 0.875rem;
  line-height: 1rem;
  margin: ($global-spacing / 4) 0;
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.inpage__title {
  margin-bottom: $global-spacing * 2;
}

.inpage__details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: ($global-spacing * 2) ($global-spacing * 6);
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;

  strong {
    display: block;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.25rem;
  }

  sub {
    font-size: 50%;
    vertical-align: 0.25em;
  }

  span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    display: block;
  }
}

.inpage__hero {
  margin: 0;
  padding: 0;

  &, &-item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-caption {
    @extend .visually-hidden;
  }
}

.inpage__nav {
  background: #fff;
  box-shadow: 0 1px 0 0 $base-alpha-color;

  > .inner {
    @extend .row, .row--centered;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.inpage__body {
  padding: ($global-spacing * 6) 0;

  > .inner {
    @extend .row, .row--centered;
  }
}
