/* ==========================================================================
   Global: lists
   ========================================================================== */

/* Card list
   ========================================================================== */

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: ($global-spacing * 2) ($global-spacing * 2);

  > * {
    grid-column: auto / span 4;
  }
}


/* Logo list
   ========================================================================== */

.logo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 0;

  li {
    display: inline-block;
    margin: $global-spacing $global-spacing 0 0;
    vertical-align: top;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    text-align: center;
    background: rgba($base-color, 0.04);
    border-radius: $base-border-radius;
    padding: ($global-spacing / 2) ($global-spacing * 1.5);
    width: 12rem;
    height: 5rem;
    line-height: 4rem;
  }

  span {
    @extend .visually-hidden;
  }

  img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 3rem;
    opacity: 0.8;
  }

  /* Compensate USAID logo proportions and alignment */
  .logo-usaid img {
    transform: translate(0, 0.5em);
    max-height: 1.75rem;
  }

  /* Compensate DevSeed logo proportions and alignment */
  .logo-devseed img {
    max-height: 2rem;
  }
}
