/* ==========================================================================
   Global: page
   ========================================================================== */

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: ($global-spacing * 2) 0;
  background: $accent-color;
  color: #fff;
  text-shadow: 0 0 8px rgba($base-color, 0.64);

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    pointer-events: none;
  }

  &::before {
    background-image: url(../graphics/layout/hero--cover.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: 1;
  }

  &::after {
    background: rgba($base-color, 0.16);
    z-index: 2;
  }

  .page--has-hero & {
    position: absolute;
    background: none;
    color: #fff;

    &::before,
    &::after {
      display: none;
    }
  }

  > * {
    position: relative;
    z-index: 3;
  }

  > .inner {
    @extend .row, .row--centered;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: inherit;
  }
}

.page__title {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;

  @include media(large-up) {
    font-size: 1.5rem;
  }

  a {
    display: block;
  }

  em {
    font-style: normal;
    opacity: 0.64;
  }
}

.page__prime-nav {
  display: flex;
  margin: 0 (-0.75rem) 0 auto;
  color: inherit;
  padding-left: $global-spacing;
}

/* Global menu */

.global-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding-left: $global-spacing;

  > *:not(:last-child) {
    margin-right: $global-spacing / 2;
  }
}

.global-menu__link {
  @extend .button, .button--achromic-plain;
  text-shadow: 0 0 8px rgba($base-color, 0.64);

  &--active {
    @extend .button--active;
  }
}


/* Body
   ========================================================================== */

.page__body {
  flex: 1;
  display: flex;
  flex-flow: column;
}


/* Footer
   ========================================================================== */

.page__footer {
  position: relative;
  z-index: 10;
  font-family: $heading-font-family;
  background: tint($base-color, 96%);
  padding: ($global-spacing * 2) 0;
  box-shadow: 0 (-$base-border-width) 0 0 $base-alpha-color;

  @include media(large-up) {
    padding: ($global-spacing * 2) 0;
  }

  > .inner {
    @extend .row, .row--centered;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 ($global-spacing * 2);

    > *:last-child {
      margin-bottom: 0
    }
  }
}

.footer__block {
  grid-row: 1 / auto;
}

.footer__title {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 56%);
  text-transform: uppercase;
  margin-bottom: $global-spacing / 2;
}

.footer__block--nav {
  grid-column: auto / span 4;

  @include media(large-up) {
    grid-column: auto / span 6;
  }

  @include media(xlarge-up) {
    grid-column: auto / span 5;
  }
}

.footer__block--newsletter {
  grid-column: auto / span 4;

  @include media(large-up) {
    grid-column: auto / span 3;
  }

  p {
    margin-bottom: $global-spacing / 2;
    color: rgba($base-color, 0.48);
  }

  .form__label {
    @extend .visually-hidden;
  }

  .form__help {
    margin-bottom: -1.5rem;

    > * {
      margin-bottom: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.footer__block--supporters {
  grid-column: auto / span 4;

  @include media(large-up) {
    grid-column: auto / span 3;
  }

  @include media(xlarge-up) {
    grid-column: auto / span 4;
  }

  .logo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 ($global-spacing / 2);

    li {
      margin: 0;
    }
  }
}

.footer__credits {
  padding-top: $global-spacing * 2;
  margin-top: $global-spacing * 2;
  color: rgba($base-color, 0.48);
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  box-shadow: inset 0 ($base-border-width / 2) 0 0 rgba($base-color, 0.08);

  * {
    margin-bottom: 0;
  }
}

/* Footer menu */

.footer-menu {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0 0 0 (-0.75rem);

  @include media(large-up) {
    flex-flow: row nowrap;
  }

  > *:not(:last-child) {
    margin-right: $global-spacing / 2;
  }
}

.footer-menu__link {
  @extend .button, .button--base-plain;

  &--active {
    @extend .button--active;
  }
}
