{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9 eq-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  
  {% include meta.html %}

  <link rel="shortcut icon" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.domain }}{{ site.path_prefix }}/assets/images/meta/apple-touch-icon-152x152.png" />

  <link type="text/plain" rel="author" href="{{ site.domain }}{{ site.path_prefix }}/humans.txt" />
  <link rel="stylesheet" href="{{ site.domain }}{{ site.path_prefix }}/assets/styles/main.css">
  
  {% include link_alternate.html %}

  <!--[if lte IE 9]>
    <script src="//cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.min.js" slave="{{ site.pdbproxy }}/proxy.html"></script>
  <![endif]-->

  <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/modernizr.custom.2.8.3.js"></script>
  <!--[if lt IE 9]>
    <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/selectivizr-1.0.3b.js"></script>
    <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/respond.min.js"></script>
    <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/rem.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  <![endif]-->

  <!--[if gt IE 8]><!-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/jquery-2.1.0.min.js"><\/script>');</script>
  <!--<![endif]-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.min.js"></script>
    <script>window.angular || document.write('<script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/angular-deps.min.js"><\/script>');</script>
  <script>
    var CS = { lang: '{{language}}', domain: '{{ site.path_prefix }}', policyProxy: '{{ site.pdbproxy }}' };
  </script>
</head>
<body>

  <!--[if lt IE 8]>
    <div id="nocando">
      <h1>Your browser is not supported.</h1>
      <p>To view this website, we recommend using the <strong>latest version</strong> of Chrome, Safari or Firefox.</p>
      <p>Here: <a href="http://browsehappy.com/" title="Visit Broser happy">upgrade your browser</a>!</p>
    </div>
  <![endif]-->
  
  <!--[if IE 8]>
    <div id="ie8-nocando">
      <p>{{ t['To enjoy a full experience'][language] }} <a href="http://browsehappy.com/" title="{{ t['Visit Browser happy'][language] }}">{{ t['upgrade your browser'][language] }}</a>.</p>
    </div>
  <![endif]-->

  <div id="site-canvas">
    <header id="site-header" role="banner">
      <div class="row--contained">
        <div id="site-headline">
          <h1 id="site-title"><a title="{{ site.name[language] }} {{ site.edition }}" href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/">{{ site.name[language] }} <em>{{ site.edition }}</em></a></h1>
        </div>
        <nav id="prime-nav" role="navigation">
          {% include menu.html %}
        </nav>
      </div>
      {% if page.id == 'index' %}
        {% include intro.html %}
      {% endif %}
    </header>

    <main id="site-body" role="main">
      {{ content }}
    </main>

    {% include 2016_updates.html %}

    {% include know_your_user_modal.html %}

    {% include footer.html %}
  </div>

  {% include language_index.html %}
  <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/main.min.js"></script>
  {% if layout.conf.include_map or page.include_map %}
  <!--[if gt IE 8]><!-->
    <script src="{{ site.domain }}{{ site.path_prefix }}/assets/scripts/vendor/map-dependencies.min.js"></script>
    <script>CS.gtIE8 = true;</script>
  <!--<![endif]-->
  {% endif %}
</body>
</html>
