---
layout: entry

conf:
  type: country
  subtitle:
    en: Country
    es: Pais
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

{% assign col = site.collections['en_state'].i18n[language] %}
{% assign has_states = false %}
{% for state in site[col] %}
  {% if state.country == page.id %}
    {% assign has_states = true %}
  {% endif %}
{% endfor %}

<script>
    CS.countryId = '{{page.id}}';
    CS.grid = '{{page.grid}}';
    CS.countryHasStates = {{has_states}};
</script>

<div>
  <div class="row--full intro">
    <div class="row--contained">
      <dl class="meta-details" ng-controller="ProfileController as profCtrl" ng-cloak>
        
        <dt ng-repeat-start="indicator in profCtrl.data.indicators">%% indicator.name %%</dt>
        <dd ng-repeat-end>%% profCtrl.getIndicatorValue(indicator) %%</dd>
  
      </dl>
      {% include static_map.html %}
    </div>
  </div>
  
  <div class="row--contained">
  
    <div class="col--main prose-copy" ng-controller="DescriptionController as descCtrl">
      <h2>{{ t['Description'][language] }}</h2>

      <div class="description-inner expandable" data-hook="expand-description">
        <div class="expandable-wrapper">
          {{ content }}
        </div>
      </div>

      <div class="prose-copy-actions">
        <a class="bttn bttn-cta" href="" ng-init="descCtrl.checkExpandable('[data-hook=\'expand-description\']')" ng-click="descCtrl.toggleExpandable('[data-hook=\'expand-description\']', $event)" title="{{ t['View more'][language] }}">{{ t['View more'][language] }}</a>
      </div>

      <div class="prose-copy-graph">
        <h2>{{ t['Performance over time'][language] }}</h2>
        <div id="score-summary" class="chart-std score-summary" init-chart="score-summary" chart-data="descCtrl.chartSummary"><!-- Chart --></div>
      </div>

    </div>
  
    <div class="col--sec prose-copy" ng-controller="StatsController as statsCtrl" ng-cloak>
      <section class="sec-section">
        <h2 class="sec-section__title">{{ t['Performance'][language] }}</h2>
        <dl class="stats-list">
          <dt>{{ t['Overall Rank'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.overall_ranking | leadingZero:2 %%</dd>
          <dt>{{ t['Score'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.value | round:2 %%</dd>
        </dl>
        <ul class="ctas-list">
          <li><a class="bttn bttn-cta go" href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/compare/#?compare={{ page.id }}" title="{{ t['Compare with'][language] }}">{{ t['Compare with'][language] }}</a></li>
        </ul>
      </section>

      {% include policies_stats.html %}

      <nav class="sec-nav" ng-if="statsCtrl.states.length > 0">
        <h2 class="sec-nav__title">States</h2>
        <ul class="sec-menu">
          <li ng-repeat="state in statsCtrl.states">
            <a href="%% statsCtrl.getStateUrl(state) %%" title="{{ t['Go to state page'][language] }}">%% state.name %%</a>
          </li>
        </ul>
      </nav>
    </div>
  
  </div>
  
  <div class="row--contained">
    
    <!-- Template for the In Detail tab -->
    <script type="text/ng-template" id="enabling-framework.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>

    <script type="text/ng-template" id="financing-investments.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>

    <script type="text/ng-template" id="value-chains.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>

    <script type="text/ng-template" id="ghg-management.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>

    <!-- END TEMPLATES -->
    
    <ul class="nav nav-tabs" role="tablist" id="section-switch" ng-controller="CountryTabsController as navCtrl">
      <li ng-class="{active: navCtrl.isActive('enabling-framework')}">
        <a href="#/enabling-framework" title="{{ t['View Enabling framework'][language] }}"><span>Enabling</span> <span>framework</span></a>
      </li>
      <li ng-class="{active: navCtrl.isActive('financing-investments')}">
        <a href="#/financing-investments" title="{{ t['View Financing & Investment'][language] }}"><span>Financing &</span> <span>Investment</span></a>
      </li>
      <li ng-class="{active: navCtrl.isActive('value-chains')}">
        <a href="#/value-chains" title="{{ t['View Value Chains'][language] }}"><span>Value</span> <span>Chains</span></a>
      </li>
      <li ng-class="{active: navCtrl.isActive('ghg-management')}">
        <a href="#/ghg-management" title="{{ t['View GHG Management'][language] }}"><span>GHG</span> <span>Management</span></a>
      </li>
    </ul>
    <div ng-view></div>
  
  </div>
</div>
