---
layout: entry

conf:
  type: country
  subtitle:
    en: Country
    es: Pais
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

{% assign col = site.collections['en_state'].i18n[language] %}
{% assign has_states = false %}
{% for state in site[col] %}
  {% if state.country == page.id %}
    {% assign has_states = true %}
  {% endif %}
{% endfor %}

<script>
    CS.countryId = '{{page.id}}';
    CS.grid = '{{page.grid}}';
    CS.countryHasStates = {{has_states}};
</script>

<div ng-app="countryApp">
  <div class="row--full intro">
    <div class="row--contained">
      <dl class="meta-details" ng-controller="ProfileController as profCtrl" ng-cloak>
        
        <dt ng-repeat-start="indicator in profCtrl.data.indicators">%% indicator.name %%</dt>
        <dd ng-repeat-end>%% profCtrl.getIndicatorValue(indicator) %%</dd>
  
      </dl>
      {% include static_map.html %}
    </div>
  </div>
  
  <div class="row--contained">
  
    <div class="col--main prose-copy" ng-controller="DescriptionController as descCtrl">
      <h2>{{ t['Description'][language] }}</h2>

      <div class="description-inner expandable" data-hook="expand-description">
        <div class="expandable-wrapper">
          {{ content }}
          <div id="score-summary" class="chart-std score-summary" init-chart="score-summary" chart-data="descCtrl.chartSummary"><!-- Chart --></div>
        </div>
      </div>

      <div class="prose-copy-actions">
        <a class="bttn bttn-cta" href="" ng-init="descCtrl.checkExpandable('[data-hook=\'expand-description\']')" ng-click="descCtrl.toggleExpandable('[data-hook=\'expand-description\']', $event)" title="{{ t['View more'][language] }}">{{ t['View more'][language] }}</a>
      </div>

    </div>
  
    <div class="col--sec prose-copy" ng-controller="StatsController as statsCtrl" ng-cloak>
        <h2>{{ t['Performance'][language] }}</h2>
        <dl class="stats-list">
          <dt>{{ t['Overall Rank'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.overall_ranking | leadingZero:2 %%</dd>
          <dt>{{ t['Score'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.value | round:2 %%</dd>
        </dl>
        <ul class="ctas-list">
          <li><a class="bttn bttn-cta go" href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/compare/#?compare={{ page.id }}" title="{{ t['Compare with'][language] }}">{{ t['Compare with'][language] }}</a></li>
        </ul>

        {% include policies_stats.html %}

    </div>
  
  </div>
  
  <div class="row--contained">
    
    <!-- Template for the In Detail tab -->
    <script type="text/ng-template" id="in_detail.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>
    
    <!-- Template for the States tab -->
    <script type="text/ng-template" id="states.html">
      {% include state_list_table.html %}
    </script>
    
    <!-- Template for the Case Study tab -->
    <!-- <script type="text/ng-template" id="case_study.html">
      <section id="country-case-study">
        <h1 class="visually-hidden">Case Study</h1>
        <div class="prose">
          <p>Case Study content</p>
        </div>
      </section>
    </script> -->
    
    <!-- END TEMPLATES -->
    
    {% if has_states %}
    <ul class="nav nav-tabs" role="tablist" id="section-switch" ng-controller="CountryTabsController as navCtrl">
      <li ng-class="{active: navCtrl.isActive('details')}"><a href="#/details" title="{{ t['View in detail'][language] }}">{{ t['In detail'][language] }}</a></li>
      {% if page.id == 'in' %}
        <li ng-class="{active: navCtrl.isActive('states')}"><a href="#/states" title="{{ t['View states'][language] }}">{{ t['States'][language] }}</a></li>
      {% endif %}
      <!-- <li ng-class="{active: navCtrl.isActive('case_study')}"><a href="#/case-study" title="Case study">Case study</a></li> -->
    </ul>
    {% endif %}
    <div ng-view></div>
  
  </div>
</div>
