---
layout: base
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

<article class="layout--page {{ page.arrange }}">
  <header class="layout--page__header">
    <div class="row--contained">
      <div class="layout--page__heading">
        <h1 class="layout--page__title">{{ page.title }}</h1>
      </div>
      <div class="layout--page__tools">
        {% include actions_menu.html download_exc=true %}
      </div>
    </div>
  </header>

  <div class="layout--page__body">
    <div class="row--contained">
      <div class="col--main prose-copy">
        {{content}}
      </div>

      <div class="col--sec">
        {% if page.id == 'summary' %}
        {% include sec-nav-topics.html %}
        {% include sec-nav-regions.html %}
        {% endif %}
      </div>

    </div>
  </div>

</article>
