---
layout: base
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

<article class="layout--page">
  <header class="layout--page__header">
    <div class="row--contained">
      <div class="layout--page__heading">
        <h1 class="layout--page__title">Off-grid Quarterly Reports</h1>
        <p class="hd-label">{{ page.date | date: '%b %-d, %Y' }}</p>
      </div>
      <div class="layout--page__tools">
        {% include actions_menu.html download_exc=true %}
      </div>
    </div>
  </header>

  <div class="layout--page__body">
    <div class="row--contained"> 
      <div class="col--main prose-copy">
        {{content}}
      </div>
      <div class="col--main">
        {% assign blogPosts = site.en_off-grid %}
        {% include pager.html posts=blogPosts for='en_off-grid' reversed %}
      </div>
    </div>
  </div>
</article>
