---
layout: base
title : Global
id: index
lang: en

include_map: true
---
<section class="layout--home">
  <header class="layout--home__header sticky" id="parameters-controls">
    <div class="row--contained">
      <div class="layout--home__heading">
        <h1 class="layout--home__title visually-hidden">{{ page.title }}</h1>
      </div>
      <div class="layout--home__tools">
        {% include weight_changers.html %}
      </div>
    </div>
  </header>

  <div class="layout--home__body">
    <div id="index-viz" class="row--full intro"><!-- Insert map here. --></div>

    <div class="row--contained">
      {% include country_state_index.html %}
      {% include country_table.html %}
    </div>
  </div>
</section>
