---
layout: base
title : Index
id: index
lang: en
---
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script>
var domain = '{{site.domain}}';

  var app = angular.module('app', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });

  app.controller('TableListController', ['$http', function($http) {
    _self = this;
    this.countries = [];

    this.sortField = 'overall_ranking';
    this.sortReverse = false;
setTimeout(function(){
    $http.get(domain + '/en/api/countries.json').success(function(data) {
      _self.countries = data;
    });
    }, 1000);
    
    this.calc_bar_width = function(param, weight) {
      return ( param * weight * (100/5) ) + '%';
    };
    
  }]);

</script>

<style type="text/css" media="screen">
	.table-bar {
	  width: 300px;
	  list-style-type: none;
	  overflow: auto;
	}
	.table-bar li {
	  float: left;
	}
	.table-bar li:nth-child(1) {
	  background-color: red;
	}
	.table-bar li:nth-child(2) {
	  background-color: green;
	}
	.table-bar li:nth-child(3) {
	  background-color: blue;
	}
	.table-bar li:nth-child(4) {
	  background-color: yellow;
	}
</style>

<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">
  <div ng-app="app">

    <div ng-controller="TableListController as table" ng-cloak>
      <table border="1">
      <thead>
         <tr>
           <th><a href="" ng-click="sortField = 'overall_ranking'; sortReverse = !sortReverse">Overall rank</a></th>
           <th><a href="" ng-click="sortField = 'name'; sortReverse = !sortReverse">Country</a></th>
           <th><a href="" ng-click="sortField = 'score'; sortReverse = !sortReverse">Overall score</a></th>
           <th>0 -- 5</th>
           <th><a href="" ng-click="sortField = 'grid'; sortReverse = !sortReverse">Grid</a></th>
         </tr>
       </thead>
       <tbody ng-repeat="country in table.countries | orderBy:sortField:sortReverse">
         <tr>
           <td>//country.overall_ranking//</td>
           <td>//country.name//</td>
           <td>//country.score//</td>
           <td>
             <ul class="table-bar">
             	<li style="width: //table.calc_bar_width(country.parameters[0].value, 0.4)//"><span class="visually-hidden">// country.parameters[0].value //</span>&nbsp;</li>
             	<li style="width: //table.calc_bar_width(country.parameters[1].value, 0.3)//"><span class="visually-hidden">// country.parameters[1].value //</span>&nbsp;</li>
             	<li style="width: //table.calc_bar_width(country.parameters[2].value, 0.1)//"><span class="visually-hidden">// country.parameters[2].value //</span>&nbsp;</li>
             	<li style="width: //table.calc_bar_width(country.parameters[3].value, 0.2)//"><span class="visually-hidden">// country.parameters[3].value //</span>&nbsp;</li>
             </ul>
           <td>//country.grid//</td>
         </tr>
         
         <tr ng-repeat="state in country.states | orderBy:'state_ranking'">
           <td>//state.state_ranking// (state)</td>
           <td>//state.name//</td>
           <td>//state.score//</td>
           <td>
             <ul class="table-bar">
              <li style="width: //table.calc_bar_width(state.parameters[0].value, 0.4)//"><span class="visually-hidden">// state.parameters[0].value //</span>&nbsp;</li>
              <li style="width: //table.calc_bar_width(state.parameters[1].value, 0.3)//"><span class="visually-hidden">// state.parameters[1].value //</span>&nbsp;</li>
              <li style="width: //table.calc_bar_width(state.parameters[2].value, 0.1)//"><span class="visually-hidden">// state.parameters[2].value //</span>&nbsp;</li>
              <li style="width: //table.calc_bar_width(state.parameters[3].value, 0.2)//"><span class="visually-hidden">// state.parameters[3].value //</span>&nbsp;</li>
             </ul>
           <td></td>
         </tr>
         
       </tbody>
      </table>
    </div>

  </div>
</div>
