---
layout: base
title : Index
id: index
lang: en
---
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script>
var domain = '{{site.domain}}';

  var app = angular.module('app', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });

  app.controller('TableListController', ['$http', function($http) {
    _self = this;
    this.countries = [];

    this.sortField = 'overall_ranking';
    this.sortReverse = false;

    $http.get(domain + '/en/api/countries.json').success(function(data) {
      _self.countries = data;
    });
  }]);

</script>

<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">
  <div ng-app="app">

    <div ng-controller="TableListController as table">
      <table border="1">
       <tr>
         <th><a href="" ng-click="sortField = 'overall_ranking'; sortReverse = !sortReverse">Overall rank</a></th>
         <th><a href="" ng-click="sortField = 'name'; sortReverse = !sortReverse">Country</a></th>
         <th><a href="" ng-click="sortField = 'score'; sortReverse = !sortReverse">Overall score</a></th>
         <th><a href="" ng-click="sortField = 'parameters[0].value'; sortReverse = !sortReverse">Enabling framework</a></th>
         <th><a href="" ng-click="sortField = 'parameters[1].value'; sortReverse = !sortReverse">Financing</a></th>
         <th><a href="" ng-click="sortField = 'parameters[2].value'; sortReverse = !sortReverse">Value chains</a></th>
         <th><a href="" ng-click="sortField = 'parameters[3].value'; sortReverse = !sortReverse">Carbon offset</a></th>
         <th><a href="" ng-click="sortField = 'grid'; sortReverse = !sortReverse">Grid</a></th>
       </tr>
       <tr ng-repeat="country in table.countries | orderBy:sortField:sortReverse">
         <td>//country.overall_ranking//</td>
         <td>//country.name//</td>
         <td>//country.score//</td>
         <td>//country.parameters[0].value//</td>
         <td>//country.parameters[1].value//</td>
         <td>//country.parameters[2].value//</td>
         <td>//country.parameters[3].value//</td>
         <td>//country.grid//</td>
       </tr>
      </table>
    </div>

  </div>
</div>
