---
layout: base
permalink: en/policies/index.html
title : Policies
id: policies
lang: en
---
<script>
(function() {
  
  // All the results from the API come in object format.
  // Repeats can't be sorted when looping over objects
  // Since we don't need the object key, we can safely
  // convert to array.
  // Another approach: http://justinklemm.com/angularjs-filter-ordering-objects-ngrepeat/
  var objToArray = function(obj) {
    var arr = [];
    angular.forEach(obj, function(value) {
      arr.push(value);
    });
    return arr;
  };
  
  var app = angular.module('policyApp', ['ngRoute'], function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });
  
   app.config(['$routeProvider', function($routeProvider) {
    $routeProvider.when('/', {
        templateUrl: 'policy_list.html',
        controller: 'policyListController',
        controllerAs: 'policyListCtrl',
        reloadOnSearch: false
      })
      .when('/policy/:policyId', {
        templateUrl: 'policy.html',
        controller: 'policyController',
        controllerAs: 'policyCtrl'
      })
      .otherwise({
        redirectTo: '/'
      });
  }]);
  
  app.controller('policyListController', ['$http', '$routeParams', function($http, $routeParams) {
  }]);

  app.controller('policyFiltersController', ['$http', '$filter', '$rootScope', '$location', function($http, $filter, $rootScope, $location) {
    var _self = this;
    
    this.filterData = {};
    
    this.filters = {
      country: null,
      status: null,
      subsector: null,
      state: null
    };
    
    this.filtersEnabled = false;
    
    // Get the ordered options.
    // This could be done in the html but it's more organised like this.
    this.getSelectOpts = function(field) {
      var data = objToArray(field);
      return $filter('orderBy')(data, 'name');
    };
    
    // Get the filtered options.
    // This could be done in the html but it's more organised like this.
    this.getSelectOptsState = function(field) {
      var data = objToArray(field);
      var filtered = $filter('filter')(data, {countyId: _self.filters.country});
      return $filter('orderBy')(filtered, 'name');
    };
    
    this.disableFilters = function() {
      _self.filtersEnabled = false;
      // Set every filter to null.
      for (var key in _self.filters) {
        _self.filters[key] = null;
      }
      
      $location.search(_self.filters);
      $rootScope.$broadcast('apply-filters', _self.filters);
    };
    
    this.apply = function() {
      // Check if filters are enabled.
      _self.filtersEnabled = false;
      angular.forEach(_self.filters, function(value) {
        if (value != null) {
          _self.filtersEnabled = true;
        }
      });
      
      $location.search(_self.filters);
      $rootScope.$broadcast('apply-filters', _self.filters);
    };
    
    $http.get('http://splinter.fs/climatescope/policy/filter').success(function(data) {
      _self.filterData = data;
    });
    
    // Check if there are filters in the url.
    if (!angular.equals({}, $location.search())) {
      // Set already preset filters.
      angular.extend(_self.filters, $location.search());
      _self.filtersEnabled = true;
      
      // Both the status and subsector have numeric values
      // but when they come from the url they are string.
      // They must be converted to integers in order to work.
      if (_self.filters.status) {
        _self.filters.status = parseInt(_self.filters.status);
      }
      if (_self.filters.subsector) {
        _self.filters.subsector = parseInt(_self.filters.subsector);
      }
    }
  }]);

  app.controller('policyTableController', ['$http', '$scope', '$location', function($http, $scope, $location) {
    var _self = this;
    
    this.filters = {};
    this.policies = {};
    
    this.getPolicyLink = function(policy) {
      return '#/policy/' + policy.id;
    };

    var getPolicies = function() {
      var queryString = [];
      angular.forEach(_self.filters, function(value, key) {
        if (value !== null) {
          queryString.push(key + '=' + value);
        }
      });
      
      if (queryString.length) {
        queryString = '?' + queryString.join('&');
      }
      else {
        queryString = '';
      }
      
      $http.get('http://splinter.fs/climatescope/policy' + queryString).success(function(data) {
        _self.policies = objToArray(data);
      });
    };

    $scope.$on('apply-filters', function(event, filters) {
      _self.filters = filters;
      getPolicies();
    });
    
    // Check if there are filters in the url.
    if (!angular.equals({}, $location.search())) {
      // Set already preset filters.
      angular.extend(_self.filters, $location.search());
    }
    
    getPolicies();
  }]);

  app.controller('policyController', ['$http', '$routeParams', function($http, $routeParams) {
    var _self = this;
    this.policy = {};
    
    $http.get('http://splinter.fs/climatescope/policy/' + $routeParams.policyId).success(function(data) {
      _self.policy = data;
    });
  }]);
  
})();
</script>

<section class="layout--policies" ng-app="policyApp">
  
  <!-- Template for the policy hub -->
  <script type="text/ng-template" id="policy_list.html">
  <header class="layout--policies__header">
    <div class="row--contained">
      <div class="layout--policies__heading">
        <h1 class="layout--policies__title">{{ page.title }}</h1>
      </div>
      <div class="layout--policies__tools" ng-controller="policyFiltersController as filterCtrl">
        <div>
          //filterCtrl.filters | json//
        </div>
        <div ng-show="filterCtrl.filtersEnabled == true">Filters are enabled. <a href="" ng-click="filterCtrl.disableFilters()">disable</a></div>
        
        <label for="policy_country">
          Country:
          <select id="policy_country" name="policy_country" ng-model="filterCtrl.filters.country" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.country)" ng-change="filterCtrl.filters.state = null">
            <option value="">-- Any --</option>
          </select>
        </label>
        
        <label for="policy_state">
          State:
          <select id="policy_state" name="policy_state" ng-model="filterCtrl.filters.state" ng-options="value.id as value.name for value in filterCtrl.getSelectOptsState(filterCtrl.filterData.state)" ng-disabled="!filterCtrl.getSelectOptsState(filterCtrl.filterData.state).length">
            <option value="">-- Any --</option>
          </select>
        </label>

        <label for="policy_status">
          Status:
          <select id="policy_status" name="policy_status" ng-model="filterCtrl.filters.status" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.status)">
            <option value="">-- Any --</option>
          </select>
        </label>
        
        <label for="policy_subsector">
          subsector:
          <select id="policy_subsector" name="policy_subsector" ng-model="filterCtrl.filters.subsector" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.subsector)">
            <option value="">-- Any --</option>
          </select>
        </label>
        
        <button ng-click="filterCtrl.apply()">Apply</button>

      </div>
    </div>
  </header>

  <div class="layout--policies__body">
    <div class="row--contained" ng-controller="policyTableController as tableCtrl">
      
      <table class="table" ng-show="tableCtrl.policies.length > 0">
        <thead>
          <tr>
            <th><a href="" ng-click="sortField = 'name'; sortReverse = !sortReverse">Policy Name</a></th>
            <th><a href="" ng-click="sortField = 'country[0].name'; sortReverse = !sortReverse">Country</a></th>
            <th><a href="" ng-click="sortField = 'type.mechanism[0].name'; sortReverse = !sortReverse">Policy Mechanism</a></th>
            <th><a href="" ng-click="sortField = 'status.name'; sortReverse = !sortReverse">Status</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="policy in tableCtrl.policies">
           <td><a href="//tableCtrl.getPolicyLink(policy)//">//policy.name//</a></td>
           <td>//policy.country[0].name//</td>
           <td>//policy.type.mechanism[0].name//</td>
           <td>//policy.status.name//</td>
          </tr>
        </tbody>
      </table>
      
      <div ng-show="tableCtrl.policies.length == 0">No results</div>
      
    </div>
  </div>
  </script>
  
  <!-- Template for the policy -->
  <script type="text/ng-template" id="policy.html">
    <header class="layout--policies__header">
      <div class="row--contained">
        <div class="layout--policies__heading">
          <h1 class="layout--policies__title">//policyCtrl.policy.name//</h1>
        </div>
      </div>
    </header>

    <div class="layout--policies__body">
      <div class="row--contained">
        //policyCtrl.policy | json//
      </div>
    </div>
  </script>
  
  <div ng-view></div>

</section>
