/* ==========================================================================
   Compare: Global
   ========================================================================== */

.inpage--compare {
  .inpage__header {
    padding-bottom: 0;
  }
}

.compare--entry__subtitle {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 56%);
  margin-bottom: 0;

  a {
    color: inherit;
  }
}

.compare--entry__title {
  @include heading(2rem);
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-bottom: $global-spacing;

  a {
    color: inherit;
  }

  .label {
    margin: 0.5rem ($global-spacing / 2);
    padding: ($global-spacing / 8) ($global-spacing / 1.5);
  }
}

.compare--entry {
  .legend--compare {
    margin: 0;

    dd, dt {
      padding-top: ($global-spacing / 2);
      padding-bottom: ($global-spacing / 2);
      border-bottom: 1px solid $base-alpha-color;
      line-height: 2.5rem;
    }

    dd {
      font-size: 2rem;
      margin-top: calc(-3.5rem - 1px);

      small {
        display: none;
      }
    }

    dt {
      margin-left: 6.5rem;
    }
  }

  // Ensure cards always span 3 cols
  .info-card--large {
    grid-column: auto / span 3;
  }

  // Override for availability of policies.
  .chart-availability-policies .card-percent-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: ($global-spacing * 2) $global-spacing;

    @include media(xlarge-up) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .par-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: ($global-spacing * 4);
    background: none;
  }

  .schart__graph {
    height: 18rem;
  }

  .info-card--light {
    padding: 0;
  }

  .card-percent-list {
    padding: 0 ($global-spacing * 2);
  }
}
