/* ==========================================================================
   Static: global
   ========================================================================== */

.embedded-content {
  display: flex;
  justify-content: center;
}
