{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

{% assign en_coll = site.collections[page.collection].i18n.en %}
{% case en_coll %}
{% when 'en_country' or 'en_state' %}
  {% capture dlink %}{{ site.domain }}/{{ language }}/download/countries/climatescope-{{ page.id }}.csv{% endcapture %}
{% when 'en_region' %}
  {% capture dlink %}{{ site.domain }}/{{ language }}/download/regions/climatescope-{{ page.id }}.csv{% endcapture %}
{% when 'en_parameter' %}
  {% capture dlink %}{{ site.domain }}/{{ language }}/download/parameters/climatescope-{{ page.id }}.csv{% endcapture %}
{% endcase %}

<ul class="actions-menu">
{% case language %}
{% when 'en' %}

  {% if include.download_exc != true and page.id != 'policies' %}
    <li class="dropdown">
      <a href="#" title="Download data" class="bttn bttn-success dropdown-toggle download" data-toggle="dropdown">Download</a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="{{ dlink }}" title="Download raw data">Raw data (CSV)</a></li>
      </ul>
    </li>
  {% endif %}
  <li class="dropdown">
    <a href="#" title="Share on social networks" class="bttn bttn-success dropdown-toggle share" data-toggle="dropdown">Share</a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="https://twitter.com/share?url={{ site.domain }}{{ page.url }}" target="_blank" title="Share on Twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain }}{{ page.url }}" target="_blank" title="Share on Facebook">Facebook</a></li>
    </ul>
  </li>

{% when 'es' %}

  {% if include.download_exc != true and page.id != 'policies' %}
    <li class="dropdown">
      <a href="#" title="Descargar datos" class="bttn bttn-success dropdown-toggle download" data-toggle="dropdown">Descargar</a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="{{ dlink }}" title="Download raw data">Raw data (CSV)</a></li>
      </ul>
    </li>
  {% endif %}
  <li class="dropdown">
    <a href="#" title="Compartir en redes sociales" class="bttn bttn-success dropdown-toggle share" data-toggle="dropdown">Compartir</a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="https://twitter.com/share?url={{ site.domain }}{{ page.url }}" target="_blank" title="Compartir en Twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain }}{{ page.url }}" target="_blank" title="Compartir en Facebook">Facebook</a></li>
    </ul>
  </li>

{% endcase %}
</ul>
