<section class="layout--hub compare" ng-app="compareApp" ng-controller="compareController as compareCtrl">

  <header class="layout--hub__header">
    <div class="row--contained">
      <div class="layout--hub__heading">
        <h1 class="layout--hub__title">{{ t['Compare'][language] }}</h1>
      </div>
      <div class="layout--hub__tools" init-dropdown>
        {% include actions_menu.html download_exc=true %}
      </div>
      
      <div class="layout--hub__controls">

        <div class="control">
          <label class="control-title" for="country_with">{{ t['Country / state / province'][language] }}</label>
            <select class="sllt sllt-m admin-select" id="country_with" name="country_with" ng-model="compareCtrl.compare[0]">
            <option value="">{{ t['All'][language] }}</option>

            <option ng-repeat-start="country in compareCtrl.countries" ng-value="country.iso" ng-selected="country.iso == compareCtrl.compare[0]">%% country.name %%</option>
            <optgroup ng-repeat-end ng-if="country.states.length" label="%% compareCtrl.getOptgroupLabel(country) %%">
              <option ng-repeat="state in country.states" ng-value="state.iso" ng-selected="state.iso == compareCtrl.compare[0]">%% state.name %%</option>
            </optgroup>
          </select>
        </div>  

        <div class="control">
          <label class="control-title" for="country_with">{{ t['Country / state / province'][language] }}</label>
            <select class="sllt sllt-m admin-select" id="country_with" name="country_with" ng-model="compareCtrl.compare[1]">
            <option value="">{{ t['All'][language] }}</option>

            <option ng-repeat-start="country in compareCtrl.countries" ng-value="country.iso" ng-selected="country.iso == compareCtrl.compare[1]">%% country.name %%</option>
            <optgroup ng-repeat-end ng-if="country.states.length" label="%% compareCtrl.getOptgroupLabel(country) %%">
              <option ng-repeat="state in country.states" ng-value="state.iso" ng-selected="state.iso == compareCtrl.compare[1]">%% state.name %%</option>
            </optgroup>
          </select>
        </div>
          
        <div class="control">
          <button ng-click="compareCtrl.reset()" class="bttn bttn-default bttn-m restart hide-txt"><span>{{ t['Reset'][language] }}</span></button>
          <button ng-click="compareCtrl.apply()" class="bttn bttn-dark bttn-m">{{ t['Compare'][language] }}</button>
        </div>
        
      </div>
      
    </div>
  </header>

  <div class="layout--hub__body">
    <div class="row--contained">

      <!-- START column left -->
      <div class="col--double">
        <div class="compare--entry__heading" ng-if="compareCtrl.compareSelected[0]">
          <h1 class="compare--entry__title">%% compareCtrl.compareSelected[0].name %%</h1>
          <p class="compare--entry__subtitle">

            <!-- If showing a country, parent is a region -->
            <a ng-if="compareCtrl.compareSelected[0].region" ng-href="%% compareCtrl.getRegionUrl(compareCtrl.compareSelected[0].region.id) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[0].region.name %%">%% compareCtrl.compareSelected[0].region.name %%</a>

            <!-- If showing a state, parent is a country -->
            <a ng-if="compareCtrl.compareSelected[0].parent" ng-href="%% compareCtrl.getCountryUrl(compareCtrl.compareSelected[0].parent.iso) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[0].parent.name %%">%% compareCtrl.compareSelected[0].parent.name %%</a>

          </p>
          <em class="label-grid label-grid-on" ng-if="compareCtrl.compareSelected[0].grid == 'on'"><span>{{ t['On-grid'][language] }}</span></em>
          <em class="label-grid label-grid-off" ng-if="compareCtrl.compareSelected[0].grid == 'off'"><span>{{ t['Off-grid'][language] }}</span></em>

          <dl class="stats-list">
            <dt>{{ t['Global rank'][language] }}</dt>
            <dd>%% (compareCtrl.compareSelected[0].overall_ranking | round:2)  || '-' %%</dd>
            <dt>{{ t['State Rank'][language] }}</dt>
            <dd>%% (compareCtrl.compareSelected[0].state_ranking | round:2)  || '-' %%</dd>
            <dt>{{ t['Global score'][language] }}</dt>
            <dd>%% compareCtrl.compareSelected[0].score | round:2 %%</dd>

            <dt ng-repeat-start="param in compareCtrl.compareSelected[0].parameters" ng-class="'param-' + param.id">%% param.name %%</dt>
            <dd ng-repeat-end>%% param.value | round:2 %%</dd>
          </dl>

        </div>

        <!-- START params-->
        <div class="params" ng-if="compareCtrl.compareSelected[0]">
          <div class="param-details param-1">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['Enabling framework'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Installed capacity'][language] }}</figcaption>
                <div id="installed-capacity0" class="chart-std installed-capacity" init-chart="installed_capacity" iso="compareCtrl.compareSelected[0].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>

          <div class="param-details param-2">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['Financing & Investment'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Clean energy investments'][language] }}</figcaption>
                <div id="clean-energy-investments0" class="chart-std clean-energy-investments" init-chart="clean_energy_investments" iso="compareCtrl.compareSelected[0].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>

          <div class="param-details param-4">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['GHG Management'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Carbon offset'][language] }}</figcaption>
                <div id="carbon-offset0" class="chart-std carbon-offset" init-chart="carbon_offset" iso="compareCtrl.compareSelected[0].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>
        </div>
        <!-- END params-->

      </div>
      <!-- END column left -->

      <!-- START column right -->
      <div class="col--double">
        <div class="compare--entry__heading" ng-if="compareCtrl.compareSelected[1]">
          <h1 class="compare--entry__title">%% compareCtrl.compareSelected[1].name %%</h1>
          <p class="compare--entry__subtitle">

            <!-- If showing a country, parent is a region -->
            <a ng-if="compareCtrl.compareSelected[1].region" ng-href="%% compareCtrl.getRegionUrl(compareCtrl.compareSelected[1].region.id) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[1].region.name %%">%% compareCtrl.compareSelected[1].region.name %%</a>

            <!-- If showing a state, parent is a country -->
            <a ng-if="compareCtrl.compareSelected[1].parent" ng-href="%% compareCtrl.getCountryUrl(compareCtrl.compareSelected[1].parent.iso) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[1].parent.name %%">%% compareCtrl.compareSelected[1].parent.name %%</a>

          </p>
          <em class="label-grid label-grid-on" ng-if="compareCtrl.compareSelected[1].grid == 'on'"><span>{{ t['On-grid'][language] }}</span></em>
          <em class="label-grid label-grid-off" ng-if="compareCtrl.compareSelected[1].grid == 'off'"><span>{{ t['Off-grid'][language] }}</span></em>

          <dl class="stats-list">
            <dt>{{ t['Global rank'][language] }}</dt>
            <dd>%% (compareCtrl.compareSelected[1].overall_ranking | round:2)  || '-' %%</dd>
            <dt>{{ t['State Rank'][language] }}</dt>
            <dd>%% (compareCtrl.compareSelected[1].state_ranking | round:2)  || '-' %%</dd>
            <dt>{{ t['Global score'][language] }}</dt>
            <dd>%% compareCtrl.compareSelected[1].score | round:2 %%</dd>

            <dt ng-repeat-start="param in compareCtrl.compareSelected[1].parameters" ng-class="'param-' + param.id">%% param.name %%</dt>
            <dd ng-repeat-end>%% param.value | round:2 %%</dd>
          </dl>

        </div>

        <!-- START params-->
        <div class="params" ng-if="compareCtrl.compareSelected[1]">
          <div class="param-details param-1">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['Enabling framework'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Installed capacity'][language] }}</figcaption>
                <div id="installed-capacity1" class="chart-std installed-capacity" init-chart="installed_capacity" iso="compareCtrl.compareSelected[1].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>

          <div class="param-details param-2">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['Financing & Investment'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Clean energy investments'][language] }}</figcaption>
                <div id="clean-energy-investments1" class="chart-std clean-energy-investments" init-chart="clean_energy_investments" iso="compareCtrl.compareSelected[1].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>

          <div class="param-details param-4">
            <div class="param-details__header">
              <div class="param-details__heading">
                <h1 class="param-details__title">{{ t['GHG Management'][language] }}</h1>
              </div>
            </div>
            <div class="param-details__body">
              <figure class="chart-wrapper">
                <figcaption>{{ t['Carbon offset'][language] }}</figcaption>
                <div id="carbon-offset1" class="chart-std carbon-offset" init-chart="carbon_offset" iso="compareCtrl.compareSelected[1].iso"><!-- Chart --></div>
              </figure>
            </div>
          </div>
        </div>
        <!-- END params-->

      </div>
      <!-- END column right -->


    </div>
  </div> <!-- END layout--hub__body -->
</section>
