<section class="layout--hub compare" ng-app="compareApp" ng-controller="compareController as compareCtrl">

  <header class="layout--hub__header">
    <div class="row--contained">
      <div class="layout--hub__heading">
        <h1 class="layout--hub__title">{{ t['Compare'][language] }}</h1>
      </div>
      <div class="layout--hub__tools" init-dropdown>
        {% include actions_menu.html download_exc=true %}
      </div>
      
      <div class="layout--hub__controls">

        <div class="control">
          <label class="control-title" for="country_with">{{ t['Country / state / province'][language] }}</label>
            <select class="sllt sllt-m admin-select" id="country_with" name="country_with" ng-model="compareCtrl.compare[0]">
            <option value="">{{ t['All'][language] }}</option>

            <option ng-repeat-start="country in compareCtrl.countries" ng-value="country.iso" ng-selected="country.iso == compareCtrl.compare[0]">%% country.name %%</option>
            <optgroup ng-repeat-end ng-if="country.states.length" label="%% compareCtrl.getOptgroupLabel(country) %%">
              <option ng-repeat="state in country.states" ng-value="state.iso" ng-selected="state.iso == compareCtrl.compare[0]">%% state.name %%</option>
            </optgroup>
          </select>
        </div>  

        <div class="control">
          <label class="control-title" for="country_with">{{ t['Country / state / province'][language] }}</label>
            <select class="sllt sllt-m admin-select" id="country_with" name="country_with" ng-model="compareCtrl.compare[1]">
            <option value="">{{ t['All'][language] }}</option>

            <option ng-repeat-start="country in compareCtrl.countries" ng-value="country.iso" ng-selected="country.iso == compareCtrl.compare[1]">%% country.name %%</option>
            <optgroup ng-repeat-end ng-if="country.states.length" label="%% compareCtrl.getOptgroupLabel(country) %%">
              <option ng-repeat="state in country.states" ng-value="state.iso" ng-selected="state.iso == compareCtrl.compare[1]">%% state.name %%</option>
            </optgroup>
          </select>
        </div>
          
        <div class="control">
          <button ng-click="compareCtrl.reset()" class="bttn bttn-default bttn-m restart hide-txt"><span>{{ t['Reset'][language] }}</span></button>
          <button ng-click="compareCtrl.apply()" class="bttn bttn-dark bttn-m">{{ t['Compare'][language] }}</button>
        </div>
        
      </div>
      
    </div>
  </header>

  <div class="layout--hub__body">
    <div class="row--contained">

<div class="col--double">
  <div class="compare--entry__heading" ng-if="compareCtrl.compareSelected[0]">
    <h1 class="compare--entry__title">%% compareCtrl.compareSelected[0].name %%</h1>
    <p class="compare--entry__subtitle">

      <!-- If showing a country, parent is a region -->
      <a ng-if="compareCtrl.compareSelected[0].region" ng-href="%% compareCtrl.getRegionUrl(compareCtrl.compareSelected[0].region.id) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[0].region.name %%">%% compareCtrl.compareSelected[0].region.name %%</a>

      <!-- If showing a state, parent is a country -->
      <a ng-if="compareCtrl.compareSelected[0].parent" ng-href="%% compareCtrl.getCountryUrl(compareCtrl.compareSelected[0].parent.iso) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[0].parent.name %%">%% compareCtrl.compareSelected[0].parent.name %%</a>

    </p>
    <em class="label-grid label-grid-on" ng-if="compareCtrl.compareSelected[0].grid == 'on'"><span>{{ t['On-grid'][language] }}</span></em>
    <em class="label-grid label-grid-off" ng-if="compareCtrl.compareSelected[0].grid == 'off'"><span>{{ t['Off-grid'][language] }}</span></em>

    <dl class="stats-list">
      <dt>{{ t['Global rank'][language] }}</dt>
      <dd>%% (compareCtrl.compareSelected[0].overall_ranking | round:2)  || '-' %%</dd>
      <dt>{{ t['State Rank'][language] }}</dt>
      <dd>%% (compareCtrl.compareSelected[0].state_ranking | round:2)  || '-' %%</dd>
      <dt>{{ t['Global score'][language] }}</dt>
      <dd>%% compareCtrl.compareSelected[0].score | round:2 %%</dd>

      <dt ng-repeat-start="param in compareCtrl.compareSelected[0].parameters" ng-class="'param-' + param.id">%% param.name %%</dt>
      <dd ng-repeat-end>%% param.value | round:2 %%</dd>
    </dl>

  </div>
</div>

<div class="col--double">
  <div class="compare--entry__heading" ng-if="compareCtrl.compareSelected[1]">
    <h1 class="compare--entry__title">%% compareCtrl.compareSelected[1].name %%</h1>
    <p class="compare--entry__subtitle">

      <!-- If showing a country, parent is a region -->
      <a ng-if="compareCtrl.compareSelected[1].region" ng-href="%% compareCtrl.getRegionUrl(compareCtrl.compareSelected[1].region.id) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[1].region.name %%">%% compareCtrl.compareSelected[1].region.name %%</a>

      <!-- If showing a state, parent is a country -->
      <a ng-if="compareCtrl.compareSelected[1].parent" ng-href="%% compareCtrl.getCountryUrl(compareCtrl.compareSelected[1].parent.iso) %%" title="{{ t['Go to'][language] }} %% compareCtrl.compareSelected[1].parent.name %%">%% compareCtrl.compareSelected[1].parent.name %%</a>

    </p>
    <em class="label-grid label-grid-on" ng-if="compareCtrl.compareSelected[1].grid == 'on'"><span>{{ t['On-grid'][language] }}</span></em>
    <em class="label-grid label-grid-off" ng-if="compareCtrl.compareSelected[1].grid == 'off'"><span>{{ t['Off-grid'][language] }}</span></em>

    <dl class="stats-list">
      <dt>{{ t['Global rank'][language] }}</dt>
      <dd>%% (compareCtrl.compareSelected[1].overall_ranking | round:2)  || '-' %%</dd>
      <dt>{{ t['State Rank'][language] }}</dt>
      <dd>%% (compareCtrl.compareSelected[1].state_ranking | round:2)  || '-' %%</dd>
      <dt>{{ t['Global score'][language] }}</dt>
      <dd>%% compareCtrl.compareSelected[1].score | round:2 %%</dd>

      <dt ng-repeat-start="param in compareCtrl.compareSelected[1].parameters" ng-class="'param-' + param.id">%% param.name %%</dt>
      <dd ng-repeat-end>%% param.value | round:2 %%</dd>
    </dl>

  </div>
</div>



    </div>
  </div>

</section>
