{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<div ng-app="countryApp" ng-controller="CountryListController as countryTable" ng-cloak>
  <table class="table country-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        {% case language %}
        {% when 'en' %}
        <th><a href="" ng-click="countryTable.setSort('overall_ranking')">Overall rank</a></th>
        <th><a href="" ng-click="countryTable.setSort('name')">Country</a></th>
        <th><a href="" ng-click="countryTable.setSort('score')">Overall score</a></th>
        <th>0 - - 5</th>
        <th><a href="" ng-click="countryTable.setSort('grid')">Grid</a></th>
        {% when 'es' %}
        <th><a href="" ng-click="countryTable.setSort('overall_ranking')">Posición</a></th>
        <th><a href="" ng-click="countryTable.setSort('name')">País</a></th>
        <th><a href="" ng-click="countryTable.setSort('score')">Puntaje</a></th>
        <th>0 - - 5</th>
        <th><a href="" ng-click="countryTable.setSort('grid')">Grid</a></th>
        {% endcase %}
      </tr>
    </thead>
    <tbody ng-repeat="country in countryTable.countries | orderBy:countryTable.sortField:countryTable.sortReverse">
      <tr>
        {% case language %}
        {% when 'en' %}
        <td><a href="" ng-if="country.states.length > 0" ng-click="countryTable.toggleStates($event)" class="expand-toggle"><span class="visually-hidden">Expand</span></a></td>
        {% when 'es' %}
        <td><a href="" ng-if="country.states.length > 0" ng-click="countryTable.toggleStates($event)" class="expand-toggle"><span class="visually-hidden">Expandir</span></a></td>
        {% endcase %}
        <td>//country.overall_ranking//</td>
        <td><a href="//countryTable.getCountryUrl(country)//">//country.name//</a></td>
        <td>//country.score//</td>
        <td>
          <ul class="table-bar">
            <li ng-repeat="param in country.parameters" style="width: //countryTable.calcBarSegment(param)//"><span class="visually-hidden">// param.value //</span>&nbsp;</li>
          </ul>
        </td>
        <td>//country.grid//</td>
      </tr>

      <tr ng-if="country.states.length > 0" class="wrapper-row country-states" style="display: none">
        <td colspan="6">
          <table class="table table-nested">
            <thead>
              <tr>
                <th>&nbsp;</th>
                {% case language %}
                {% when 'en' %}
                <th>Overall rank</th>
                <th>Country</th>
                <th>Overall score</th>
                <th>0 - - 5</th>
                <th></th>
                {% when 'es' %}
                <th>Posición</th>
                <th>País</th>
                <th>Puntaje</th>
                <th>0 - - 5</th>
                <th></th>
                {% endcase %}
              </tr>
            </thead>
            <tr ng-repeat="state in country.states | orderBy:'state_ranking'">
              <td>&nbsp;</td>
              <td>//state.state_ranking//</td>
              <td>//state.name//</td>
              <td>//state.score//</td>
              <td>
                <ul class="table-bar">
                  <li ng-repeat="param in state.parameters" style="width: //countryTable.calcBarSegment(param)//"><span class="visually-hidden">// param.value //</span>&nbsp;</li>
                </ul>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>

    </tbody>
  </table>
</div>
