<table class="table parameter-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><a href="" title="{{ t['Sort by topic rank'][language] }}" ng-click="countryTable.setSortExpression('data[0].overall_ranking')" class="sort" ng-class="[countryTable.checkSortClasses('data[0].overall_ranking')]">{{ t['Topic rank'][language] }}</a></th>
      <th><a href="" title="{{ t['Sort by country'][language] }}" ng-click="countryTable.setSortExpression('name')" class="sort" ng-class="[countryTable.checkSortClasses('name')]">{{ t['Country'][language] }}</a></th>
      <th><a href="" title="{{ t['Sort by topic score'][language] }}" ng-click="countryTable.setSortExpression('data[0].value')" class="sort" ng-class="[countryTable.checkSortClasses('data[0].value')]">{{ t['Topic score'][language] }}</a></th>
      <th>0.0 - 5.0 <span class="avg">{{ t['Average'][language] }}: <strong>%% countryTable.scoreAvg | round:2 %%</strong></span></th>
      <th><a href="" title="{{ t['Sort by grid'][language] }}" ng-click="countryTable.setSortExpression('grid')" class="sort" ng-class="[countryTable.checkSortClasses('grid')]">{{ t['Grid'][language] }}</a></th>
    </tr>
  </thead>
  <tbody ng-repeat="country in countryTable.countries | orderBy:countryTable.sortExpression">
    <tr>
      <td>
        <a href="" title="{{ t['Show states / provinces'][language] }}" ng-if="country.states.length > 0" ng-click="countryTable.toggleStates($event)" class="expand-toggle"><span class="visually-hidden">{{ t['Expand'][language] }}</span></a>
      </td>
      <td class="cell-rank">%% country.data[0].overall_ranking | leadingZero:2 %%</td>
      <td class="cell-country">
        <a href="%% countryTable.getCountryUrl(country) %%" title="{{ t['Go to country page'][language] }}">%% country.name %%</a>
      </td>
      
      <td>%% country.data[0].value | round:2 %%</td>
      <td class="cell-graph">
        <div class="table-graph">
          <span class="avg" ng-style="{'left': (countryTable.scoreAvg * 100 / 5) + '%' }"></span>
          <ul class="table-bar" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% countryTable.getTooltipContent(country.data[0]) %%">
            <li ng-class="'param-' + countryTable.parameter.id" ng-style="{'width': (country.data[0].value * 100 / 5) + '%'}"><span class="visually-hidden">%% country.data[0].value %%</span>&nbsp;</li>
          </ul>
        </div>
      </td>
      <td><em data-title="%% country.grid %%" class="label-grid" ng-class="{'label-grid-on': country.grid == 'on', 'label-grid-off': country.grid == 'off'}"><span>%% country.grid %%</span></em></td>
    </tr>
    
    <tr ng-if="country.states.length > 0" class="wrapper-row country-states" style="display: none">
    <td colspan="6">
      <table class="table table-nested">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>{{ t['Parameter rank'][language] }}</th>
            <th>{{ t['Country'][language] }}</th>
            <th>{{ t['Score'][language] }}</th>
            <th><span class="visually-hidden">{{ t['Topic score'][language] }}</span> <small>0</small> <small>5</small></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tr ng-repeat="state in country.states | orderBy:'value':true">
          <td>&nbsp;</td>
          <td class="cell-rank">%% state.state_ranking | leadingZero:2 %%</td>
          <td class="cell-country">
            <a href="%% countryTable.getStateUrl(state) %%" title="{{ t['Go to state / province page'][language] }}">%% state.name %%</a>
          </td>
          <td>%% state.value | round:2 %%</td>
          <td>
            <div class="table-graph">
              <ul class="table-bar" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% countryTable.getTooltipContent(state) %%">
                <li ng-class="'param-' + countryTable.parameter.id" ng-style="{'width': (state.value * 100 / 5) + '%'}"><span class="visually-hidden">%% state.value %%</span>&nbsp;</li>
              </ul>
            </div>
          </td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
    
  </tbody>
</table>