<footer id="site-footer" role="contentinfo">
  <div class="row--contained">
    <nav id="comp-nav">
      <ul class="ftr-menu">
        <li><a href="http://www.fomin.org/climatescope/2012/index.html" title="{{ t['Visit 2012 Edition'][language] }}" target="_blank" rel="external">{{ t['2012 Edition'][language] }}</a></li>
        <li><a href="http://www.fomin.org/climatescope/2013/index.html" title="{{ t['Visit 2013 Edition'][language] }}" target="_blank" rel="external">{{ t['2013 Edition'][language] }}</a></li>
        <li><a href="http://www.fomin.org/Knowledge/DevelopmentData/Climatescope/ClimatescopeNews/tabid/594/language/en-US/Default.aspx" title="{{ t['Visit press'][language] }}" target="_blank" rel="external">{{ t['Press'][language] }}</a></li>
        <li><a href="{{ site.domain }}{{ site.path_prefix }}/en/contact" title="{{ t['View contact'][language] }}">{{ t['Contact'][language] }}</a></li>
      </ul>
    </nav>
    <section id="ftr-credits">
      <h1>{{ t['By'][language] }}</h1>
      <ul class="logo-list">
        <li><a href="https://www.gov.uk/government/organisations/department-for-international-development" title="{{ t['Visit UK Aid'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['UK Aid logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-ukaid.png" /> <span>{{ t['UK Aid'][language] }}</span></a></li>
        <li><a href="http://www.usaid.gov/powerafrica" title="{{ t['Visit Power Africa'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['Power Africa logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-power-africa.png" /> <span>{{ t['Power Africa'][language] }}</span></a></li>
        <li><a href="http://www.newenergyfinance.com/" title="{{ t['Visit Bloomberg'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['Bloomberg logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-bloomberg.png" /> <span>{{ t['Bloomberg'][language] }}</span></a></li>
        <li><a href="http://www.fomin.org/" title="{{ t['Visit The Multilateral Investment Fund'][language] }}" target="_blank"><img width="256" height="128" alt="{{ t['The Multilateral Investment Fund logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-fomin-en.png" /> <span>{{ t['The Multilateral Investment Fund'][language] }}</span></a></li>
      </ul>
      <p class="copyright">{{ t['2014 Lorem ipsum. Choose license.'][language] }}</p>
    </section>
  </div>
</footer>
