{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<footer id="site-footer" role="contentinfo">
  <div class="row--contained">
    <nav id="comp-nav">
      <ul class="ftr-menu">
        {% case language %}
        {% when 'en' %}
        <li><a href="#welcome" title="Welcome" data-modal-id="welcome" class="visually-hidden">Welcome</a></li>
        <li><a href="{{site.domain}}/en/methodology" title="Methodology">Methodology</a></li>
        <li><a href="{{site.domain}}/en/about" title="About">About</a></li>
        <li><a href="http://www.fomin.org/climatescope/2013/" title="2013 Edition" target="_blank">2013 Edition</a></li>
        <li><a href="http://www.fomin.org/Knowledge/DevelopmentData/Climatescope/ClimatescopeNews/tabid/594/language/en-US/Default.aspx" title="Press" target="_blank">Press</a></li>
        <li><a href="{{site.domain}}/en/contact" title="Contact">Contact</a></li>
        {% when 'es' %}
        <li><a href="#welcome" title="Bienvenidos" data-modal-id="welcome" class="visually-hidden">Bienvenidos</a></li>
        <li><a href="{{site.domain}}/es/metodologia" title="Metodologia">Metodologia</a></li>
        <li><a href="{{site.domain}}/es/sobre" title="Sobre">Sobre</a></li>
        <li><a href="http://www.fomin.org/climatescope/2013/" title="Edición 2013" target="_blank">Edición 2013</a></li>
        <li><a href="http://www.fomin.org/Knowledge/DevelopmentData/Climatescope/ClimatescopeNews/tabid/594/language/en-US/Default.aspx" title="Prensa" target="_blank">Prensa</a></li>
        <li><a href="{{site.domain}}/es/contacto" title="Contacto">Contacto</a></li>
        {% endcase %}
      </ul>
    </nav>
    <section id="ftr-credits">
      {% case language %}
      {% when 'en' %}
      <h1>By</h1>
      <ul class="orgs-list">
        <li><a href="https://www.gov.uk/government/organisations/department-for-international-development" title="Visit UK Aid"><img width="256" height="128" alt="UK Aid logo" src="{{site.domain}}/assets/images/layout/credits-logo-ukaid.png" /> <span>UK Aid</span></a></li>
        <li><a href="http://www.usaid.gov/powerafrica" title="Visit Power Africa"><img width="256" height="128" alt="Power Africa logo" src="{{site.domain}}/assets/images/layout/credits-logo-power-africa.png" /> <span>Power Africa</span></a></li>
        <li><a href="http://www.newenergyfinance.com/" title="Visit Bloomberg"><img width="256" height="128" alt="Bloomberg logo" src="{{site.domain}}/assets/images/layout/credits-logo-bloomberg.png" /> <span>Bloomberg</span></a></li>
        <li><a href="http://www.fomin.org/" title="Visit The Multilateral Investment Fund"><img width="256" height="128" alt="The Multilateral Investment Fund logo" src="{{site.domain}}/assets/images/layout/credits-logo-fomin-en.png" /> <span>The Multilateral Investment Fund</span></a></li>
      </ul>
      <p class="copyright">2014 Lorem ipsum. Choose license.</p>
      {% when 'es' %}
      <h1>Por</h1>
      <ul class="orgs-list">
        <li><a href="https://www.gov.uk/government/organisations/department-for-international-development" title="Visit UK Aid"><img width="256" height="128" alt="UK Aid logo" src="{{site.domain}}/assets/images/layout/credits-logo-ukaid.png" /> <span>UK Aid</span></a></li>
        <li><a href="http://www.usaid.gov/powerafrica" title="Visit Power Africa"><img width="256" height="128" alt="Power Africa logo" src="{{site.domain}}/assets/images/layout/credits-logo-power-africa.png" /> <span>Power Africa</span></a></li>
        <li><a href="http://www.newenergyfinance.com/" title="Visit Bloomberg"><img width="256" height="128" alt="Bloomberg logo" src="{{site.domain}}/assets/images/layout/credits-logo-bloomberg.png" /> <span>Bloomberg</span></a></li>
        <li><a href="http://www.fomin.org/" title="Visit The Multilateral Investment Fund"><img width="256" height="128" alt="The Multilateral Investment Fund logo" src="{{site.domain}}/assets/images/layout/credits-logo-fomin-es.png" /> <span>The Multilateral Investment Fund</span></a></li>
      </ul>
      <p class="copyright">2014 Lorem ipsum. Elija licencia.</p>
      {% endcase %}
    </section>
  </div>
</footer>
