<div class="row--contained">
  <div class="intro-block">
    <h2 class="intro-block__title">{{ t['Assessing the Climate for Climate Investment'][language] }}</h2>
    <div class="intro-block__body">
      <p>{{ t['The Climatescope is an interactive index and tool that ranks and profiles 55 countries worldwide according to their investment climate for attracting capital for clean energy sources.'][language] }}</p>
      <p><a href="{{ site.domain }}{{ site.path_prefix }}/en/methodology" class="bttn bttn-success go" title="{{ t['Learn more about the methodology'][language] }}">{{ t['About the methodology'][language] }}</a></p>
    </div>
  </div>
</div>