{% if page.collection %}
  {% assign cur_lang = site.collections[page.collection].lang %}
  {% assign i18n_col_names = site.collections[page.collection].i18n %}

  {% for col in i18n_col_names %}
    {% assign col_lang = col[0] %}
    {% assign col_name = col[1] %}
    {% if col_lang != cur_lang %}

      {% for col in site[col_name] %}
        {% if col.id == page.id %}
          <link rel="alternate" hreflang="{{ col_lang }}" href="{{ col.url | remove:'index.html' }}" />
        {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor %}

{% else %}
  {% assign this_pages = site.pages | where:"id", page.id %}
  {% for pg in this_pages %}
    {% if pg.lang != page.lang %}
    <link rel="alternate" hreflang="{{ pg.lang }}" href="{{ pg.url | remove:'index.html' }}" />
    {% endif %}
  {% endfor %}

{% endif %}
