{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

{% case language %}
{% when 'en' %}
<ul class="global-menu">
  <li>
    <a href="{{site.domain}}/en/" title="The main index">Global</a>
  </li>
  <li class="dropdown">
    <a href="#" title="Regions" class="dropdown-toggle caret" data-toggle="dropdown">Regions</a>
    <ul class="dropdown-menu" role="menu">
      {% assign sorted_regions = (site.en_region | sort: 'weight') %}
      {% for region in sorted_regions %}
      <li>
        <a href="{{site.domain}}{{ region.url }}" title="See detailed data on {{ region.title }}">{{ region.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" title="Topics" class="dropdown-toggle caret" data-toggle="dropdown">Topics</a>
    <ul class="dropdown-menu topics" role="menu">
      {% assign sorted_params = (site.en_parameter | sort: 'weight') %}
      {% for topic in sorted_params %}
      <li>
        <a href="{{site.domain}}{{ topic.url }}" title="More about {{ topic.title }}" class="param-{{ topic.id }}">{{ topic.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="{{site.domain}}/en/policies/" title="Browse the policy database">Policies</a>
  </li>
  <li>
    <a href="{{site.domain}}/en/download/" title="Download the data">Download</a>
  </li>
</ul>

{% when 'es' %}
<ul class="global-menu">
  <li>
    <a href="{{site.domain}}/es/" title="The main index">Global</a>
  </li>
  <li class="dropdown">
    <a href="#" title="Regiones" class="dropdown-toggle caret" data-toggle="dropdown">Regiones</a>
    <ul class="dropdown-menu" role="menu">
      {% assign sorted_regions = (site.es_region | sort: 'weight') %}
      {% for region in sorted_regions %}
      <li>
        <a href="{{site.domain}}{{ region.url }}" title="See detailed data on {{ region.title }}">{{ region.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" title="Temas" class="dropdown-toggle caret" data-toggle="dropdown">Temas</a>
    <ul class="dropdown-menu topics" role="menu">
      {% assign sorted_params = (site.es_parameter | sort: 'weight') %}
      {% for topic in sorted_params %}
      <li>
        <a href="{{site.domain}}{{ topic.url }}" title="More about {{ topic.title }}" class="param-{{ topic.id }}">{{ topic.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="{{site.domain}}/es/politicas/" title="Browse the policy database">Politicas</a>
  </li>
  <li>
    <a href="{{site.domain}}/es/datos/" title="Download the data">Datos</a>
  </li>
</ul>

{% endcase %}
