<ul class="global-menu">
  <li>
    <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/" title="{{ t['The global index'][language] }}">{{ t['Global'][language] }}</a>
  </li>
  <li class="dropdown">
    <a href="#" title="{{ t['Explore data by region'][language] }}" class="dropdown-toggle caret" data-toggle="dropdown">{{ t['Regions'][language] }}</a>
    <ul class="dropdown-menu" role="menu">
      {% assign sorted_regions = (site.en_region | sort: 'weight') %}
      {% for region in sorted_regions %}
      <li>
        <a href="{{ site.domain }}{{ site.path_prefix }}{{ region.url }}" title="{{ t['See detailed data on'][language] }} {{ region.title }}">{{ region.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" title="{{ t['Explore data by topic'][language] }}" class="dropdown-toggle caret" data-toggle="dropdown">{{ t['Topics'][language] }}</a>
    <ul class="dropdown-menu topics" role="menu">
      {% assign col_name = site.collections['en_parameter'].i18n[language] %}
      {% assign sorted_params = (site[col_name] | sort: 'weight') %}
      {% for topic in sorted_params %}
      <li>
        <a href="{{ site.domain }}{{ site.path_prefix }}{{ topic.url }}" title="{{ t['More about'][language] }} {{ topic.title }}" class="param-{{ topic.id }}">{{ topic.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    {% assign page = site.pages | where:"id","policies" | where:"lang",language | first %}
    <a href="{{ site.domain }}{{ site.path_prefix }}{{ page.url | remove:'index.html' }}" title="{{ t['Browse the policy database'][language] }}">{{ t['Policies'][language] }}</a>
  </li>
  <li>
    {% assign col_name = site.collections['en_page'].i18n[language] %}
    {% assign page = site[col_name] | where:"id","download" | first %}
    <a href="{{ site.domain }}{{ site.path_prefix }}{{ page.url }}" title="{{ t['Download the data and report'][language] }}">{{ t['Download'][language] }}</a>
  </li>
  <li class="dropdown">
    <a href="#" title="{{ t['About the Climatescope'][language] }}" class="dropdown-toggle caret" data-toggle="dropdown">{{ t['About'][language] }}</a>
    <ul class="dropdown-menu about" role="menu">
      <li>
        {% assign col_name = site.collections['en_page'].i18n[language] %}
        {% assign page = site[col_name] | where:"id","project" | first %}
        <a href="{{ site.domain }}{{ site.path_prefix }}{{ page.url }}" title="{{ t['More about the project'][language] }}">{{ t['Project'][language] }}</a>
      </li>
      <li>
        {% assign col_name = site.collections['en_page'].i18n[language] %}
        {% assign page = site[col_name] | where:"id","methodology" | first %}
        <a href="{{ site.domain }}{{ site.path_prefix }}{{ page.url }}" title="{{ t['More about the methodology'][language] }}">{{ t['Methodology'][language] }}</a>
      </li>
      <li>
        {% assign col_name = site.collections['en_page'].i18n[language] %}
        {% assign page = site[col_name] | where:"id","contact" | first %}
        <a href="{{ site.domain }}{{ site.path_prefix }}{{ page.url }}" title="{{ t['Contact us'][language] }}">{{ t['Contact'][language] }}</a>
      </li>
    </ul>
  </li>
</ul>