<section class="modal modal--welcome revealed" id="welcome">
  <div class="modal__inner">
    <header class="modal__header">
      <h1 class="modal__title">About</h1>
      <a class="dismiss" href="#"><span>Close</span></a>
    </header>
    <div class="modal__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ipsum vehicula, dignissim ex id, rhoncus felis. Morbi rutrum aliquam lorem, id suscipit velit hendrerit eu. Integer iaculis nibh id vulputate luctus.</p>
      <p>Tiam id augue eu risus convallis dapibus et nec elit. Quisque tristique eleifend lorem, ac faucibus nisl pulvinar et. Curabitur a dictum urna.</p>
    </div>
  </div>
</section>