{% case language %}
{% when 'en' %}
<h1 class="visually-hidden">In Detail</h1>
{% when 'es' %}
<h1 class="visually-hidden">En Detalle</h1>
{% endcase %}

<section class="param-details" ng-repeat="param in detailsCtrl.parameters" ng-class="'param-' + param.id">

  <header class="param-details__header">
    {% case language %}
    {% when 'en' %}
      <div class="param-details__heading">
        <h1 class="param-details__title"><a href="//detailsCtrl.getParamUrl(param)//" title="Go to topic page">// param.name //</a></h1>
      </div>
      <dl class="param-details__stats">
        <dt>Score</dt>
        <dd ng-repeat="score in param.data | orderBy:'year':true | limitTo:1">// score.value | round:2 //</dd>
        <dt>Rank</dt>
        <dd ng-repeat="score in param.data | orderBy:'year':true | limitTo:1">// score.overall_ranking || score.state_ranking//</dd>
      </dl>
    {% when 'es' %}
      <div class="param-details__heading">
        <h1 class="param-details__title"><a href="//detailsCtrl.getParamUrl(param)//" title="Visita la pagina del tema">// param.name //</a></h1>
      </div>
      <dl class="param-details__stats">
        <dt>Puntaje</dt>
        <dd ng-repeat="score in param.data | orderBy:'year':true | limitTo:1">// score.value | round:2 //</dd>
        <dt>Posición</dt>
        <dd ng-repeat="score in param.data | orderBy:'year':true | limitTo:1">// score.overall_ranking || score.state_ranking//</dd>
      </dl>
    {% endcase %}
  </header>

  <div class="param-details__body">

    <table class="table detailed-data param-details__table">
      <thead>
      {% case language %}
      {% when 'en' %}
        <tr>
          <th><span class="visually-hidden">Parameter</span></th>
          <th>Rank</th>
          <th>Score</th>
          <th><span class="visually-hidden">Info</span></th>
        </tr>
      {% when 'es' %}
        <tr>
          <th><span class="visually-hidden">Tema</span></th>
          <th>Posición</th>
          <th>Puntaje</th>
          <th><span class="visually-hidden">Info</span></th>
        </tr>
      {% endcase %}
      </thead>
      <tbody ng-repeat="ind_group in param.indicator_groups">
        <tr>
          <th class="cell-hd" colspan="4">// ind_group.name //</th>
        </tr>
        <tr ng-repeat="ind in ind_group.indicators" ng-class="{disabled: !ind.active}">
          <td class="cell-ind">// ind.name //</td>
          <td class="cell-rank" ng-repeat="score in ind.data | orderBy:'year':true | limitTo:1">// score.overall_ranking //</td>
          <td class="cell-score" ng-repeat="score in ind.data | orderBy:'year':true | limitTo:1">// score.value | round:3 //</td>
          <td class="cell-info"><a href="" title="About this indicator" tooltip-animation="false" tooltip-placement="left" tooltip-html-unsafe="//detailsCtrl.getTooltipContent(ind)//"><span>Info</span></a></td>
        </tr>
      </tbody>
    </table>

    <div class="param-details__graph">
      <img class="placeholder" src="http://placehold.it/300x300&text=graphic" alt="Placeholder" />
    </div>

  </div>
  
</section>