<h1 class="visually-hidden">{{ t['In detail'][language] }}</h1>

<section class="param-details" ng-repeat="param in detailsCtrl.parameters" ng-class="'param-' + param.id">

  <header class="param-details__header">
      <div class="param-details__heading">
        <h1 class="param-details__title"><a href="%% detailsCtrl.getParamUrl(param) %%" title="{{ t['Go to topic page'][language] }}">%% param.name %%</a></h1>
      </div>
      <dl class="param-details__stats">
        <dt>{{ t['Score'][language] }}</dt>
        <dd>%% param.data[0].value | round:2 %%</dd>
        <dt>{{ t['Rank'][language] }}</dt>
        <dd>%% (param.data[0].overall_ranking || param.data[0].state_ranking) | leadingZero:2 %%</dd>
      </dl>
  </header>

  <div class="param-details__body">

    <table class="table detailed-data param-details__table">
      <thead>
        <tr>
          <th><span class="visually-hidden">{{ t['Parameter'][language] }}</span></th>
          <th>{{ t['Rank'][language] }}</th>
          <th>{{ t['Score'][language] }}</th>
          <th>{{ t['Value'][language] }}</th>
          <th><span class="visually-hidden">{{ t['Info'][language] }}</span></th>
        </tr>
      </thead>
      <tbody ng-repeat="ind_group in param.indicator_groups">
        <tr>
          <th class="cell-hd" colspan="5">%% ind_group.name %%</th>
        </tr>
        <tr ng-repeat="ind in ind_group.indicators" ng-class="{disabled: !ind.active}">
          <td class="cell-ind">%% ind.name %%</td>
          <td class="cell-rank">%% ind.data[0].overall_ranking || '-' %%</td>
          <td class="cell-score">%% ind.data[0].value | round:3 %%</td>
          <td class="cell-score">%% (ind.data[0].raw.value | round:3) || '-' %%<sup>%% ind.data[0].raw.unit %%</sup></td>
          <td class="cell-info"><a href="" title="{{ t['About this indicator'][language] }}" tooltip-animation="false" tooltip-placement="left" tooltip-html-unsafe="%% detailsCtrl.getTooltipContent(ind) %%"><span>{{ t['Info'][language] }}</span></a></td>
        </tr>
      </tbody>
    </table>

    <div class="param-details__graph">
      <figure ng-if="param.id == 1" class="chart-wrapper">
        <figcaption>{{ t['Installed capacity'][language] }}</figcaption>
        <div id="installed-capacity" class="chart-std" init-chart="installed_capacity"><!-- Chart --></div>
      </figure>
    </div>

  </div>
  
</section>