<table class="poc-detailed-data">
  <tbody>
    <tr class=”param”><td class=”label”>Enabling framework</td><td class=”value”>1.3</td></tr>
    <tr class=”ind_group”><td class=”label”>Policy & regulation</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Clean energy policies </td><td class=”value”>0.19</td></tr>
    <tr class=”ind”><td class=”label”>Power sector structure</td><td class=”value”>0.09 </td></tr>
    <tr class=”ind”><td class=”label”>Distributed energy regulatory framework </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Clean energy rural electrification</td><td class=”value”>0.04</td></tr>
    <tr class=”ind”><td class=”label”>Energy access policies</td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Policy barriers </td><td class=”value”>0.01</td></tr>
    <tr class=”ind_group”><td class=”label”>Clean energy and penetration</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Clean energy installed capacity </td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>Growth rate of installed capacity </td><td class=”value”> 2.74</td></tr>
    <tr class=”ind”><td class=”label”>Clean energy electricity generation </td><td class=”value”>0.01</td></tr>
    <tr class=”ind”><td class=”label”>Growth rate of electricity generation </td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>Biofuels production </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Growth rate biofuels production </td><td class=”value”>0</td></tr>
    <tr class=”ind_group”><td class=”label”>Price attractiveness</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Average electricity spot prices </td><td class=”value”>0.06</td></tr>
    <tr class=”ind”><td class=”label”>Average retail electricity prices </td><td class=”value”>0.04</td></tr>
    <tr class=”ind”><td class=”label”>Average kerosene prices </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Average diesel prices </td><td class=”value”>0</td></tr>
    <tr class=”ind_group”><td class=”label”>Market Size Expectation</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Growth rate of power demand </td><td class=”value”>0.04</td></tr>
    <tr class=”ind”><td class=”label”>Electrification rate</td><td class=”value”>0.001</td></tr>
    <tr class=”ind”><td class=”label”>Population using solid fuels for cooking</td><td class=”value”>0</td></tr>
    <tr class=”param”><td class=”label”>Financing and Investment</td><td class=”value”>2.1</td></tr>
    <tr class=”ind_group”><td class=”label”>Amount Invested</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Clean energy investments</td><td class=”value”>0.041</td></tr>
    <tr class=”ind”><td class=”label”>Growth rate of clean energy investments </td><td class=”value”>0.33</td></tr>
    <tr class=”ind_group”><td class=”label”>Fund sources</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Loans grants grant programs </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Local investments </td><td class=”value”>0</td></tr>
    <tr class=”ind_group”><td class=”label”>Green microfinance</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Number of Green MFI </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Green micro-loans </td><td class=”value”>0.009</td></tr>
    <tr class=”ind”><td class=”label”>Green micro-borrowers </td><td class=”value”>0.131</td></tr>
    <tr class=”ind”><td class=”label”>Average cost of green micro debt</td><td class=”value”>0.003</td></tr>
    <tr class=”ind_group”><td class=”label”>Cost of debt</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Average cost of debt</td><td class=”value”>0.0001</td></tr>
    <tr class=”ind”><td class=”label”>Swap rate </td><td class=”value”>0.00004</td></tr>
    <tr class=”param”><td class=”label”>Value Chains</td><td class=”value”>1.95</td></tr>
    <tr class=”ind”><td class=”label”>Financial institutions in clean energy</td><td class=”value”>0.003</td></tr>
    <tr class=”ind”><td class=”label”>Value chains by clean energy sector </td><td class=”value”>0.04</td></tr>
    <tr class=”ind”><td class=”label”>Distributed clean energy value chains by sector </td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>Clean energy service providers</td><td class=”value”>0.04</td></tr>
    <tr class=”ind”><td class=”label”>Distributed clean energy service providers</td><td class=”value”>0.03</td></tr>
    <tr class=”param”><td class=”label”>GHG Management</td><td class=”value”>1.6</td></tr>
    <tr class=”ind_group”><td class=”label”>Carbon offsets</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Carbon offsets historical activity</td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>CDM risk</td><td class=”value”>0.10</td></tr>
    <tr class=”ind”><td class=”label”>Carbon offsets future potential </td><td class=”value”>0</td></tr>
    <tr class=”ind_group”><td class=”label”>Carbon policy</td><td></td></tr>
    <tr class=”ind”><td class=”label”>GHG emissions reduction target</td><td class=”value”>0.02</td></tr>
    <tr class=”ind”><td class=”label”>GHG country registry</td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>GHG market-based instruments</td><td class=”value”>0.15</td></tr>
    <tr class=”ind”><td class=”label”>PMR & NAMA</td><td class=”value”>0.075 </td></tr>
    <tr class=”ind_group”><td class=”label”>Corporate awareness</td><td></td></tr>
    <tr class=”ind”><td class=”label”>Voluntary GHG reporting by corporates </td><td class=”value”>0.036</td></tr>
    <tr class=”ind”><td class=”label”>Investor pressure - PRI signatories </td><td class=”value”>0.028</td></tr>
    <tr class=”ind”><td class=”label”>Corporate energy efficiency initiatives </td><td class=”value”>0</td></tr>
    <tr class=”ind”><td class=”label”>Corporate emission reduction policies </td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>Capacity building - env. business training</td><td class=”value”>0.03</td></tr>
    <tr class=”ind”><td class=”label”>Capacity building - think tanks </td><td class=”value”>0.0375</td></tr>
  </tbody>
</table>