<table class="table country-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><a href="" title="{{ t['Sort by rank'][language] }}" ng-click="statesCtrl.setSort('state_ranking')" class="sort" ng-class="[statesCtrl.checkSortClasses('state_ranking')]">{{ t['Rank'][language] }}</a></th>
      <th><a href="" title="{{ t['Sort by state / province'][language] }}" ng-click="statesCtrl.setSort('name')" class="sort" ng-class="[statesCtrl.checkSortClasses('name')]">{{ t['State / province'][language] }}</a></th>
      <th><a href="" title="{{ t['Sort by score'][language] }}" ng-click="statesCtrl.setSort('score')" class="sort" ng-class="[statesCtrl.checkSortClasses('score')]">{{ t['Score'][language] }}</a></th>
      <th><span class="visually-hidden">{{ t['Topics'][language] }}:</span> 0.0 - 5.0</th>
    </tr>
  </thead>
  <tbody ng-repeat="state in statesCtrl.states | orderBy:statesCtrl.sortField:statesCtrl.sortReverse">
    <tr>
      <td>&nbsp;</td>
      <td class="cell-rank">%% state.state_ranking | leadingZero:2 %%</td>
      <td class="cell-country">
        <a href="%% statesCtrl.getStateUrl(state) %%" title="{{ t['Go to state / province page'][language] }}">%% state.name %%</a>
      </td>
      
      <td>%%state.score | round:2 %%</td>
      <td>
        <div class="table-graph">
          <ul class="table-bar" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% statesCtrl.getTooltipContent(state.parameters) %%">
            <li ng-repeat="param in state.parameters" ng-class="'param-' + param.id" ng-style="{'width': statesCtrl.calcBarSegment(param) }"><span class="visually-hidden">%% param.value %%</span>&nbsp;</li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>