{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<script>    
  {% case language %}
  {% when 'en' %}
    {% assign country_col = 'en_country' %}
    {% assign state_col = 'en_state' %}
    {% assign param_col = 'en_parameter' %}
  {% when 'es' %}
    {% assign country_col = 'es_country' %}
    {% assign state_col = 'es_state' %}
    {% assign param_col = 'es_parameter' %}
  {% endcase %}
  
  // Country index to retrieve the url.
  CS.countryIndex = {
    {% for country in site[country_col] %}
      "{{country.id}}":"{{ site.domain }}{{ site.path_prefix }}{{country.url}}",
    {% endfor %}
  };
  
  // State index to retrieve the url.
  CS.stateIndex = {
    {% for state in site[state_col] %}
      "{{state.id}}":"{{ site.domain }}{{ site.path_prefix }}{{state.url}}",
    {% endfor %}
  };

  // Parameter index to retrieve the url.
  CS.parameterIndex = {
    {% for param in site[param_col] %}
      "{{param.id}}":"{{ site.domain }}{{ site.path_prefix }}{{param.url}}",
    {% endfor %}
  };
</script>