{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<script>

  {% assign country_col = site.collections['en_country'].i18n[language] %}
  {% assign state_col = site.collections['en_state'].i18n[language] %}
  {% assign param_col = site.collections['en_parameter'].i18n[language] %}

  // Country index to retrieve the url.
  CS.countryIndex = {
    {% for country in site[country_col] %}
      "{{country.id}}":"{{ site.domain }}{{ site.path_prefix }}{{country.url}}",
    {% endfor %}
  };
  
  // State index to retrieve the url.
  CS.stateIndex = {
    {% for state in site[state_col] %}
      "{{state.id}}":"{{ site.domain }}{{ site.path_prefix }}{{state.url}}",
    {% endfor %}
  };

  // Parameter index to retrieve the url.
  CS.parameterIndex = {
    {% for param in site[param_col] %}
      "{{param.id}}":"{{ site.domain }}{{ site.path_prefix }}{{param.url}}",
    {% endfor %}
  };
</script>