{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}
<div id="vis-controls" class="slider-group">
  <h2 class="prime-title">{{ t['Calculate your own score'][language] }}</h2>
  <a href="#" class="reset" title="{{ t['Reset topic weights'][language] }}"><span>{{ t['Reset'][language] }}</span></a>
  <div class="control param-1 first">
    <h3 class="control-title">{{ t['Enabling framework'][language] }}</h3>
    <div class="slider" id='param-1' data-starting="40"></div>
    <span class="slider-value param-1"></span>
    <label class="switch lock" for="myswitch1">
      <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch1" />
      <span class="switch-inner"></span>
      <span class="switch-switch"></span>
      <span class="swtich-text">{{ t['Lock'][language] }}</span>
    </label>
  </div>
  <div class="control param-2">
    <h3 class="control-title">{{ t['Financing & Investment'][language] }}</h3>
    <div class="slider" id='param-2' data-starting="30"></div>
    <span class="slider-value param-2"></span>
    <label class="switch lock" for="myswitch2">
      <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch2" />
      <span class="switch-inner"></span>
      <span class="switch-switch"></span>
      <span class="swtich-text">{{ t['Lock'][language] }}</span>
    </label>
  </div>
  <div class="control param-3">
    <h3 class="control-title">{{ t['Value Chains'][language] }}</h3>
    <div class="slider" id='param-3' data-starting="15"></div>
    <span class="slider-value param-3"></span>
    <label class="switch lock" for="myswitch3">
      <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch3" />
      <span class="switch-inner"></span>
      <span class="switch-switch"></span>
      <span class="swtich-text">{{ t['Lock'][language] }}</span>
    </label>
  </div>
  <div class="control param-4">
    <h3 class="control-title">{{ t['GHG Management'][language] }}</h3>
    <div class="slider" id="param-4" data-starting="15"></div>
    <span class="slider-value param-4"></span>
    <label class="switch lock" for="myswitch4">
      <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch4" />
      <span class="switch-inner"></span>
      <span class="switch-switch"></span>
      <span class="swtich-text">{{ t['Lock'][language] }}</span>
    </label>
  </div>
</div>