<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ site.name }}</title>
  <meta name="description" content="">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <link rel="shortcut icon" href="{{ site.domain }}/assets/images/meta/favicon.ico" type="image/x-icon" />
  <link type="text/plain" rel="author" href="{{ site.domain }}/humans.txt" />
  <link rel="stylesheet" href="/assets/styles/main.css">
  <!--[if lt IE 9]><script src="/assets/scripts/vendor/selectivizr-1.0.2.min.js"></script><![endif]-->
  <script src="/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
</head>
<body>
  <!--[if lt IE 9]>
    <div class="browsehappy">
      <p>
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.
      </p>
    </div>
  <![endif]-->

  <div id="site-canvas">
    <header id="site-header" role="banner">
      <div class="row--contained">
        <div id="site-headline">
          <h1 id="site-title"><a title="Home" href="/">Global Climatescope <em>2014</em></a></h1>
        </div>
        <nav id="prime-nav" role="navigation">
          {% include lang.html %}
          {% include menu.html %}
        </nav>
      </div>
    </header>

    <main id="site-body" role="main">
      {{ content }}
    </main>

    <footer id="site-footer" role="contentinfo">
      <div class="row--contained">
        <section id="ftr-credits">
          <h1>By</h1>
          <ul class="orgs-list">
            <li><a href="#" title="Visit [org name]"><img src="http://placehold.it/128x48&text=logo" /> <span>[org name]</span></a></li>
            <li><a href="#" title="Visit [org name]"><img src="http://placehold.it/128x48&text=logo" /> <span>[org name]</span></a></li>
            <li><a href="#" title="Visit [org name]"><img src="http://placehold.it/128x48&text=logo" /> <span>[org name]</span></a></li>
            <li><a href="#" title="Visit [org name]"><img src="http://placehold.it/128x48&text=logo" /> <span>[org name]</span></a></li>
            <li><a href="#" title="Visit [org name]"><img src="http://placehold.it/128x48&text=logo" /> <span>[org name]</span></a></li>
          </ul>
        </section>
        <nav id="comp-nav">
          <ul class="ftr-menu">
            <li><a href="/methodology" title="Methodology">Methodology</a></li>
            <li><a href="/about" title="About">About</a></li>
            <li><a href="/press" title="Press">Press</a></li>
            <li><a href="/contacts" title="Contacts">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="row--contained">
        <p id="copyright">2014 Lorem ipsum. Choose license.</p>
      </div>
    </footer>
  </div>

  <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/scripts/vendor/jquery-2.1.0.min.js"><\/script>')</script>
  <!--<![endif]-->
  <script src="/assets/scripts/main.min.js"></script>
</body>
</html>
