---
layout: base
---
<article class"single">

  <header class="single-hdr">
    <div class="contained">
      <div class="heading">
        <h1 class="prime-title">{{ page.title }}</h1>
        <p class="subtitle">Region</p>
      </div>
      <ul class="meta-actions-menu">
        <li><a href="#" title="Download">Download</a></li>
        <li><a href="#" title="Share">Share</a></li>
      </ul>
    </div>
  </header>

  <div class="single-bd">

    <div class="full map">
      <p>Insert map here.</p>
    </div>

    <div class="contained">

      <div class="col-prime">
        <h2>Description</h2>
        {{ content }}
      </div>

      <div class="col-sec">
        <p><a href="/" title="Global">View the global rank</a></p>
      </div>

    </div>

    <div class="contained">

      {% case site.collections[page.collection].lang %}
      {% when 'en' %}
        {% assign col = 'en_country' %}
        <h2>Countries EN </h2>
      {% when 'es' %}
        {% assign col = 'es_country' %}
        <h2>Countries ES </h2>
      {% endcase %}

      <ul>
      {% for country in site[col] %}
        {% if country.region == page.id %}
        <li>
          <a href="{{ country.url }}">{{ country.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>

  </div>

</article>
