/* ==========================================================================
   Library: Global
   ========================================================================== */

.inpage--library {

  .col--main {
    grid-column: 1 / span 12;

    @include media(large-up) {
      grid-column: 1 / span 9;
    }
  }

  .col--sec {
    grid-column: auto / span 12;

    @include media(large-up) {
      grid-column: auto / span 3;
    }
  }
}
