// BUTTONS

// GLOBAL

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  transform: translateZ(0);
}

.bttn {
  display: inline-block;
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: $global-radius;
  border: 0;
  background-image: none;
  text-transform: uppercase;
  user-select: none;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-height: 2rem;
  min-width: 2.5rem;
  box-shadow: inset 0 -2px 0 0 rgba($primary-color, 0.16);
  .open > &,
  &:active,
  &.active {
    box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.16);
    outline: none;
    transform: translate(0);
  }
  &:hover {
    opacity: 1;
  }
  &.disabled, &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0;
  @media print {
    display: none;
  }
  &[rel~="external"]:after {
    @extend %collecticon-s-new-window;
    font-size: 1rem;
    opacity: 0.4;
    margin-left: 0.25rem;
  }
}

// VARIATIONS

// Default (Gray)
.bttn-ghost,
.bttn-ghost:hover,
.bttn-ghost:visited {
  background: rgba(#fff, 0.32);
  box-shadow: none;
  color: #fff;
}

.bttn-ghost:hover {
  background: rgba(#fff, 0.48);
}

// Default (Gray)
.bttn-default,
.bttn-default:hover,
.bttn-default:visited {
  @include bttn-variation(tint($primary-color, 90%));
  color: tint($primary-color, 40%);
}

// Light (Gray)
.bttn-light,
.bttn-light:hover,
.bttn-light:visited {
  @include bttn-variation(#fff);
  color: tint($primary-color, 40%);
}

// Success (Green)
.bttn-success,
.bttn-success:hover,
.bttn-success:visited {
  @include bttn-variation($success-color);
  color: #fff;
  @extend .antialiased;
}

// Dark (Gray)
.bttn-dark,
.bttn-dark:hover,
.bttn-dark:visited {
  @include bttn-variation(tint($primary-color, 40%));
  color: #fff;
  @extend .antialiased;
}

// Call to Action
.bttn-cta,
.bttn-cta:hover,
.bttn-cta:visited {
  @include bttn-variation(tint($success-color, 80%));
  box-shadow: none;
}

.bttn-new,
.bttn-new:hover,
.bttn-new:visited {
  @include bttn-variation(#f99d6c);
  color: #fff;
}

// SIZES

// Small (24px)
.bttn-s,
.bttn-group-s .bttn {
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
  min-height: 1.25rem;
}

// Medium (32px)
// Default
.bttn-m,
.bttn-group-m .bttn {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-height: 2rem;
}

/* Large (40px) */
.bttn-l,
.bttn-group-l .bttn {
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding: 0.375rem 1rem;
  min-height: 2.5rem;
}

/* Extra-large (44px) */
.bttn-xl,
.bttn-group-xl .bttn {
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
  min-height: 2.75rem;
}

// ICONS & BADGES

.bttn {
  &::before,
  &::after,
  > * {
    vertical-align: top;
    display: inline-block;
    line-height: inherit !important;
  }
  &:after {
    margin-left: 0.25rem;
    opacity: 0.4;
    font-size: 1rem;
  }
  &:before {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  &.hide-txt {
    &:after {
      margin-left: 0;
    }
    &:before {
      margin-right: 0;
    }
    > * {
      @extend .visually-hidden;
    }
  }
  &.go:after { @extend %collecticon-s-arr-right; }
  &.back:before { @extend %collecticon-s-arr-left; }
  &.all:after { @extend %collecticon-menu; }
  &.download:before { @extend %collecticon-download; }
  &.share:before { @extend %collecticon-share; }
  &.restart:before { @extend %collecticon-refresh; }
  &.play:after { @extend %collecticon-circle-play; }
  .badge {
    background-color: rgba($primary-color, 0.15);
  }
}

// GROUP

.bttn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  &.bttn-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li .bttn {
      display: block;
    }
  }
  > *,
  > .bttn {
    position: relative;
    float: left;
    margin: 0;
  }
  > *:first-child:not(:last-child) .bttn,
  > .bttn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > *:last-child:not(:first-child) .bttn,
  > .bttn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > *:not(:first-child):not(:last-child) .bttn,
  > .bttn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  > .bttn + .bttn,
  &.bttn-list > li + li {
    margin-left: -1px;
  }
}

.bttn-group--vertical {
  > .bttn {
    clear: both;
  //   width: 100%;
    border-radius: $base-border-radius;
  }

  > .bttn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    clip-path: inset(-100% -100% 0 -100%);
  }

  > .bttn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    clip-path: inset(0 -100% -100% -100%);
  }

  > .bttn:not(:first-child):not(:last-child) {
    border-radius: 0;
    clip-path: inset(0 -100%);
  }

  > .bttn + .bttn {
    margin-top: -$base-border-width;
  }
}

.bttn-page-nav {
  padding: 2rem 0 3rem 0;
}

.bttn-pager-group {
  padding: 0;
}
