/* ==========================================================================
   Forms
   ========================================================================== */

.form {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.form__control {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $body-font-color;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  box-shadow: inset 0 0 0 $base-border-width $base-alpha-color;
  border-radius: $global-radius;

  /* Placeholder */
  &::placeholder {
    opacity: 0.64;
  }

  /* States */
  &[disabled] {
    @extend .disabled;
  }

  &[readonly] {
    cursor: text;
    opacity: 0.64;
  }

  &:hover {
    box-shadow: inset 0 0 0 $base-border-width rgba($base-color, 0.24);
  }

  &:focus,
  &--focus,
  &:active,
  &--active {
    outline: 0;
    box-shadow: inset 0 0 0 $base-border-width rgba($base-color, 0.32);
  }

  /* Animation */
  transition: all 0.24s ease 0s;
}


/* Form groups
   ========================================================================== */

.form__group {
  @extend .clearfix;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Input groups
   ========================================================================== */

.form__input-group {
  display: flex;
  width: 100%;
  line-height: 0;
}

.form__input-addon + .form__input-addon,
.form__input-addon + .button,
.form__input-addon + .form__control:not(select),
.form__control:not(select) + .form__input-addon,
select.form__control + .form__control:not(select)  {
  margin-left: -$base-border-width;
}

.form__input-addon,
.form__input-group > .button {
  flex: 0 0 auto;
}

.form__input-group > select.form__control {
  width: auto;
}

.form__input-group > .button,
select.form__control:hover,
select.form__control:focus {
  position: relative;
  z-index: 3;
}

.form__input-group .form__control:not(select) {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form__input-addon {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  text-align: center;
  background: tint($base-color, 96%);
  color: rgba($body-font-color, 0.64);
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 0 $base-border-width $base-alpha-color;
  margin-bottom: 0;
}

.form__input-group > *:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form__input-group > *:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


/* Form misc
   ========================================================================== */

.form__help {
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba($body-font-color, 0.48);
  margin-top: $global-spacing / 2;

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Old styles
   ========================================================================== */

.form-control {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
  }

  .error {
    display: none;
    color: $alert-color;
    padding: 0.5rem;
  }

  .form-options-set {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


// SELECTS

.sllt {
  background: #fff;
  border-radius: $global-radius;
  border: 1px solid tint($primary-color, 90%);
  cursor: pointer;
  &.disabled, &[disabled] {
    cursor: not-allowed;
    @include opacity(0.6);
    box-shadow: none;
  }
}

.sllt-m {
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.75rem;
}


// SWITCH

.switch {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  user-select: none;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: $global-rounded;
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  background: tint($primary-color, 95%);
}

.switch-checkbox,
.swtich-text {
  @extend .visually-hidden;
}

.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
  transform: translateZ(0);
}

.switch-inner:before, .switch-inner:after {
  float: left;
  width: 50%;
  height: 1.5rem;
  padding: 0;
  color: tint($primary-color, 40%);
  line-height: inherit;
}

.switch-inner:before {
  @extend %collecticon-lock;
  padding-left: 0.5rem;
}

.switch-inner:after {
  @extend %collecticon-unlock;
  padding-right: 0.5rem;
  text-align: right;
}

.switch-switch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  background: tint($primary-color, 90%);
  box-shadow: inset 0 -2px 0 0 rgba($primary-color, 0.1);
  border-radius: $global-rounded;
  transition: all 0.2s ease-in 0s;
  transform: translateZ(0);
}

.switch:hover .switch-switch {
  background: tint($primary-color, 85%);
}

.switch-checkbox:checked + .switch-inner {
  margin-left: 0;
}

.switch-checkbox:checked ~ .switch-switch {
  right: 0;
}


