  
// TABLE BAR

.table-graph {
  position: relative;
  
  .avg {
    position: absolute;
    top: -25%;
    left: 0;
    z-index: 1;
    height: 150%;
    width: 1px;
    background: $primary-color;
    @include opacity(0.2);
  }
  @media print {
    height: auto;
    position: static;
  }
}

.table-bar {
  list-style-type: none;
  overflow: hidden;
  border-radius: $global-radius;
  height: 1.25rem;
  background: tint($primary-color, 95%);
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  padding: 0;
  margin: 0.125rem 0;
  cursor: help;

  li {
    float: left;
    height: 100%;
    box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  }

  li.param-1 {
    background-color: $infograph-color-a;
  }

  li.param-2 {
    background-color: $infograph-color-b;
  }

  li.param-3 {
    background-color: $infograph-color-c;
  }

  li.param-4 {
    background-color: $infograph-color-d;
  }
  @media print {
    height: auto;
    list-style-type: disc; 
    box-shadow: none;
    li {
      display: block;
      float: none;
      height: auto;
      box-shadow: none;
      width: auto !important;
      height: auto;
      background: none;
    }
  }
}

.table-nested .table-bar {
  background: #fff;
}




.installed-capacity {
  .area-line-group {
    fill: none;
  }

  .clean-energy {
    &.area {
      fill: $infograph-color-a;
    }
    &.area-line {
      stroke: shade($infograph-color-a, 15%);
      stroke-opacity: 1;
    }
    &.area-line-points circle{
      stroke: none;
      fill: shade($infograph-color-a, 15%);
    }
  }
  .non-clean-energy {
    &.area {
      fill: tint($primary-color, 90%);
    }
    &.area-line {
      stroke: tint($primary-color, 75%);
      stroke-opacity: 1;
    }
    &.area-line-points circle{
      stroke: none;
      fill: tint($primary-color, 75%);
    }
  }
  
  .focus-elements {
    .focus-line {
      stroke: $primary-color;
      stroke-opacity: 0.2;
      stroke-width: 0.5;
    }
    .focus-circles {
      .outer {
        fill: #FFF;
        stroke-width: 0.5;
      }
      &.non-clean-energy .inner {
        stroke: none;
        fill: tint($primary-color, 75%);
      }
      &.clean-energy .inner {
        stroke: none;
        fill: shade($infograph-color-a, 15%);
      }
    }
  }
  
  .chart-legend {
    dt {
      &.param-clean-energy:before {
        background: $infograph-color-a;
      }
      &.param-non-clean-energy:before {
        background: tint($primary-color, 90%);
      }
    }
  }
}

.clean-energy-investments {
  .area-line-group {
    fill: none;
  }

  .country {
    &.area-line {
      stroke: shade($infograph-color-b, 32%);
      stroke-opacity: 1;
    }
    &.area-line-points circle{
      stroke: none;
      fill: shade($infograph-color-b, 32%);
    }
  }
  .regional {
    &.area-line {
      stroke: tint($infograph-color-b, 0%);
      stroke-opacity: 1;
    }
    &.area-line-points circle{
      stroke: none;
      fill: tint($infograph-color-b, 0%);
    }
  }
  .global {
    &.area-line {
      stroke: tint($infograph-color-b, 64%);
      stroke-opacity: 1;
    }
    &.area-line-points circle {
      stroke: none;
      fill: tint($infograph-color-b, 64%);
    }
  }

  .focus-elements {
    .focus-line {
      stroke: $primary-color;
      stroke-opacity: 0.2;
      stroke-width: 0.5;
    }
    .focus-circles {
      .outer {
        fill: #FFF;
        stroke-width: 0.5;
      }
      &.country .inner {
        stroke: none;
        fill: shade($infograph-color-b, 32%);
      }
      &.regional .inner {
        stroke: none;
        fill: tint($infograph-color-b, 0%);
      }
      &.global .inner {
        stroke: none;
        fill: tint($infograph-color-b, 64%);
      }
    }
  }

  .chart-legend {
    dt {
      &.param-country:before {
        background: shade($infograph-color-b, 32%);
      }
      &.param-regional:before {
        background: tint($infograph-color-b, 0%);
      }
      &.param-global:before {
        background: tint($infograph-color-b, 64%);
      }
    }
  }
}

.carbon-offset {
  .power-generation {
    fill: $infograph-color-d;
  }
  .methane {
    fill: tint($infograph-color-d, 16%);
  }
  .forestry {
    fill: tint($infograph-color-d, 32%);
  }
  .waste {
    fill: tint($infograph-color-d, 48%);
  }
  .energy-efficiency {
    fill: tint($infograph-color-d, 64%);
  }
  .other {
    fill: tint($infograph-color-d, 80%);
  }

  .chart-legend {
    .label, .value {
      fill: $body-font-color;
      font-family: $brand-font-family;
      font-weight: $brand-font-weight;
    }
    .label {
      font-weight: $brand-font-bold;
    }
  }
}

.chart-std {
  position: relative;
  height: 250px;
  
  .axis {
    line {
      fill: none;
      stroke: tint($primary-color, 90%);
      shape-rendering: crispEdges;
    }

    text {
      @extend .hd-label;
      fill: $primary-color;
    }
    text.label {
      fill: tint($primary-color, 60%);
    }

    path.domain {
      fill: none;
      stroke: none;
    }
  }
}

.chart-wrapper {
  margin: 0;
  padding: 0;
  figcaption {
    @extend .hd-xxs;
    text-align: center;
  }
  
  .lt-ie9 & {
    display: none;
  }
}

.tooltip-chart {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.chart-legend {
  dt {
    position: relative;
    @extend .hd-label;
    @extend .truncated;
    margin-left: 6.5rem;
    line-height: 1.5rem;
    padding: 0 0 0 1rem;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      margin-top: -0.25rem;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: $global-rounded;
    }
  }
  dd {
    float: left;
    clear: left;
    width: 4rem;
    text-align: right;
    margin-top: -1.5rem;
    font-family: $brand-font-family;
    font-weight: $brand-font-bold;
    line-height: 1.5rem;
  }
}