// HOMEPAGE

.layout--home__body {
  @media #{$xlarge-up} {
    padding: ($global-spacing * 4) 0;
  }
}


// Featured columns

.featured-col {
  @include col(4/12);
}

.featured-section__title {
  font-size: 1.25rem;
  line-height: 1.75;
}


// Latest Updates

.latest-updates-list {
  list-style: none;
  margin: 0 0 $global-spacing 0;
  padding: 0;
}

.update-wrapper {
  padding-bottom: $global-spacing;
  margin-bottom: $global-spacing;
  box-shadow: 0 1px 0 0 rgba($primary-color, 0.08);

  &:last-child {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

.update {
  > a {
    display: block;
    color: inherit;
  }
}

.update__title {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.update__date {
  @extend .hd-label;
  margin: 0;
}