// HOMEPAGE

.layout--home__body {
  @media #{$xlarge-up} {
    padding: ($global-spacing * 4) 0;
  }
}


// Intro Block

.intro-block {
  @include span(12/12);
  @extend .antialiased;
  color: #fff;
  margin-top: $global-spacing * 2;
  margin-bottom: $global-spacing;

  &__title {
    @extend .hd-m;
  }

  &__body {
    font-family: $brand-font-family;
    font-size: 1.25rem;
    line-height: 1.5rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  @media #{$xlarge-up} {
    @include col(8/12, $offset: 2/12);
    text-align: center !important;
    margin-top: $global-spacing * 4;
    margin-bottom: $global-spacing * 2;
  }
}


// Featured columns

.featured-col {
  @include col(4/12);
}

.featured-section {
  > *:last-child {
    margin-bottom: 0;
  }
}

.featured-section__title {
  font-size: 1.25rem;
  line-height: 1.75;
}

.featured-section__body {
  margin-bottom: $global-spacing;
}


// Compare results

.prose-intro {
  font-family: $brand-font-family;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.compare-results {
  .control-title {
    @extend .visually-hidden;
  }

  .control {
    margin-bottom: $global-spacing;

    select {
      width: 100%;
    }
  }
}


// Latest updates

.latest-updates-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.update-wrapper {
  padding-bottom: $global-spacing;
  margin-bottom: $global-spacing;
  box-shadow: 0 1px 0 0 rgba($primary-color, 0.08);

  &:last-child {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

.update {
  > a {
    display: block;
    color: inherit;
  }
}

.update__title {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.update__date {
  @extend .hd-label;
  margin: 0;
}


// Recent tweets

.recent-tweets {
  .featured-section__body {
    position: relative;
    max-height: $global-spacing * 18;
    overflow: hidden;

    &::after {
      @include background-image(linear-gradient(rgba(#fff, 0), rgba(#fff, 1)));
      position: absolute;
      bottom: 0;
      left: 0;
      height: $global-spacing * 8;
      width: 100%;
      z-index: 1;
      content: '';
      pointer-events: none;
    }
  }
}