// HOMEPAGE


// Intro Block

.intro-block {
  @extend .row--contained;
  z-index: 2 !important;
  color: #fff;
  padding-top: $global-spacing * 2;
  padding-bottom: $global-spacing;

  &__header {
    @include col(4/12);
    text-align: right;

    img {
      margin-top: 0.5rem;
      vertical-align: top;
      width: 100%;
      height: auto;

      @media #{$xlarge-up} {
        max-width: 80%;
      }
    }
  }

  &__body {
    @include col(8/12);
    font-family: $brand-font-family;
    font-size: 1.25rem;
    line-height: 1.5rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @media #{$xlarge-up} {
      @include col(6/12);
    }
  }

  &__body-title {
    font-family: $brand-font-family;
    font-weight: $brand-font-bold;
    font-size: 2rem;
    line-height: 1;
    text-transform: none;

    @media #{$xlarge-up} {
      font-size: 2.5rem;
    }
  }

  @media #{$large-up} {
    padding-top: $global-spacing * 4;
    padding-bottom: $global-spacing * 2;
  }

  @media #{$xlarge-up} {
    padding-top: $global-spacing * 6;
    padding-bottom: $global-spacing * 4;
  }
}


// Featured columns

.featured-col {
  @include col(4/12);
}

.featured-section {
  padding-bottom: $global-spacing * 1.25;
  margin-bottom: $global-spacing * 1.25;
  box-shadow: 0 1px 0 0 rgba($primary-color, 0.08);

  &:last-child {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.featured-section__title {
  font-size: 1.25rem;
  line-height: 1.75;
}

.featured-section__body {
  margin-bottom: $global-spacing;
}

// Featured block

.featured-block {
  a.bttn {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Compare results block

.prose-intro {
  font-family: $brand-font-family;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.compare-results-block {
  .control-title {
    @extend .visually-hidden;
  }

  .control:not(:last-child) {
    margin-bottom: $global-spacing;

    select {
      width: 100%;
    }
  }
}


// Policies


// Latest updates

.latest-updates-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.update-wrapper {
  padding-bottom: $global-spacing;
  margin-bottom: $global-spacing;
  box-shadow: 0 1px 0 0 rgba($primary-color, 0.08);

  &:last-child {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

.update {
  > a {
    display: block;
    color: inherit;
  }
}

.update__title {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
}

.update__date {
  @extend .hd-label;
  margin: 0;
}


// Recent tweets

.recent-tweets {
  .featured-section__body {
    position: relative;
    max-height: $global-spacing * 20;
    overflow: hidden;

    &::after {
      @include background-image(linear-gradient(rgba(#fff, 0), rgba(#fff, 1)));
      position: absolute;
      bottom: 0;
      left: 0;
      height: $global-spacing * 8;
      width: 100%;
      z-index: 1;
      content: '';
      pointer-events: none;
    }
  }
}


// Intro video modal


#modal-intro-video {

  .modal__inner {
    overflow: hidden;
  }

  .modal__title {
    @extend .visually-hidden;
  }

  .modal__inner {
    padding: 0 6rem 0 0;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}