// MAP

// MARKERS

circle {
  stroke: $primary-color;
  stroke-linecap: round;
  stroke-opacity: 0.15;
  .country-marker & {
    stroke-width: 4px;
    fill: $secondary-color;
  }
  .rank-marker & {
    stroke-width: 6px;
    fill: $secondary-color;
  }
  .highlight & {
    fill: shade($secondary-color, 20%);
  }
}

.rank-marker {
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;
  @extend .antialiased;
  text {
    fill: #fff;
    text-anchor: middle;
    font-size: 1rem;
    pointer-events: none;
  }
}

.light-stroke {
  stroke: #fff;
  stroke-opacity: 0.85;
}


// CONTROLS

.bttn-group.map-country-toggle {
  padding: 0.5rem;
  background: #fff;
  border-radius: $global-radius;
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.leaflet-control-container {
  @include center($max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  @media #{$medium-up} {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media #{$large-up} {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.leaflet-left.leaflet-top {
  top: 1rem;
}

.leaflet-left.leaflet-bottom {
  bottom: 1rem;
}

.leaflet-left.leaflet-top,
.leaflet-left.leaflet-bottom {
  left: auto;
  .leaflet-control {
    margin: 0;
  }
}
