// MAP

$highlight-marker-size: 2rem;
$highlight-marker-border: 6px;
$marker-size: 0.625rem;
$marker-border: 4px;


.country-marker {
  @extend .antialiased;
  width: $marker-size;
  height: $marker-size;
  background: $secondary-color;
  border-radius: $global-rounded;
  text-align: center;
  font-size: 0.875rem;
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;
  color: #fff;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -($marker-border / 2);
    left: -($marker-border / 2);;
    width: calc(#{$marker-size} + #{$marker-border});
    height: calc(#{$marker-size} + #{$marker-border});
    border-radius: $global-rounded;
    border: $marker-border solid rgba($primary-color, 0.15);
  }
}

.country-marker.highlight {
  width: $highlight-marker-size;
  height: $highlight-marker-size;
  background: shade($secondary-color, 20%);
  line-height: $highlight-marker-size;

  &::before {
    top: -($highlight-marker-border / 2);
    left: -($highlight-marker-border / 2);;
    width: calc(#{$highlight-marker-size} + #{$highlight-marker-border});
    height: calc(#{$highlight-marker-size} + #{$highlight-marker-border});
    border-width: $highlight-marker-border;
  }
}



.light-stroke {
  stroke: #fff;
  stroke-opacity: 0.85;
}


// CONTROLS

.bttn-group.map-country-toggle {
  padding: 0.5rem;
  background: #fff;
  border-radius: $global-radius;
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.mapboxgl-control-container {
  @include center($max-width);
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  @media #{$medium-up} {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media #{$large-up} {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
