// MODALS

// This parent can be any width and height
// http://css-tricks.com/centering-in-the-unknown/
.modal {
  text-align: center;
  background: none repeat scroll 0 0 rgba($primary-color, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow-y: auto;
  padding: 0 2rem;
  font-family: $brand-font-family;
  
  // The ghost, nudged to maintain perfect centering
  // Only medium-up queries
  @media #{$large-up} {
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 1px;
      margin-right: -6px; // Adjusts for spacing
    }
  }
}

// The element to be centered, can also be of any width and height
.modal__inner {
  position: relative;
  width: 42rem;
  display: inline-block;
  vertical-align: middle;
  margin: 2rem 0;
  border: 0;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba($primary-color, 0.2);
  border-radius: $global-radius;
  padding: 2rem 6rem 2rem 2rem;
  text-align: left;

  @media #{$large-up} {
    width: 100%;
    max-width: 42rem;
    padding: 3rem 7rem 3rem 3rem;
  }

  &:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 4rem;
    background: $secondary-color;
    border-radius: 0 $global-radius $global-radius 0;
  }

  .modal--large & {
    @media #{$large-up} {
      max-width: 56rem;
    }
  }
}

// For the animation
.modal {
  @include opacity(0);
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition-property: opacity, visibility;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, linear;
  transition-delay: 0.1s, 0.1s;

  &__inner {
    @include opacity(0);
    margin-top: -4rem;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition-property: opacity, visibility, margin-top;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, linear, ease;
    transition-delay: 0, 0, 0;
  }
  
  &.revealed {
    transition-property: opacity, visibility;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, linear;
    transition-delay: 0, 0;
    
    @include opacity(1);
    visibility: visible;
    
    .modal__inner {
      transition-property: opacity, visibility, margin-top;
      transition-duration: 0.2s, 0.2s, 0.2s;
      transition-timing-function: ease, linear, ease;
      transition-delay: 0.1s, 0.1s, 0.1s;
      
      @include opacity(1);
      margin-top: 2rem;
      visibility: visible;
    }
  }
}

// Content styles
.modal {
  &__title {
    @extend .hd-l;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: block;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    color: rgba(255,255,255,0.4);
    span {
      @extend .visually-hidden;
    }
    &:before {
      @extend .collecticon-s-cancel;
    }
  }
  &__body {
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__footer {
    margin-top: 2rem;
  }
}

.modal__header {
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* TWEENER - IE 10 */
  flex-wrap: wrap;
  width: 100%;

  > *:last-child {
    margin-bottom: 0;
  }
}

.modal__headline {
  padding-right: 2rem;
  margin-bottom: 1rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.modal__intro {
  font-size: 1.25rem;
  line-height: 1.75rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.modal__actions {
  -ms-flex: 1 1 auto; /* IE 10 */
  flex: 1 1 auto;
  text-align: right;
  font-size: 0;
  white-space: nowrap;

  > *:last-child {
    margin-bottom: 0;
  }
}

// Modal 2016
.subscribe-no {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}