// MODALS

// This parent can be any width and height
// http://css-tricks.com/centering-in-the-unknown/
.modal {
  text-align: center;
  background: none repeat scroll 0 0 rgba($primary-color, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow-y: auto;
  padding: 0 2rem;
  font-family: $brand-font-family;
  
  // The ghost, nudged to maintain perfect centering
  // Only medium-up queries
  @media #{$large-up} {
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 1px;
      margin-right: -6px; // Adjusts for spacing
    }
  }
}

// The element to be centered, can also be of any width and height
.modal__inner {
  position: relative;
  width: 46rem;
  display: inline-block;
  vertical-align: middle;
  margin: 4rem 0;
  border: 0;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba($primary-color, 0.2);
  border-radius: $global-radius;
  padding: 4rem 12rem 4rem 6rem;
  text-align: left;
  @media #{$large-up} {
    width: 100%;
    max-width: 46rem;
  }
  &:after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 6rem;
    background: $secondary-color;
    border-radius: 0 $global-radius $global-radius 0;
  }
}

// For the animation
.modal {
  @include opacity(0);
  visibility: hidden;
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, visibility);
  @include transition-duration(0.2s, 0.2s);
  @include transition-timing-function(ease, linear);
  @include transition-delay(0.1s, 0.1s);

  &__inner {
    @include opacity(0);
    margin-top: -4rem;
    visibility: hidden;
    @include transform(translate3d(0, 0, 0));
    @include transition-property(opacity, visibility, margin-top);
    @include transition-duration(0.2s, 0.2s, 0.2s);
    @include transition-timing-function(ease, linear, ease);
    @include transition-delay(0, 0, 0);
  }
  
  &.revealed {
    @include transition-property(opacity, visibility);
    @include transition-duration(0.2s, 0.2s);
    @include transition-timing-function(ease, linear);
    @include transition-delay(0, 0);
    
    @include opacity(1);
    visibility: visible;
    
    .modal__inner {
      @include transition-property(opacity, visibility, margin-top);
      @include transition-duration(0.2s, 0.2s, 0.2s);
      @include transition-timing-function(ease, linear, ease);
      @include transition-delay(0.1s, 0.1s, 0.1s);
      
      @include opacity(1);
      margin-top: 4rem;
      visibility: visible;
    }
  }
}

// Content styles
.modal {
  &__title {
    @extend .hd-l;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: block;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    color: rgba(255,255,255,0.4);
    span {
      @extend .visually-hidden;
    }
    &:before {
      @extend .collecticon-s-cancel;
    }
  }
  &__body {
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__footer {
    margin-top: 2rem;
  }
}

// Modal 2016
.subscribe-no {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}