// OVERLAYS

// TITLED

*[data-title]:hover {
  position: relative;
  cursor: help;
  &:after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: 1400;
    max-width: 6rem;
    padding: 0.125rem 0.5rem;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: $global-radius;
    box-shadow: 2px 2px 0 rgba($primary-color, 0.05);
    background-clip: padding-box;
    margin-bottom: 0.125rem;
    font-size: 0.85rem;
    color: tint($primary-color, 60%);
    font-weight: normal;
    text-transform: uppercase;
    font-family: $brand-font-family;
    font-weight: normal;
    @extend .truncated;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
  }
}

// TOOLTIPS

$tooltip-arr-size: 1rem;

.tooltip-map,
.tooltip {
  display: block;
  position: absolute;
  z-index: 1070;
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, margin, visibility);
  @include transition-duration(0.1s, 0.1s, 0.1s);
  @include transition-timing-function(ease, ease, linear);
  @include transition-delay(0, 0, 0);
}

.tooltip {
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  &.in {
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
  }
}

// Appearance
.tooltip-inner {
  position: relative;
  max-width: 20rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $global-radius;
  box-shadow: 4px 4px 0 rgba($primary-color, 0.05);
  background-clip: padding-box;
  >:last-child {
    margin-bottom: 0;
  }
  &:before {
    position: absolute;
    z-index: 15;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    height: $tooltip-arr-size;
    width: $tooltip-arr-size;
  }
}

// Placement
.tooltip.top,
.tooltip-map.top {
  margin-top: -($tooltip-arr-size/2);
  .tooltip-inner:before {
    @extend .icon-triangle-down;
    bottom: -0.625rem;
    left: 50%;
    margin-left: -($tooltip-arr-size/2);
    text-shadow: 0 1px tint($primary-color, 85%);
  }
}

.tooltip.right,
.tooltip-map.right {
  margin-left: $tooltip-arr-size/2;
  .tooltip-inner:before {
    @extend .icon-triangle-left;
    left: -0.625rem;
    top: 50%;
    margin-top: -($tooltip-arr-size/2);
    text-shadow: -1px 0 tint($primary-color, 85%);
  }
}

.tooltip.bottom,
.tooltip-map.bottom {
  margin-top: $tooltip-arr-size/2;
  .tooltip-inner:before {
    @extend .icon-triangle-up;
    top: -0.625rem;
    left: 50%;
    margin-left: -($tooltip-arr-size/2);
    text-shadow: 0 -1px tint($primary-color, 85%);
  }
}

.tooltip.left,
.tooltip-map.left {
  margin-left: -($tooltip-arr-size/2);
  .tooltip-inner:before {
    @extend .icon-triangle-right;
    right: -0.625rem;
    top: 50%;
    margin-top: -($tooltip-arr-size/2);
    text-shadow: 1px 0 tint($primary-color, 85%);
  }
}

.tooltip-arrow {
  display: none;
}


// Contents

.tooltip-map {
  .tooltip__header {
    padding: 2.25rem 1rem 1rem 1rem;
    margin: -1rem;
    border-bottom: 1px solid tint($primary-color, 90%);
    position: relative;
  }
  .tooltip__title {
    @extend .hd-xxs;
    margin: 0;
    white-space: pre-wrap;
    display: inline;
    a {
      color: inherit;
    }
  }
  .tooltip__subtitle {
    position: absolute;
    top: 1rem;
    left: auto;
    z-index: 10;
    @extend .hd-label;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .tooltip__body {
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem;
  }
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: tint($primary-color, 60%);
    span {
      @extend .visually-hidden;
    }
    &:before {
      @extend .icon-s-cancel;
    }
  }
}

.price_chart_tooltip{
  font-family: $brand-font-family;
  font-size:.875rem;

    .price{
      font-weight: 600;
    }

}

// DROPDOWN

.dropdown {
  position: relative;
}
.dropdown-toggle {
  &.caret {
    &:after {
      @extend .icon-s-arr-down;
      @include opacity(0.4);
      font-size: 1rem;
      margin-left: 0.25rem;
    }
  }
  &:focus {
    outline: 0;
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: -1.5rem 0 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $global-radius;
  box-shadow: 4px 4px 0 rgba($primary-color, 0.05);
  background-clip: padding-box;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, margin, visibility);
  @include transition-duration(0.1s, 0.1s, 0.1s);
  @include transition-timing-function(ease, ease, linear);
  @include transition-delay(0, 0, 0);
  .open > & {
    filter: alpha(opacity=100);
    opacity: 1;
    margin-top: 0.5rem;
    visibility: visible;
  }
  &:before {
    @extend .icon-triangle-up;
    position: absolute;
    z-index: 15;
    top: -0.625rem;
    left: 1rem;
    color: #fff;
    font-size: 1rem;
    text-shadow: 0 -1px tint($primary-color, 90%);
    line-height: 1;
    height: 1rem;
    width: 1rem;
  }
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu > li > a {
  display: block;
  position: relative;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: normal;
  color: tint($primary-color, 20%);
  white-space: nowrap;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-family: $brand-font-family;
  &.has-icon {
    padding-left: 2.5rem;
    &:before {
      position: absolute;
      z-index: 1;
      left: 1rem;
      top: 0.2rem;
      color: $secondary-color;
      font-size: 1rem;
    }
  }
  &.twitter:before { @extend .icon-twitter; }
  &.facebook:before { @extend .icon-facebook; }
  &.pdf:before { @extend .icon-file-pdf; }
  &.source:before { @extend .icon-file-src-dat; }
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: $success-color;
  background-color: tint($success-color, 80%);
  opacity: 1;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  outline: 0;
  background-color: $success-color;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
  &:before {
    left: auto;
    right: 1rem;
  }
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 0.85rem;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
