// SEC CONTENT

.col--sec > * {
  margin-bottom: $global-spacing * 4;

  &:last-child {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.sec-section {
  > *:last-child {
    margin-bottom: 0;
  }
}

.sec-section__title {
  @extend .hd-xs;
}

.sec-nav__title {
  @extend .hd-xxs;
}

.sec-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;

  a {
    position: relative;
    display: block;
    box-shadow: inset 0 -1px 0 0 rgba($primary-color, 0.08);
    padding: $global-spacing ($global-spacing * 2) $global-spacing 0;

    &::after {
      @extend %collecticon-s-arr-right;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 1rem;
      line-height: 1;
      width: 1rem;
      text-align: center;
      right: 0;
      color: rgba($primary-color, 0.32);
    }
  }
}