// SETTINGS
// Contains the settings of the Global Climatescope

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// The $base-line-height is 100% while $base-font-size is 150%
$base-line-height: 150%;

// We use these as default colors throughout
$primary-color: #000;                            	  // black
$secondary-color: #77bc1f;                          // green
$tertiary-color: #C3D500;                          	// light green
$quaternary-color: #00925F;                         // dark green
$alert-color: #D85D3F;                              // red
$success-color: $secondary-color;                   // same as $secondary-color
$warning-color: #F4A432;                            // yellow
$info-color: #499DD2;                               // blue

$infograph-color-a: #F0C30E;						// yellow
$infograph-color-b: #62A60A;						// dark green
$infograph-color-c: #008FBE;						// blue
$infograph-color-d: #635D9B;						// purple

// We use these to control various global styles
$body-bg: tint($primary-color, 95%);
$body-font-color: tint($primary-color, 20%);
$body-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$body-font-bold: 700;

$brand-font-family: "Klavika", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-font-weight: normal;
$brand-font-bold: 700;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 0.25rem;
$global-rounded: 60rem;

// Spacing
$global-spacing: 1rem;

// We use these to shadow text
%global-text-shadow {
  text-shadow: 0 1px 0 rgba($primary-color, 0.4);
}

// Media Query Ranges
$small-range: (0, 543px);
$medium-range: (544px, 767px);
$large-range: (768px, 991px);
$xlarge-range: (992px, 1199px);
$xxlarge-range: (1200px);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

// Probably not used much, since we're officially supporting only medium-up
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";