// SURVEY OVERLAY

#survey-overlay {
  position: fixed;
  bottom: -0.5rem;
  right: 1.5rem;
  z-index: 9999;
  width: 16rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $global-radius;
  box-shadow: 0 0 0 4px rgba($primary-color, 0.05);
  background-clip: padding-box;

  @include transition-property(opacity, transform);
  @include transition-duration(0.32s, 0.32s);
  @include transition-timing-function(ease, ease);
  @include transition-delay(0, 0);

  @include opacity(0);
  @include transform(translate(0, 100%));
  
  h1 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
    padding-right: 2rem;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    display: block;
    font-size: 1rem;
    line-height: 2;
    width: 2rem;
    text-align: center;
    height: 2rem;
    color: #ccc;
    color: rgba(0,0,0,0.32);
    span {
      @extend .visually-hidden;
    }
    &:before {
      @extend .collecticon-s-cancel;
    }
  }
  @media print {
    display: none;
  }

  &.revealed {
    @include opacity(1);
    @include transform(translate(0, 0));
  }
}