/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset 'UTF-8';


/* Third-party
   ========================================================================== */

/**
 * Using Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import 'bourbon';

/**
 * Using Jeet, a grid system designed for humans:
 * http://jeet.gs/
 */

@import 'jeet';

/**
 * Normalize.css, a modern, HTML5-ready alternative to CSS resets:
 * http://necolas.github.io/normalize.css/
 */

@import 'vendor/normalize';

/**
 * Kenneth Ormandy's OpenType features—ligatures, kerning, and more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

@import 'vendor/normalize-opentype';


/* Settings
   ========================================================================== */

@import 'settings/variables';
@import 'settings/functions';
@import 'settings/mixins';


/* Core
   ========================================================================== */

@import 'core/base';
@import 'core/collecticons'; // Webfont icon library: Collecticons
@import 'core/typography';
@import 'core/tables';
@import 'core/media';
@import 'core/skins';
@import 'core/animation';


/* Global
   ========================================================================== */

@import 'global/buttons';
@import 'global/toolbar';
@import 'global/forms';
@import 'global/controls';
@import 'global/drops';
@import 'global/popovers';
@import 'global/charts';
@import 'global/labels';
@import 'global/lists';
@import 'global/cards';
@import 'global/loading';
@import 'global/page';
@import 'global/inpage';
@import 'global/folds';



/* Home
   ========================================================================== */

@import 'home/global';


/* Static
   ========================================================================== */

@import 'static/global';


/* Results
   ========================================================================== */

@import 'results/global';
@import 'results/hub';
@import 'results/single';


/* Library
   ========================================================================== */

@import 'library/global';


/* Policies
   ========================================================================== */

@import 'policies/hub';
@import 'policies/single';


/* Policies
   ========================================================================== */

@import 'compare/global';


/* Playground
   ========================================================================== */

@import 'playground/global';


/* Core (...cont)
   ========================================================================== */

@import 'core/utilities';


/* Vendor
   ========================================================================== */

@import 'vendor/react-tooltip';
@import 'vendor/react-paginate';
@import 'vendor/react-slider';
@import 'vendor/mapbox-gl';
