/* ==========================================================================
   Results: Hub
   ========================================================================== */

.inpage--hub.inpage--results {
  .inpage__header {
    padding-bottom: 0;

    em {
      font-style: inherit;
      white-space: nowrap;

      span {
        @extend .truncated;
        max-width: 24rem;
        display: inline-block;
        vertical-align: top;
      }
    }

    .drop__toggle--caret::after {
      font-size: 2rem;
    }
  }

  .inpage__body {
    padding-top: 0;
  }
}


/* Parameter controls
   ========================================================================== */

.par-controls {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: ($global-spacing) ($global-spacing * 2);
  flex: 1 1 auto;
}

.par-controls__headline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-column: 1 / span 12;
}

.par-controls__title {
  @include heading(1rem);
  text-transform: uppercase;
  margin: 0 ($global-spacing / 4) 0 0;
}

.par-controls__reset-button {
  @extend .button, .button--small, .button--base-plain, .button--text-hidden;

  &::before {
    @extend %collecticon-arrow-loop;
  }
}

.control {
  grid-column-end: span 4;
  grid-row-start: 2;

  &.param-1 {
    grid-column-start: 1;
  }

  &.param-2 {
    grid-column-start: 5;
  }

  &.param-3 {
    grid-column-start: 9;
  }
}

.control__title {
  @extend .heading-alt;
  font-weight: $heading-font-regular;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: tint($base-color, 56%);
  margin-bottom: 0.75rem;
}

.control .button:not(:last-child) {
  margin-right: 0.5rem;
}

.slider {
  margin-bottom: 0.75rem;
}

.control.param-1 .slider .bar-0 {
  background: $parameter-color-a;
}

.control.param-2 .slider .bar-0 {
  background: $parameter-color-b;
}

.control.param-3 .slider .bar-0 {
  background: $parameter-color-c;
}

.slider-value {
  @include heading(1.25rem);
  float: left;
  margin-bottom: 0;
}

.control {
  .form__option {
    float: right;
    margin: 0;
  }
}


/* Map viz
   ========================================================================== */

.results-map-viz {
  position: relative;
  z-index: 2;
  margin: 0 0 ($global-spacing * 2) 0;

  .media__item {
    position: relative;
    height: 20rem;
    background: tint($base-color, 96%);
  }

  .media__caption {
    @extend .visually-hidden;
  }
}

.country-marker {
  @extend .antialiased;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: $full-border-radius;
  text-align: center;
  font-size: 1rem;
  font-family: $heading-font-family;
  font-weight: $heading-font-bold;
  color: #fff;
  background: shade($link-color, 28%);
  box-shadow: 0 0 0 $base-border-width $base-alpha-color;
  line-height: 0.5rem;
  vertical-align: middle;
}

.country-marker.highlight {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

/* Controls */

.bttn-group.map-country-toggle {
  padding: 0.5rem;
  background: #fff;
  border-radius: $base-border-radius;
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.mapboxgl-control-container {
  @extend .row, .row--centered;
  position: relative;
  height: 100%;
  pointer-events: none;
}

.rank-switcher {
  @extend .button-group, .button-group--horizontal;
  box-shadow: $base-border-width $base-border-width 0 rgba($base-color, 0.06);
  border-radius: $base-border-radius;
  padding: $global-spacing / 2;
  background: #fff;

  button {
    @extend .button, .button--base-raised-semidark, .button--small;
    min-width: 7rem;
  }
}


/* Table viz
   ========================================================================== */

.inpage--hub.inpage--results {
  .col--main {
    grid-column: 1 / span 12;
  }
}

.results-table {
  table-layout: fixed;

  td, th {
    break-word: word-wrap;
  }

  .th-rank {
    width: 6rem;
  }

  .th-name {
    width: 15rem;
  }

  .th-score {
    width: 7rem;
  }

  .th-graph {
    width: auto;
  }

  .th-grid {
    width: 5rem;
  }

  sup {
    margin-left: 0.25rem;
    top: 0.25rem;
    vertical-align: super;
  }

  .label {
    @extend .label--text-hidden;
    margin: 0.125rem 0;
    vertical-align: top;
  }

  .stack-bar {
    margin: 0.125rem 0;
  }
}

.popover__body .empty {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: tint($base-color, 56%);
}
