/* ==========================================================================
   Results: single
   ========================================================================== */

.inpage--results.inpage--single {
  .inpage__title {
    margin-bottom: $global-spacing * 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  .inpage__body {
    padding: 0;
  }

  .inpage__actions {
    padding: 0;
    margin-left: auto;
    align-self: flex-end;
  }

  [class^="ipa-"],
  [class*=" ipa-"] {
    @include media(large-down) {
      padding-left: 0;
      padding-right: 0;

      &::before {
        margin: 0;
      }

      span {
        font-size: 0;
      }
    }
  }
}

.par-section {
  padding: ($global-spacing * 4) 0;

  &:nth-child(odd) {
    background: #fff;
  }

  &:nth-child(even) {
    background: tint($base-color, 96%);
  }
}

/*
  Define the grid areas according to the type of section we have and the
  media query.
*/
.par-section__contents {
  @extend .row, .row--centered;
  // The clearfix messes with the grid system adding an extra gap because of the
  // pseudo elements. Override them.
  &:before,
  &:after {
    content: none !important;
  }

  display: grid;
  grid-gap: $global-spacing * 2;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  .par-section--linear &,
  .par-section--split & {
    grid-template-areas: 
      "alpha alpha alpha alpha"
      "beta beta beta beta";
  }

  .par-section--split & {
    @include media(large-up) {
      grid-template-areas: 
        "alpha alpha alpha beta"
        "alpha alpha alpha beta";
    }
  }
}

.area-alpha,
.area-beta {
  display: grid;
  grid-gap: $global-spacing * 2;
  grid-template-columns: repeat(2, 1fr);

  .par-section--linear & {
    @include media(large-up) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .par-section--split & {
    @include media(large-up) {
      display: block;

      > *:not(:last-child) {
        margin-bottom: $global-spacing * 2;
      }
    }
  }
}

.area-alpha {
  grid-area: alpha;
}

.area-beta {
  grid-area: beta;
}

.par-section__header {
  grid-column: auto / span 2;

  @include media(large-up) {
    grid-column: auto / span 3;
  }
}

.par-section__title {
  @include heading(1.75rem); // 28px
  text-transform: none;
}

.par-section__description {
  color: tint($base-color, 48%);

  > *:last-child {
    margin-bottom: 0;
  }
}
