---
layout: base
title : Index
id: index
lang: es
---
<article class="layout--home">
  <header class="layout--home__header sticky" id="parameters-controls">
    <div class="row--contained">
      <div class="layout--home__heading">
        <h1 class="layout--home__title visually-hidden">{{ page.title }}</h1>
      </div>
      <div class="layout--home__tools">
        <div id="vis-controls">
          <div class="control">
            <h3>Marco propicio</h3>
            <input id="param-01" type="range" />
          </div>
          <div class="control">
            <h3>Financiamiento y investimiento</h3>
            <input id="param-02" type="range" />
          </div>
          <div class="control">
            <h3>Cadenas de valor</h3>
            <input id="param-03" type="range" />
          </div>
          <div class="control">
            <h3>Gestión de GEI</h3>
            <input id="param-04" type="range" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="layout--home__body">
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script>
var domain = '{{site.domain}}';

  var app = angular.module('app', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });

  app.controller('TableListController', ['$http', function($http) {
    _self = this;
    this.countries = [];

    this.sortField = 'overall_ranking';
    this.sortReverse = false;

    $http.get(domain + '/es/api/countries.json').success(function(data) {
      _self.countries = data;
    });
  }]);

</script>

<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">

  <div ng-app="app">

    <div ng-controller="TableListController as table">
      <table border="1">
       <tr>
         <th><a href="" ng-click="sortField = 'overall_ranking'; sortReverse = !sortReverse">Posición</a></th>
         <th><a href="" ng-click="sortField = 'name'; sortReverse = !sortReverse">País</a></th>
         <th><a href="" ng-click="sortField = 'score'; sortReverse = !sortReverse">Puntaje</a></th>
         <th><a href="" ng-click="sortField = 'parameters[0].value'; sortReverse = !sortReverse">Marco propicio</a></th>
         <th><a href="" ng-click="sortField = 'parameters[1].value'; sortReverse = !sortReverse">Financiamiento y investimiento</a></th>
         <th><a href="" ng-click="sortField = 'parameters[2].value'; sortReverse = !sortReverse">Cadenas de valor</a></th>
         <th><a href="" ng-click="sortField = 'parameters[3].value'; sortReverse = !sortReverse">Gestión de GEI</a></th>
         <th><a href="" ng-click="sortField = 'grid'; sortReverse = !sortReverse">Grid</a></th>
       </tr>
       <tr ng-repeat="country in table.countries | orderBy:sortField:sortReverse">
         <td>//country.overall_ranking//</td>
         <td>//country.name//</td>
         <td>//country.score//</td>
         <td>//country.parameters[0].value//</td>
         <td>//country.parameters[1].value//</td>
         <td>//country.parameters[2].value//</td>
         <td>//country.parameters[3].value//</td>
         <td>//country.grid//</td>
       </tr>
      </table>
    </div>

  </div>

</div>

  </div>

</article>