---
layout: base
title : Welcome
id: index
lang: en
include_map: true

description: Climatescope a unique country-by-country assessment, interactive report and index that evaluates the investment climate for climate-related investment worldwide.
---
{% assign language = page.lang %}
{% assign t = site.data.i18n_strings %}
<section class="layout--home">
  <header class="layout--home__header visually-hidden">
    <div class="row--contained">
      <div class="layout--home__heading">
        <h1 class="layout--home__title">{{ page.title }}</h1>
      </div>
    </div>
  </header>

  <div class="layout--home__body">
    <div class="row--contained">
      <div class="featured-col featured-col--main">

        <section class="featured-section">
          <h1 class="featured-section__title">Updates</h1>
          <div class="featured-section__body">
            <ol class="entry-list">
              {% assign posts = site.posts | where:"lang",language %}
              {% for post in posts limit:2 %}
              {% unless post.hidden == true %}
              <li>
                <article class="entry entry--short update">
                  <div class="entry__contents">
                    <header class="entry__header">
                      <p class="entry__subtitle">{{ post.date | date: '%b %-d, %Y' }}</p>
                      <a href="{{ site.domain }}{{ site.path_prefix }}{{ post.url }}" title="View more" class="link-wrapper">
                        <h1 class="entry__title">{{ post.title }}</h1>
                      </a>
                    </header>
                    {% if post.description %}
                    <div class="entry__body">
                      <div class="entry__prose">
                        <p>{{ post.description }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </article>
              </li>
              {% endunless %}
              {% endfor %}
            </ol>
          </div>
          <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/blog" title="{{ t['View all'][language] }}" class="bttn bttn-success go">{{ t['View all'][language] }}</a>
        </section>

        <section class="featured-section featured-block">
          <h1 class="featured-section__title">Off-grid Quarterly</h1>
          <div class="featured-section__body">
            <ol class="entry-list">
              <li>
                <article class="entry entry--short update">
                  <div class="entry__contents">
                    <header class="entry__header">
                      <a href="{{ site.domain }}{{ site.path_prefix }}{{ language }}/off-grid-quarterly/q3-2017/" title="View more" class="link-wrapper">
                        <h1 class="entry__title">3Q 2017 Off-grid and mini-grid market outlook</h1>
                      </a>
                    </header>
                  </div>
                </article>
              </li>
            </ol>
          </div>
          <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/off-grid-quarterly" title="{{ t['View all'][language] }}" class="bttn bttn-success go">View all</a>
        </section>
      </div>

      <div class="featured-col featured-col--sec">
        <section class="featured-section">
          <h1 class="featured-section__title">Tools</h1>
          <div class="featured-section__body">
            <ul class="tools-list">
              {% assign tools = site.tools | where:"featured",true %}
              {% for tool in tools limit:3 %}
              {% unless tool.hidden == true %}
              <li>
                <article class="feat-tool">
                  <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}{{tool.url}}" title="View tool page" style="background-image: url({{ site.domain }}{{ site.path_prefix }}/assets/images/content/feat-tools/{{ tool.image }});">
                    <h1 class="feat-tool__title">{{ tool.title }}</h1>
                    <p class="feat-tool__summary">{{ tool.description }}</p>
                  </a>
                </article>
              </li>
              {% endunless %}
              {% endfor %}
            </ul>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>
