---
layout: base
title : Welcome
id: index
lang: en
include_map: true

description: Climatescope a unique country-by-country assessment, interactive report and index that evaluates the investment climate for climate-related investment worldwide.
---
{% assign language = page.lang %}
{% assign t = site.data.i18n_strings %}
<section class="layout--home">
  <header class="layout--home__header visually-hidden">
    <div class="row--contained">
      <div class="layout--home__heading">
        <h1 class="layout--home__title">{{ page.title }}</h1>
      </div>
    </div>
  </header>

  <div class="layout--home__body">
    <div class="row--contained">
      <div class="featured-col featured-col--main">

        <section class="featured-section">
          <h1 class="featured-section__title">Insights</h1>
          <div class="featured-section__body">
            <ol class="entry-list">
              {% assign item = site.posts | where:"lang",language | where:"featured", true | first %}
              {% if item %}
              <li>
                <article class="entry entry--short update">
                  <div class="entry__contents">
                    <header class="entry__header">
                      <p class="entry__subtitle">Read the update: {{ item.date | date: '%b %-d, %Y' }}</p>
                      <a href="{{ site.domain }}{{ site.path_prefix }}{{ item.url }}" title="View more" class="link-wrapper">
                        <h1 class="entry__title">{{ item.title }}</h1>
                      </a>
                    </header>
                    {% if item.description %}
                    <div class="entry__body">
                      <div class="entry__prose">
                        <p>{{ item.description }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </article>
              </li>
              {% endif %}

              {% assign item = site.en_off-grid | where:"featured", true | sort:"date" | last %}
              {% if item %}
              <li>
                <article class="entry entry--short update">
                  <div class="entry__contents">
                    <header class="entry__header">
                      <p class="entry__subtitle">Explore the report</p>
                      <a href="{{ site.domain }}{{ site.path_prefix }}{{ item.url }}" title="View more" class="link-wrapper">
                        <h1 class="entry__title">{{ item.title }}</h1>
                      </a>
                    </header>
                    {% if item.description %}
                    <div class="entry__body">
                      <div class="entry__prose">
                        <p>{{ item.description }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </article>
              </li>
              {% endif %}

              {% assign insights = site.en_insights | where:"featured", true | sort: 'frontpage_order' %}
              {% for item in insights %}
              <li>
                <article class="entry entry--short update">
                  <div class="entry__contents">
                    <header class="entry__header">
                      <p class="entry__subtitle">Explore the report</p>
                      <a href="{{ site.domain }}{{ site.path_prefix }}{{ item.url }}" title="View more" class="link-wrapper">
                        <h1 class="entry__title">{{ item.title }}</h1>
                      </a>
                    </header>
                    {% if item.description %}
                    <div class="entry__body">
                      <div class="entry__prose">
                        <p>{{ item.description }}</p>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </article>
              </li>
              {% endfor %}
            </ol>
          </div>
        </section>
      </div>

      <div class="featured-col featured-col--sec" ng-app="globalApp">
        <section class="featured-section">
          <h1 class="featured-section__title">Tools</h1>
          <div class="featured-section__body">
            <script>
              // Include tools to be picked up by angular.
              CS.toolsData = [
                {% assign tools = site.en_tools %}
                {% for tool in tools %}
                {% unless tool.hidden == true %}
                  {
                    title: '{{ tool.title }}',
                    description: '{{ tool.description }}',
                    image: {% if tool.image %} '{{ site.domain }}{{ site.path_prefix }}/assets/images/content/feat-tools/{{ tool.image }}' {% else %} null {% endif %},
                    darken: {% if tool.darken %} true {% else %} false {% endif %},
                    link: '{{ site.domain }}{{ site.path_prefix }}/{{ language }}{{ tool.link }}'
                  },
                {% endunless %}
                {% endfor %}
              ];
            </script>
            <ul class="tools-list" ng-controller="ToolsListController as todoList">
              <li ng-repeat="tool in todoList.tools" ng-cloak>
                <article ng-class="{'feat-tool': true, 'feat-tool--darken': tool.darken}">
                  <a href="%% tool.link %%" title="View tool page" ng-style="tool.image ? {'background-image': 'url(' + tool.image + ')'} : ''">
                    <h1 class="feat-tool__title">%% tool.title %%</h1>
                    <p class="feat-tool__summary">%% tool.description %%</p>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>
