/* ==========================================================================
   Policies: Hub
   ========================================================================== */

.inpage--policies.inpage--hub {
  .inpage__header {
    padding-bottom: 0;
  }
}

.pol-controls {
  .form__actions {
    justify-content: flex-end;
  }
}


/* Table
   ========================================================================== */

.policies-table {
  margin-bottom: $global-spacing * 2;
}
