<section class="modal modal--large" data-modal="2017-update">
  <div class="modal__inner">
    <header class="modal__header">
      <div class="modal__headline">
        <h1 class="modal__title">Get ready for <strong>Climatescope 2017</strong></h1>
        <p class="modal__intro">A new edition of the Global Climatescope will launch soon.</p>
      </div>
      <div class="modal__actions">
        <p class="counter"><time datetime="2017-11-30"><span data-hook="launch-days:0">2</span><span data-hook="launch-days:1">8</span> <strong>days left</strong></time></p>
        <script>
          var launchDay = new Date('2017-11-28');
          var diff = launchDay.getTime() - (new Date()).getTime();
          diff = Math.ceil(diff / 86400 / 1000);

          var nums = diff.toString().split('');
          if (nums.length === 1) nums.unshift('0');

          document.querySelector('[data-hook="launch-days:0"]').innerText = nums[0];
          document.querySelector('[data-hook="launch-days:1"]').innerText = nums[1];
        </script>
      </div>
      <a class="close" title="Close" data-modal-dismiss><span>Close</span></a>
    </header>

    <div class="modal__body">

      <div class="modal__section">
        <h2 class="modal__section-title">Watch the video</h2>
        <div class="embed-container">
          <iframe src="https://player.vimeo.com/video/240195012" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>

      <div class="modal__section">
        <h2 class="modal__section-title">Read the updates</h2>

        <ol class="entry-list">   
          <li>
            <article class="entry entry--short update">
              <div class="entry__contents">
                <header class="entry__header">
                  <p class="entry__subtitle">Nov 03, 2017</p>
                  <a href="http://localhost:3000/en/blog/2017/06/26/GSMA" title="View more" class="link-wrapper">
                    <h1 class="entry__title">Find out about Climate Policy</h1>
                  </a>
                </header>
                
                <div class="entry__body">
                  <div class="entry__prose">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida dui gravida, consequat mauris eget, aliquam tortor. Mauris accumsan nisi id aliquet luctus.</p>
                  </div>
                </div>
                
              </div>
            </article>
          </li>
          <li>
            <article class="entry entry--short update">
              <div class="entry__contents">
                <header class="entry__header">
                  <p class="entry__subtitle">Nov 03, 2017</p>
                  <a href="http://localhost:3000/en/blog/2017/05/31/powerforall" title="View more" class="link-wrapper">
                    <h1 class="entry__title">Find out about Investment</h1>
                  </a>
                </header>
                
                <div class="entry__body">
                  <div class="entry__prose">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida dui gravida, consequat mauris eget, aliquam tortor. Mauris accumsan nisi id aliquet luctus.</p>
                  </div>
                </div>
                
              </div>
            </article>
          </li>
        </ol>
      </div>

    </div>
  </div>
</section>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>  