<section class="modal" data-modal="2017-update">
  <div class="modal__inner">
    <header class="modal__header">
      <h1 class="modal__title">Get ready for the Climatescope 2017</h1>
      <p class="counter"><time datetime="2017-11-30"><span data-hook="launch-days:0">2</span><span data-hook="launch-days:1">8</span> <strong>days left</strong></time></p>
      <script>
        var launchDay = new Date('2017-11-28');
        var diff = launchDay.getTime() - (new Date()).getTime();
        diff = Math.ceil(diff / 86400 / 1000);

        var nums = diff.toString().split('');
        if (nums.length === 1) nums.unshift('0');

        document.querySelector('[data-hook="launch-days:0"]').innerText = nums[0];
        document.querySelector('[data-hook="launch-days:1"]').innerText = nums[1];
      </script>

      <a class="close" title="Close" data-modal-dismiss><span>Close</span></a>
    </header>
    <div class="modal__body">
      <form action="//global-climatescope.us14.list-manage.com/subscribe/post?u=f7420b38cc86494fc1ab6cb31&amp;id=e17a5880bd" method="post" id="mc-embedded-subscribe-form" name="subscribe-form">
        <p class="form-description">A new edition of the Global Climatescope will launch soon. Sign up here and be the first to discover new insights into clean energy in emerging markets.</p>

        <div class="form-control">
          <label class="form-label">Email Address</label>
          <input type="email" value="" name="EMAIL" id="email">
        </div>
        <div id="mce-responses">
          <p class="response error" id="mce-error-response" style="display:none"></p>
          <p class="response success" id="mce-success-response" style="display:none"></p>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f7420b38cc86494fc1ab6cb31_e17a5880bd" tabindex="-1" value=""></div>

        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="bttn bttn-success">
        <a href="#" title="" target="_blank" data-download="no-thank-you" class="subscribe-no">No thanks, I'll check back on my own</a>
      </form>
    </div>
  </div>
</section>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>  