<section class="layout--hub compare" ng-app="blogApp" ng-controller="blogController as blogCtrl">

  <header class="layout--page__header">
    <div class="row--contained">
      <div class="layout--page__heading">
        <h1 class="layout--page__title">{{ t['Blog'][language] }}</h1>
      </div>
      <div class="layout--hub__tools" init-dropdown>
        {% include actions_menu.html download_exc=true %}
      </div>
    </div>
  </header>

  <div class="layout--page__body">
    <div class="row--contained">
  
      <div class="col--main">
        <ul class="ctas-list">
          <li ng-repeat="post in blogCtrl.posts">
            <article>
              <h4><a class="blog-post-title" href="%% post.url %%" alt="View post">%% post.title %%</a></h4>
              <p>%% post.description %%</p>
              <a class="bttn bttn-m bttn-cta go" href="%% post.url %%" title="{{ t['Read more'][language] }}">{{ t['Read more'][language] }}</a>
              <hr>
            </article>
          </li>
        </ul>

        <ul class="bttn-group bttn-page-nav">
          <li>
            <a href="" class="bttn bttn-s bttn-dark back" ng-click="blogCtrl.prev()" ng-class="{disabled: blogCtrl.isControlDisabled('prev')}" alt="Previous">Prev</a>
          </li>
          <li>
            <a href="" class="bttn bttn-s bttn-dark go" ng-click="blogCtrl.next()" ng-class="{disabled: blogCtrl.isControlDisabled('next')}" alt="Next">Next</a>
          </li>
        </ul>
      </div>

      <div class="col--sec">
        <section class="sec-section">
          <h2 class="sec-section__title">Get in touch</h2>
          <p>Please <a href="mailto:climatescope@bloomberg.net">reach out</a> if you would like us to write about a particular topic, or have something to share.</p>
        </section>

        <section class="sec-section">
          <h2 class="sec-section__title">Recent tweets</h2>
          <div class="recent-tweets">
            <a class="twitter-timeline"  href="https://twitter.com/search?f=tweets&q=climatescope" data-widget-id="802127681433272320" data-tweet-limit="3" data-chrome="noheader nofooter noborders noscrollbar transparent" data-link-color="#77bc1f">Tweets about climatescope</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <a href="https://twitter.com/search?q=climatescope" title="{{ t['View all'][language] }}" class="bttn bttn-success go" target="_blank" rel="external">{{ t['View all'][language] }}</a>
        </section>
      </div>

    </div>
  </div> <!-- END layout--hub__body -->
</section>
