<section class="layout--hub compare" ng-app="blogApp" ng-controller="blogController as blogCtrl">

  <header class="layout--page__header">
    <div class="row--contained">
      <div class="layout--page__heading">
        <h1 class="layout--page__title">{{ t['Blog'][language] }}</h1>
      </div>
      <div class="layout--hub__tools" init-dropdown>
        {% include actions_menu.html download_exc=true %}
      </div>
    </div>
  </header>

  <div class="layout--page__body">
    <div class="row--contained">

      <ul ng-repeat="post in blogCtrl.posts" class="ctas-list">
        <li>
         <h4> <a class="blog-post-title" href="%% post.url %%" alt="View post">%% post.title %%</a></h4>
        </li>
        <li>
         <p>%% post.description %%</p>
        </li>
        <li><a class="bttn bttn-m bttn-cta go" href="%% post.url %%" title="{{ t['Read more'][language] }}">{{ t['Read more'][language] }}</a></li>
        <hr>
      </ul>


      <ul class="bttn-group bttn-page-nav">
        <li>
          <a href="" class="bttn bttn-s bttn-dark back" ng-click="blogCtrl.prev()" ng-class="{disabled: blogCtrl.isControlDisabled('prev')}" alt="Previous">Prev</a>
        </li>
        <li>
          <a href="" class="bttn bttn-s bttn-dark go" ng-click="blogCtrl.next()" ng-class="{disabled: blogCtrl.isControlDisabled('next')}" alt="Next">Next</a>
        </li>
      </ul>

    </div>
  </div> <!-- END layout--hub__body -->
</section>
