{% if layout.conf.type == 'region' %}
<table class="table region-table">
{% else %}
<table class="table country-table">
{% endif %}

  <thead>
    <tr>
      <th class="th-rank"><a href="" title="{{ t['Sort by rank'][language] }}" ng-click="countryTable.setSortExpression('score[0].overall_ranking')" class="sort" ng-class="[countryTable.checkSortClasses('score[0].overall_ranking')]">{{ t['Rank'][language] }}</a></th>
      <th class="th-country"><a href="" title="{{ t['Sort by country'][language] }}" ng-click="countryTable.setSortExpression('name')" class="sort" ng-class="[countryTable.checkSortClasses('name')]">{{ t['Country'][language] }}</a></th>
      <th class="th-score"><a href="" title="{{ t['Sort by global score'][language] }}" ng-click="countryTable.setSortExpression('score[0].value')" class="sort" ng-class="[countryTable.checkSortClasses('score[0].value')]">{{ t['Score'][language] }}</a></th>
      <th>{{ t['Trend'][language] }}</th>
      <th class="th-graph"><span class="visually-hidden">{{ t['Topics'][language] }}:</span> 0.0 - 5.0</th>
      <th class="th-grid"><a href="" title="{{ t['Sort by grid'][language] }}" ng-click="countryTable.setSortExpression('grid')" class="sort" ng-class="[countryTable.checkSortClasses('grid')]">{{ t['Grid'][language] }}</a></th>
    </tr>
  </thead>
  <tbody ng-repeat="country in countryTable.countries | orderBy:countryTable.sortExpression ">
    <tr>
      <td class="cell-rank">%% country.score[0].overall_ranking | leadingZero:2 %%</td>
      <td class="cell-country">
        <a href="%% countryTable.getCountryUrl(country) %%" title="{{ t['Go to country page'][language] }}">%% country.name %%</a>
        <a href="" title="{{ t['Show states'][language] }}" ng-if="country.iso == 'in'" ng-click="countryTable.toggleStates($event)" class="expand-toggle"><span>{{ t['States'][language] }}</span></a>
      </td>
      <td>%% country.score[0].value | thousands:2 %%</td>
      <td class="cell-trendline"><div ng-init="countryTable.computeTrendlineData(country)" init-chart="trendline" class="chart-trendline" chart-data="country.trendline"><!-- Chart --></div></td>
      <td>
        <div class="table-graph">
          <ul class="table-bar" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% countryTable.getTooltipContent(country.parameters) %%">
            <li ng-repeat="param in country.parameters" ng-class="'param-' + param.id" ng-style="{'width': countryTable.calcBarSegment(param)}"><span class="visually-hidden">%% param.data[0].value %%</span>&nbsp;</li>
          </ul>
        </div>
      </td>
      <td><em data-title="%% country.grid %%" class="label-grid" ng-class="{'label-grid-on': country.grid == 'on', 'label-grid-off': country.grid == 'off'}"><span>%% country.grid %%</span></em></td>
    </tr>

    <tr ng-if="country.states.length > 0" class="wrapper-row country-states" style="display: none">
      <td colspan="6">
        <table class="table table-nested">
          <thead>
            <tr>
            {% if layout.conf.type == 'region' %}
              <th class="th-rank">&nbsp;</th>
            {% endif %}
              <th class="th-rank"><span class="visually-hidden">{{ t['Rank'][language] }}</span></th>
              <th class="th-country"><span class="visually-hidden">{{{ t['Country'][language] }}</span></th>
              <th class="th-score"><span class="visually-hidden">{{{ t['Score'][language] }}</span></th>
              <th>Trend (i18n)</th>
              <th class="th-graph"><span class="visually-hidden">{{ t['Topics'][language] }}: 0.0 - 5.0</span></th>
              <th class="th-grid">&nbsp;</th>
            </tr>
          </thead>
          <tr ng-repeat="state in country.states | orderBy:'score[0].value':true">
            <td class="cell-rank">%% state.score[0].state_ranking | leadingZero:2 %%</td>
            <td class="cell-country"><a href="%% countryTable.getStateUrl(state) %%" title="{{ t['Go to state page'][language] }}">%% state.name %%</a></td>
            <td>%% state.score[0].value | thousands:2 %%</td>
            <td class="cell-trendline"><div ng-init="countryTable.computeTrendlineData(state)" init-chart="trendline" class="chart-trendline" chart-data="state.trendline"><!-- Chart --></div></td>
            <td>
              <div class="table-graph">
                <ul class="table-bar" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% countryTable.getTooltipContent(state.parameters) %%">
                  <li ng-repeat="param in state.parameters" ng-class="'param-' + param.id" ng-style="{'width': countryTable.calcBarSegment(param)}"><span class="visually-hidden">%% param.data[0].value %%</span>&nbsp;</li>
                </ul>
              </div>
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>

  </tbody>
</table>