{% assign col_name = site.collections['en_page'].i18n[language] %}
{% assign contact = site[col_name] | where:"id", "contact" | first %}
{% assign license = site[col_name] | where:"id", "license" | first %}
{% assign press = site[col_name] | where:"id", "press" | first %}

<footer id="site-footer" role="contentinfo">
  <div class="row--contained">
    <nav id="comp-nav">
      <ul class="ftr-menu">
        <li><a href="http://2014.global-climatescope.org" title="{{ t['Visit 2014 Edition'][language] }}" target="_blank" rel="external">{{ t['2014 Edition'][language] }}</a></li>
        <li><a href="{{ site.domain }}{{ site.path_prefix }}{{ press.url }}" title="{{ t['Visit press'][language] }}">{{ t['Press'][language] }}</a></li>
        <li><a href="{{ site.domain }}{{ site.path_prefix }}{{ contact.url }}" title="{{ t['View contact'][language] }}">{{ t['Contact'][language] }}</a></li>
      </ul>
    </nav>
    <section id="ftr-credits">
      <h1>{{ t['By'][language] }}</h1>
      <ul class="logo-list">
        <li><a href="https://www.gov.uk/government/organisations/department-for-international-development" title="{{ t['Visit UK Aid'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['UK Aid logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-ukaid.png" /> <span>{{ t['UK Aid'][language] }}</span></a></li>
        <li><a href="http://www.usaid.gov/powerafrica" title="{{ t['Visit Power Africa'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['Power Africa logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-power-africa.png" /> <span>{{ t['Power Africa'][language] }}</span></a></li>
        <li><a href="http://www.fomin.org/" title="{{ t['Visit The Multilateral Investment Fund'][language] }}" target="_blank"><img width="256" height="128" alt="{{ t['The Multilateral Investment Fund logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-fomin-en.png" /> <span>{{ t['The Multilateral Investment Fund'][language] }}</span></a></li>
        <li><a href="http://www.newenergyfinance.com/" title="{{ t['Visit Bloomberg'][language] }}"  target="_blank"><img width="256" height="128" alt="{{ t['Bloomberg logo'][language] }}" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/credits-logo-bloomberg.png" /> <span>{{ t['Bloomberg'][language] }}</span></a></li>
      </ul>
      <p class="copyright">2012 - 2014 {{ t['Climatescope'][language] }}. <a href="{{ site.domain }}{{ site.path_prefix }}{{ license.url }}" title="{{ t['About the license'][language] }}">{{ t['License'][language] }}</a></p>
    </section>
  </div>
</footer>
