{% assign col_name = site.collections['en_page'].i18n[language] %}
{% assign contact = site[col_name] | where:"id", "contact" | first %}
{% assign license = site[col_name] | where:"id", "license" | first %}
{% assign press = site[col_name] | where:"id", "press" | first %}

<footer id="site-footer" role="contentinfo">
  <div class="row--contained">
    <nav class="ftr-nav">
      <div class="ftr-nav__block">
        <h2 class="ftr-title">Browse</h2>
        <ul class="ftr-menu">
          <li><a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/results" title="View results">Results</a></li>
          <li><a href="#" title="View insights">Insights</a></li>
          <li><a href="#" title="View tools">Tools</a></li>
          <li><a href="{{ site.domain }}{{ site.path_prefix }}{{ contact.url }}" title="View contact">Contact</a></li>
        </ul>
      </div>
      <div class="ftr-nav__block">
        <h2 class="ftr-title">Editions</h2>
        <ul class="ftr-menu">
          <li><a href="http://2016.global-climatescope.org" title="Visit 2016 Edition" target="_blank" rel="external">2016</a></li>
          <li><a href="http://2015.global-climatescope.org" title="Visit 2015 Edition" target="_blank" rel="external">2015</a></li>
          <li><a href="http://2014.global-climatescope.org" title="Visit 2014 Edition" target="_blank" rel="external">2014</a></li>
        </ul>
      </div>
    </nav>

    <section class="ftr-supporters">
      <h2 class="ftr-title">Supporters</h2>
      <ul class="logo-list">
        <li><a class="logo-ukaid" href="https://www.gov.uk/government/organisations/department-for-international-development" title="Visit UK Aid"  target="_blank"><img width="118" height="128" alt="UK Aid logo" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/logo-ukaid-flat-pos.svg" /><span>UK Aid</span></a></li>
        <li><a class="logo-bnef" href="http://www.newenergyfinance.com/" title="Visit Bloomberg"  target="_blank"><img width="552" height="128" alt="Bloomberg logo" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/logo-bnef-flat-pos.svg" /><span>Bloomberg</span></a></li>
        <!-- <li><a class="logo-usaid" href="http://www.usaid.gov" title="Visit USAID"  target="_blank"><img width="288" height="128" alt="USAID logo" src="{{ site.domain }}{{ site.path_prefix }}/assets/images/layout/logo-usaid-flat-pos.svg" /><span>USAID</span></a></li> -->
      </ul>
    </section>
  </div>

  <div class="ftr-credits">
    <div class="row--contained">
      <p>2012-2017 Climatescope. <a href="{{ site.domain }}{{ site.path_prefix }}{{ license.url }}" title="About the license'">View license</a>.</p>
    </div>
  </div>
</footer>
