<div class="flexslider">
  <ul class="slides">


    <li class="slide-wrapper">
      <article class="slide">

        <div class="row--contained">
          <div class="intro-block">
            <h2 class="intro-block__title">{{ t['Mapping the Global Frontiers for Clean Energy Investment'][language] }}</h2>
            <div class="intro-block__body">
              <p>{{ t['Explore and assess the investment climate and policies for clean energy investments in 55 emerging markets in Africa, Asia, and in Latin America and the Caribbean offered by the Climatescope 2014 – a unique country-by-country assessment, interactive report and index.'][language] }}</p>
              <p><a href="{{ site.domain }}{{ site.path_prefix }}/en/methodology" class="bttn bttn-success go" title="{{ t['Learn more about the methodology'][language] }}">{{ t['About the methodology'][language] }}</a></p>
            </div>
          </div>
        </div>

      </article>
    </li>


    <li class="slide-wrapper">
      <article class="slide">

        <div class="row--contained">
          <div class="intro-block">
            <h2 class="intro-block__title">2015 New Energy Outlook</h2>
            <div class="intro-block__body">
              <p>New Energy Outlook (NEO) is Bloomberg's New Energy Finance's annual long-term view of how the world's power markets will evolve in the future.</p>
              <p><a href="https://www.bnef.com/dataview/new-energy-outlook/index.html" class="bttn bttn-success go" title="{{ t['Get the Executive Summary'][language] }}">{{ t['Get the Executive Summary'][language] }}</a></p>
            </div>
          </div>
        </div>

      </article>
    </li>

    <li class="slide-wrapper">
      <article class="slide" >

        <div class="row--contained">
          <div class="intro-block">
            <h2 class="intro-block__title">{{ post.title }}</h2>
            <div class="intro-block__body">
              <p>Blog Post Description Here</p>
               <p><a href="" class="bttn bttn-success go" title="{{ t['Read more'][language] }}">{{ t['Read more'][language] }}</a></p>
            </div>
          </div>
        </div>

      </article>
    </li>

    
  </ul>
</div>