<div class="row--contained row--contained-alt">
  <div class="intro-block">
    <h2 class="intro-block__title">{{ t['Mapping the Global Frontiers for Clean Energy Investment'][language] }}</h2>
    <div class="intro-block__body">
      <p>{{ t['Climatescope tracks the conditions for clean energy investment on and off the grid, and provides a wealth of publicly-available information on 55 emerging markets in Africa, Asia and Latin America & the Caribbean'][language] }}</p>
      <p><a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/results" class="bttn bttn-success bttn-l go" title="{{ t['Get the results'][language] }}">{{ t['Get the results'][language] }}</a></p>
    </div>
  </div>
</div>