<ul class="lang-menu bttn-group bttn-group-s bttn-list">
  {% if page.collection %}
    {% assign cur_lang = site.collections[page.collection].lang %}

    {% assign translated_col = site.collections[page.collection].i18n['en'] %}
    {% assign col = site[translated_col] | where:"id",page.id | first %}
    <li><a title="Switch to English" href="{{ site.domain }}{{ site.path_prefix }}{{col.url | remove:'index.html' }}" class="bttn bttn-light {% if 'en' == cur_lang %}active{% endif %}">EN</a></li>

    {% assign translated_col = site.collections[page.collection].i18n['es'] %}
    {% assign col = site[translated_col] | where:"id",page.id | first %}
    <li><a title="Cambiar a Español" href="{{ site.domain }}{{ site.path_prefix }}{{col.url | remove:'index.html' }}" class="bttn bttn-light {% if 'es' == cur_lang %}active{% endif %}">ES</a></li>

  {% elsif page.postId %}

    {% assign pg = site.posts | where:"lang","en" | where:"postId",page.postId | first %}
    <li><a title="Switch to English" href="{{ site.domain }}{{ site.path_prefix }}{{pg.url | remove:'index.html' }}" class="bttn bttn-light {% if 'en' == page.lang %}active{% endif %}">EN</a></li>

    {% assign pg = site.posts | where:"lang","es" | where:"postId",page.postId | first %}
    <li><a title="Cambiar a Español" href="{{ site.domain }}{{ site.path_prefix }}{{pg.url | remove:'index.html' }}" class="bttn bttn-light {% if 'es' == page.lang %}active{% endif %}">ES</a></li>

  {% else %}

    {% assign pg = site.pages | where:"lang","en" | where:"id",page.id | first %}
    <li><a title="Switch to English" href="{{ site.domain }}{{ site.path_prefix }}{{pg.url | remove:'index.html' }}" class="bttn bttn-light {% if 'en' == page.lang %}active{% endif %}">EN</a></li>

    {% assign pg = site.pages | where:"lang","es" | where:"id",page.id | first %}
    <li><a title="Cambiar a Español" href="{{ site.domain }}{{ site.path_prefix }}{{pg.url | remove:'index.html' }}" class="bttn bttn-light {% if 'es' == page.lang %}active{% endif %}">ES</a></li>

  {% endif %}

</ul>
