<ul class="global-menu">
  <li>
    <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/" title="{{ t['Go home'][language] }}">{{ t['Home'][language] }}</a>
  </li>
  <li>
    <a href="{{ site.domain }}{{ site.path_prefix }}/{{ language }}/results" title="{{ t['The global index'][language] }}">{{ t['Results'][language] }}</a>
  </li>
  <li class="dropdown">
    <a href="#" title="{{ t['Explore our insights'][language] }}" class="dropdown-toggle caret" data-toggle="dropdown">{{ t['Insights'][language] }}</a>
    <div class="dropdown-content">
      <ul class="dropdown-menu" role="menu">
        <li>
          {% assign pg = site.pages | where:"id","blog" | where:"lang",language | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url | remove:'index.html' }}" title="{{ t['View blog posts'][language] }}">{{ t['Blog'][language] }}</a>
        </li>
        <li>
          {% assign col_name = site.collections['en_page'].i18n[language] %}
          {% assign pg = site[col_name] | where:"id","summary" | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url | remove:'index.html' }}" title="{{ t['More about the executive summary'][language] }}">{{ t['Summary'][language] }}</a>
        </li>
      </ul>
      <h6 class="dropdown-title">{{ t['Topics'][language] }}</h6>
      <ul class="dropdown-menu" role="menu">
        {% assign col_name = site.collections['en_parameter'].i18n[language] %}
        {% assign sorted_params = (site[col_name] | sort: 'weight') %}
        {% for topic in sorted_params %}
        <li>
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ topic.url }}" title="{{ t['More about'][language] }} {{ topic.title }}" class="param-{{ topic.id }}">{{ topic.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <h6 class="dropdown-title">{{ t['Regions'][language] }}</h6>
      <ul class="dropdown-menu" role="menu">
        {% assign col_name = site.collections['en_region'].i18n[language] %}
        {% assign sorted_regions = (site[col_name] | sort: 'weight') %}
        {% for region in sorted_regions %}
        <li>
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ region.url }}" title="{{ t['See detailed data on'][language] }} {{ region.title }}">{{ region.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" title="{{ t['Explore our resources'][language] }}" class="dropdown-toggle caret" data-toggle="dropdown">{{ t['Resources'][language] }}</a>
    <div class="dropdown-content">
      <ul class="dropdown-menu" role="menu">
        <li>
          {% assign pg = site.pages | where:"id","policies" | where:"lang",language | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url | remove:'index.html' }}" title="{{ t['Browse the policy database'][language] }}">{{ t['Policies'][language] }}</a>
        </li>
        <li>
          {% assign col_name = site.collections['en_page'].i18n[language] %}
          {% assign pg = site[col_name] | where:"id","download" | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url }}" title="{{ t['Download the data and report'][language] }}">{{ t['Download'][language] }}</a>
        </li>
        <li>
          {% assign col_name = site.collections['en_page'].i18n[language] %}
          {% assign pg = site[col_name] | where:"id","about" | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url }}" title="{{ t['More about the Climatescope'][language] }}">{{ t['About Climatescope'][language] }}</a>
        </li>
        <li>
          {% assign col_name = site.collections['en_page'].i18n[language] %}
          {% assign pg = site[col_name] | where:"id","methodology" | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url }}" title="{{ t['More about the methodology'][language] }}">{{ t['Methodology'][language] }}</a>
        </li>
        <li>
          {% assign col_name = site.collections['en_page'].i18n[language] %}
          {% assign pg = site[col_name] | where:"id","license" | first %}
          <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url }}" title="{{ t['About the license'][language] }}">{{ t['License'][language] }}</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    {% assign col_name = site.collections['en_page'].i18n[language] %}
    {% assign pg = site[col_name] | where:"id","contact" | first %}
    <a href="{{ site.domain }}{{ site.path_prefix }}{{ pg.url }}" title="{{ t['Contact us'][language] }}">{{ t['Contact'][language] }}</a>
  </li>
</ul>