<section class="modal" data-modal="modal-intro-video" id="modal-intro-video">
  <div class="modal__inner">
    <header class="modal__header">
      <h1 class="modal__title">Intro video</h1>
      <a class="close" title="Close" data-modal-dismiss><span>Close</span></a>
    </header>
    <div class="modal__body">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/194376128" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
</section>