<h1 class="visually-hidden">{{ t['In detail'][language] }}</h1>

<section class="param-details" ng-repeat="param in detailsCtrl.parameters" ng-class="'param-' + param.id">

  <header class="param-details__header">
      <div class="param-details__heading">
        <h1 class="param-details__title"><a href="%% detailsCtrl.getParamUrl(param) %%" title="{{ t['Go to topic page'][language] }}">%% param.name %%</a></h1>
      </div>
      <dl class="param-details__stats">
        <dt>{{ t['Score'][language] }}</dt>
        <dd>%% param.data[0].value | round:2 %%</dd>
        <dt>{{ t['Rank'][language] }}</dt>
        <dd>%% (param.data[0].overall_ranking || param.data[0].state_ranking) | leadingZero:2 %%</dd>
      </dl>
  </header>

  <div class="param-details__body">

    <div ng-if="param.id == 3" >
      <ul class="key">
          <li class="key-available">{{ t['Available'][language] }}</li>
          <li class="key-unavailable">{{ t['Unavailable'][language] }}</li>
      </ul>
      <ul class="value-chains chart-wrapper">
        <li ng-repeat="card in detailsCtrl.chartData['value-chains'].data" class="card-wrapper">
          <article class="card" ng-class="card.id">
              <h2 class="card-title">%% card.name %%</h2>
              <div class="card-content">
                <ul class="available-list">
                  <li ng-repeat="avl in card.values | filter:{active:true}">%% $last ? avl.name : avl.name + ';' %% </li>
                </ul>
                <ul class="non-available-list">
                  <li ng-repeat="notavl in card.values | filter:{active:false}">%% $last ? notavl.name : notavl.name + ';' %% </li>
                </ul>
              </div>
            </article>
        </li>
      </ul>
    </div>

    <div class="param-details__graph">
      <figure ng-if="param.id == 1" class="chart-wrapper">
        <figcaption>{{ t['Price Attractiveness'][language] }}</figcaption>
        <div id="price-attractiveness-e" class="chart-std price-attractiveness-e" init-chart="price_attractiveness_electricity" chart-data="detailsCtrl.chartData['price-attractiveness-electricity']">
          <p class="chart-subhead">{{ t['Electricity 2014'][language] }}</p>
          <!-- Chart -->
        </div>

        <div id="price-attractiveness-fuel" class="chart-std price-attractiveness-fuel" ng-if="detailsCtrl.chartData['price-attractiveness-fuel'].data[0].values[0].value != 0" init-chart="price_attractiveness_electricity" chart-data="detailsCtrl.chartData['price-attractiveness-fuel']">
          <p class="chart-subhead">{{ t['Fuel 2014'][language] }}</p>
          <!-- Chart -->
        </div>
      </figure>
      <figure ng-if="param.id == 1" class="chart-wrapper">
        <figcaption>{{ t['Installed capacity'][language] }}</figcaption>
        <div id="installed-capacity" class="chart-std installed-capacity" init-chart="installed_capacity" chart-data="detailsCtrl.chartData['installed-capacity']"><!-- Chart --></div>
      </figure>
      <figure ng-if="param.id == 2" class="chart-wrapper">
        <figcaption>{{ t['Clean energy investments'][language] }}</figcaption>
        <div id="clean-energy-investments" class="chart-std clean-energy-investments" init-chart="clean_energy_investments" chart-data="detailsCtrl.chartData['clean-energy-investments']"><!-- Chart --></div>
      </figure>
      <figure ng-if="param.id == 4" class="chart-wrapper">
        <figcaption>{{ t['Carbon offset'][language] }}</figcaption>
        <div id="carbon-offset" class="chart-std carbon-offset" init-chart="carbon_offset" chart-data="detailsCtrl.chartData['carbon-offset']"><!-- Chart --></div>
      </figure>
    </div>
    
     <div ng-if="param.id == 1" class="power-sector">
        <h2 class="param-details__sectitle">{{ t['Power sector structure'][language] }}</h2>
        <div class="top-questions" power-chart="detailsCtrl.chartData['power-sector-1']"><!-- Angular directive -   cs_directives.js --></div>
        <div power-chart="detailsCtrl.chartData['power-sector-2']"><!-- Angular directive - cs_directives.js --></div>
        <div power-chart="detailsCtrl.chartData['power-sector-3']"><!-- Angular directive - cs_directives.js --></div>
        <div power-chart="detailsCtrl.chartData['power-sector-4']"><!-- Angular directive - cs_directives.js --></div>
      </div>

    <div class="param-details__table">
      <h2 class="param-details__sectitle">{{ t['Indicators'][language] }}</h2>
      <div class="table-wrapper">
        <table class="table detailed-data">
          <thead>
            <tr>
              <th><span class="visually-hidden">{{ t['Parameter'][language] }}</span></th>
              <th>{{ t['Rank'][language] }}</th>
              <th>{{ t['Score'][language] }}</th>
              <th>Trend (i18n)</th>
              <th>{{ t['Value'][language] }}</th>
              <th><span class="visually-hidden">{{ t['Info'][language] }}</span></th>
            </tr>
          </thead>
          <tbody ng-repeat="ind_group in param.indicator_groups">
            <tr>
              <th class="cell-hd" colspan="5">%% ind_group.name %%</th>
            </tr>
            <tr ng-repeat="ind in ind_group.indicators" ng-class="{disabled: !ind.active}">
              <td class="cell-ind">%% ind.name %%</td>
              <td class="cell-rank">%% ind.data[0].overall_ranking || '-' %%</td>
              <td class="cell-score">%% ind.data[0].value | round:3 %%</td>
              <td class="cell-trendline"><div ng-if="ind.active" init-chart="trendline" class="chart-trendline" chart-data="ind"><!-- Chart --></div></td>
              <td class="cell-score">%% (ind.data[0].raw.value | round:3) || '-' %%<sup>%% ind.data[0].raw.unit %%</sup></td>
              <td class="cell-info"><a href="" title="{{ t['About this indicator'][language] }}" tooltip-animation="false" tooltip-placement="left" tooltip-html-unsafe="%% detailsCtrl.getTooltipContent(ind) %%"><span>{{ t['Info'][language] }}</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="param-details__table-actions">
        <a class="bttn bttn-cta" href="" ng-click="detailsCtrl.toggleTable(param.id, $event)" title="{{ t['View more'][language] }}">{{ t['View more'][language] }}</a>
      </div>

    </div>

  </div>
</section>