<div class="policies-type-stats">
  <h2 >{{ t['Policies'][language] }}</h2>
  <a class="bttn bttn-m bttn-cta policies-bttn-va" href="{{ site.domain }}{{ site.path_prefix }}/en/policies/#/?country={{ page.id | upcase }}" title="{{ t['View policies'][language] }}">{{ t['View all'][language] }} <span class="badge">%% statsCtrl.policyCount %%</span></a>

  <ul class="policies-type-list">
    <li class="policies-type-wrapper" ng-repeat="mecha in statsCtrl.pMechanisms">

      <div class="policy-type" ng-if="mecha.count == 0">%% mecha.name %%</div>
      <a class="policy-type active" ng-if="mecha.count > 0" href="{{ site.domain }}{{ site.path_prefix }}/en/policies/#/?country={{ page.id | upcase }}" title="{{ t['View policies'][language] }}">%% mecha.name %%</a>

    </li>
  </ul>
</div>