<div ng-app="policyApp">
  
  <!-- Template for the policy hub -->
  <script type="text/ng-template" id="policy_list.html">
  <section class="layout--hub policies">

    <header class="layout--hub__header" ng-controller="policyFiltersController as filterCtrl">
      <div class="row--contained">
        <div class="layout--hub__heading">
          <h1 class="layout--hub__title">{{ t['Policies'][language] }}</h1>
          <p class="layout--hub__lead">{{ t['Analyze more than 450 policies intended to spur clean energy development in the nations, states, and provinces surveyed by the Climatescope.'][language] }}</p>
        </div>
        <div class="layout--hub__tools" init-dropdown>
          {% include actions_menu.html %}
        </div>
        
        <div class="layout--hub__controls">
          
          <div class="control">
            <label class="control-title" for="policy_country">{{ t['Country'][language] }}</label>
            <select class="sllt sllt-m" id="policy_country" name="policy_country" ng-model="filterCtrl.filters.country" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.country)" ng-change="filterCtrl.filters.state = null">
              <option value="">{{ t['All'][language] }}</option>
            </select>
          </div>
          
          <div class="control">
            <label class="control-title" for="policy_state">{{ t['State / province'][language] }}</label>
            <select class="sllt sllt-m" id="policy_state" name="policy_state" ng-model="filterCtrl.filters.state" ng-options="value.id as value.name for value in filterCtrl.getSelectOptsState(filterCtrl.filterData.state)" ng-disabled="!filterCtrl.getSelectOptsState(filterCtrl.filterData.state).length">
              <option value="">{{ t['All'][language] }}</option>
            </select>
          </div>
            
          <div class="control">
            <label class="control-title" class="control-title" for="policy_status">{{ t['Status'][language] }}</label>
            <select class="sllt sllt-m" id="policy_status" name="policy_status" ng-model="filterCtrl.filters.status" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.status)">
              <option value="">All</option>
            </select>
          </div>
          
          <div class="control">
            <button ng-click="filterCtrl.disableFilters()" class="bttn bttn-default bttn-m restart hide-txt"><span>{{ t['Reset'][language] }}</span></button>
            <button ng-click="filterCtrl.apply()" class="bttn bttn-dark bttn-m">{{ t['Filter'][language] }}</button>
          </div>
          
          <!-- <div class="control">
            <label for="policy_subsector">Subsector</label>
            <select class="sllt sllt-m" id="policy_subsector" name="policy_subsector" ng-model="filterCtrl.filters.subsector" ng-options="value.id as value.name for value in filterCtrl.getSelectOpts(filterCtrl.filterData.subsector)">
              <option value="">-- Any --</option>
            </select>
          </div> -->
        </div>
        
      </div>
    </header>

    <div class="layout--hub__body">
      <div class="row--contained" ng-controller="policyTableController as tableCtrl">
        
        <table class="table policies-table" ng-show="tableCtrl.policies.length > 0" ng-if="!tableCtrl.loadingData">
          <thead>
            <tr>
              <th><a href="" title="{{ t['Sort by policy name'][language] }}" ng-click="tableCtrl.setSort('name')" class="sort" ng-class="[tableCtrl.checkSortClasses('name')]">{{ t['Policy name'][language] }}</a></th>
              <th><a href="" title="{{ t['Sort by country'][language] }}" ng-click="tableCtrl.setSort('country')" class="sort" ng-class="[tableCtrl.checkSortClasses('country')]">{{ t['Country'][language] }}</a></th>
              <th><a href="" title="{{ t['Sort by state / province'][language] }}" ng-click="tableCtrl.setSort('state')" class="sort" ng-class="[tableCtrl.checkSortClasses('state')]">{{ t['State / province'][language] }}</a></th>
              <th>{{ t['Policy Mechanism'][language] }}</th>
              <th><a href="" title="{{ t['Sort by status'][language] }}" ng-click="tableCtrl.setSort('status')" class="sort" ng-class="[tableCtrl.checkSortClasses('status')]">{{ t['Status'][language] }}</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="policy in tableCtrl.policies">
              <td class="cell-policy-name">
                <a href="%% tableCtrl.getPolicyLink(policy)%%" title="{{ t['Go to policy page'][language] }}">%% policy.name %%</a>
              </td>

             
             <td>
               <div ng-if="policy.country.length > 1" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% tableCtrl.getTooltipContentList(policy.country) %%">
                 %% policy.country[0].name %% <small>+ %% policy.country.length - 1 %%</small>
               </div>
               <div ng-if="policy.country.length == 1">%% policy.country[0].name %%</div>
             </td>
             
             <td>
               <div ng-if="policy.state.length > 1" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% tableCtrl.getTooltipContentList(policy.state) %%">
                 %% policy.state[0].name %% <small>+ %% policy.state.length - 1 %%</small>
               </div>
               <div ng-if="policy.state.length == 1">%% policy.state[0].name %%</div>
               <div ng-if="policy.state.length < 1">N/A</div>
             </td>
             
             <td>
               <div ng-if="policy.type.mechanism.length > 1" tooltip-animation="false" tooltip-placement="top" tooltip-html-unsafe="%% tableCtrl.getTooltipContentList(policy.type.mechanism) %%">
                 %% policy.type.mechanism[0].name %% <small>+ %% policy.type.mechanism.length - 1 %%</small>
               </div>
               <div ng-if="policy.type.mechanism.length == 1">%% policy.type.mechanism[0].name %%</div>
               <div ng-if="policy.type.mechanism.length < 1">N/A</div>
             </td>
             
             <td>%% policy.status.name %%</td>
             
            </tr>
          </tbody>
        </table>
        
        <div pagination page="tableCtrl.currentPage" total-items="tableCtrl.totalItems" items-per-page="tableCtrl.itemsPerPage" max-size="tableCtrl.pagesToShow" on-select-page="tableCtrl.changePage(page)" ng-if="!tableCtrl.loadingData" ng-show="tableCtrl.policies.length > 0"></div>

        <div ng-show="tableCtrl.policies.length == 0" ng-if="!tableCtrl.loadingData">{{ t['No results avaliable with current filters.'][language] }}</div>
        <div ng-if="tableCtrl.loadingData">{{ t['Loading data... Please wait.'][language] }}</div>

      </div>
    </div>

  </section>
  </script>
  
  <!-- Template for the policy -->
  <script type="text/ng-template" id="policy.html">
    <article class="layout--entry policies">

      <header class="layout--entry__header" ng-if="!policyCtrl.loadingData">
        <div class="row--contained">
          <div class="layout--entry__heading">
            <h1 class="layout--entry__title">%% policyCtrl.policy.name %%</h1>
            <p class="layout--entry__subtitle">
              <a href="#/" title="{{ t['Browse the policy database'][language] }}">{{ t['Policies'][language] }}</a>
            </p>
          </div>
          <div class="layout--entry__tools" init-dropdown>
            {% include actions_menu.html %}
          </div>
        </div>
      </header>

      <div class="layout--entry__body">
        <div class="row--contained" ng-if="!policyCtrl.loadingData">
          <div class="col--main">
            <section class="blk">
              <h1>Overview</h1>
            	<div class="abstract" ng-bind-html="policyCtrl.policy.abstract | nl2br">%% policyCtrl.policy.abstract %%</div>
            	<div class="description" ng-bind-html="policyCtrl.policy.description | nl2br"></div>
            </section>
            
            <section class="blk">
              <h1>Policy actions</h1>
            	<dl>
            		<dt ng-if="policyCtrl.policy.effectiveStartDate">Effective start date</dt>
            		<dd ng-if="policyCtrl.policy.effectiveStartDate">%% policyCtrl.policy.effectiveStartDate %%</dd>
            		<dt ng-if="policyCtrl.policy.legislationOrGovernance">Legislation or governance</dt>
            		<dd ng-if="policyCtrl.policy.legislationOrGovernance">%% policyCtrl.policy.legislationOrGovernance %%</dd>
            		<dt ng-if="policyCtrl.policy.legislationOrGovernanceInformation">Legislation or governance information</dt>
            		<dd ng-if="policyCtrl.policy.legislationOrGovernanceInformation">%% policyCtrl.policy.legislationOrGovernanceInformation %%</dd>
            		<dt ng-if="policyCtrl.policy.legislationOrGovernanceUrl.length">Legislation or governance url</dt>
            		<dd ng-if="policyCtrl.policy.legislationOrGovernanceUrl.length">
            		  <ul>
            		    <li ng-repeat="policyUrl in policyCtrl.policy.legislationOrGovernanceUrl"><a href="%% policyUrl.url %%" title="Go to %% policyUrl.label %%">%% policyUrl.label %%</a></li>
            		  </ul>
            		</dd>
            	</dl>
            </section>
            
            <section class="blk">
            	<h1>Subsector</h1>
        			<ul>
        				<li ng-repeat="policySubsector in policyCtrl.policy.subsector">%% policySubsector.name %%</li>
        			</ul>
            </section>
            
          </div>
        
          <div class="col--sec">
            <section class="blk">
            	<h1>Countries</h1>
        			<ul>
        				<li ng-repeat="policyCountry in policyCtrl.policy.country">%% policyCountry.name %%</li>
        			</ul>
            </section>
            
            <section class="blk">
            	<h1>Attributes</h1>
            	<dl>
            		<dt>Status</dt>
                <dd>%% policyCtrl.policy.status.name %%</dd>
            		<dt ng-if="policyCtrl.policy.fundingMethod">Funding method</dt>
                <dd ng-if="policyCtrl.policy.fundingMethod">%% policyCtrl.policy.fundingMethod %%</dd>
            		<dt ng-if="policyCtrl.policy.process">Process</dt>
                <dd ng-if="policyCtrl.policy.process" ng-bind-html="policyCtrl.policy.process | nl2br">%% policyCtrl.policy.process %%</dd>
            	</dl>
            </section>
          </div>
          
        </div>
        
        <div class="row--contained" ng-if="policyCtrl.loadingData">{{ t['Loading data... Please wait.'][language] }}</div>
          
      </div>
    
    </article>
  </script>
  
  <div ng-view></div>

</div>