<section class="layout--hub compare" ng-app="quarterlyApp" ng-controller="quarterlyController as qrtrCtrl">

  <header class="layout--page__header">
    <div class="row--contained">
      <div class="layout--page__heading">
        <h1 class="layout--page__title">{{ t['Off-grid Quarterly'][language] }}</h1>
      </div>

      <div class="layout--hub__tools" init-dropdown>
        {% include actions_menu.html download_exc=true %}
      </div>
    </div>
  </header>

  <div class="layout--page__body">
    <div class="row--contained">
  
      <div class="col--main">
        <ol class="entry-list">
          <li ng-repeat="post in qrtrCtrl.posts">
            <article class="entry entry--short update">
              <div class="entry__contents">
                <header class="entry__header">
                  <p class="entry__subtitle">%% post.date %%</p>
                  <a href="%% post.url %%" title="View more" class="link-wrapper">
                    <h1 class="entry__title">%% post.title %%</h1>
                  </a>
                </header>
                <div class="entry__body" ng-if="post.description">
                  <div class="entry__prose">
                    <p>%% post.description %%</p>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ol>
      </div>

      <div class="col--sec">
        <section class="sec-section">
          <h2 class="sec-section__title">Get in touch</h2>
          <p>Please <a href="mailto:climatescope@bloomberg.net">reach out</a> if you would like us to write about a particular topic, or have something to share.</p>
        </section>
      </div>

    </div>
  </div> <!-- END layout--hub__body -->
</section>
