<div class='media'>
  <div id='map' style='width: 256px; height: 256px;'></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2xpbWF0ZXNjb3BlIiwiYSI6ImNpdzJmb2dwcjBhMzQyenBia2E1azBjODUifQ.9I6shKgqM1xeBA13VX5a4g';
    var map = new mapboxgl.Map({
      container: 'map',
      attributionControl: false,
      interactive: false,
      maxBounds: [[65.830078,8.233237], [90.08789,34.307143]],
      style: {
        version: 8,
        sources: {
          'countries': {
            'type': 'vector',
            'url': 'mapbox://climatescope.2mzfoqfz'
          },
          'capitals': {
            'type': 'vector',
            'url': 'mapbox://climatescope.72mkxkjn'
          }
        },
        glyphs: "mapbox://fonts/climatescope/{fontstack}/{range}.pbf",
        layers: [
          {
            'id': 'background',
            'type': 'background',
            'paint': {
              'background-color': '#f3f5f6'
            }
          },
          {
            'id': 'country',
            'type': 'fill',
            'source': 'countries',
            'source-layer': 'climatescope-admin0-polygons-716yo8',
            'paint': {
              'fill-color': '#7BAF8B'
            },
            'filter': ['==', 'iso', 'in']
          },
          {
            'id': 'capital',
            'type': 'circle',
            'source': 'capitals',
            'source-layer': 'climatescope-admin0-capitals-0moqei',
            'paint': {
              'circle-color': '#4b8c6e'
            },
            'filter': ['==', 'iso', 'IN']
          },
          {
            'id': 'capital-label',
            'type': 'symbol',
            'source': 'capitals',
            'source-layer': 'climatescope-admin0-capitals-0moqei',
            'layout': {
              'visibility': 'visible',
              'text-field': '{name}',
              'text-font': [
                'Open Sans Regular'
              ],
              'text-offset': [0, -1]
            },
            'filter': ['==', 'iso', 'IN']
          }
        ]
      }
    });
  </script>
</div>