/* ==========================================================================
   Home: global
   ========================================================================== */

.inpage--home {
  .inpage__header {
    box-shadow: none;
  }

  .inpage__title {
    @include heading(2.5rem, xlarge-up);
    text-transform: none;
    margin-bottom: $global-spacing * 2;
  }

  .col--main {
    grid-column: 1 / span 8;

    @include media(large-up) {
      grid-column: 1 / span 9;
    }
  }

  .col--sec {
    grid-column: 9 / span 4;

    @include media(large-up) {
      grid-column: 10 / span 3;
    }
  }

  .inpage__body {
    padding-bottom: 0;

    > .inner {
      padding-bottom: ($global-spacing * 4);
    }
  }

  .inpage__hero-caption {
    @extend .visually-hidden;
  }
}

.home-cta-button {
  @extend .button, .button--xlarge, .button--achromic-glass;
  min-width: 12rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &::after {
    @extend %collecticon-sm-chevron-right;
  }
}

.video-cta-button {
  @extend .button, .button--xlarge, .button--achromic-glass;
  min-width: 12rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &::after {
    @extend %collecticons-circle-play;
  }
}



/* Featured sections
   ========================================================================== */

.fsection__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $global-spacing * 2;

  > *:last-child {
    margin-left: auto;
  }
}

.fsection__title {
  @include heading(1.5rem);
  margin-bottom: 0;
}

.fsa-go {
  @extend .button, .button--small, .button--primary-plain;

  &::after {
    @extend %collecticon-pop-up;
  }
}

.topics-list {
  list-style: none;
  margin: 0 0 $global-spacing 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.25rem;

  > * {
    margin: 0 ($global-spacing / 4) ($global-spacing / 4) 0;
  }
}

.topic-link {
  @extend .label, .label--reversed;
  vertical-align: top;
  font-size: 0.75rem;

  .card--featured & {
    color: #fff !important;
  }
}

.col--sec {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .card-list__item {
    grid-column: auto / span 1;
  }
}

/* Make tweeter section full height */
.fsection--tweets {
  display: flex;
  flex-flow: column;
  height: 100%;

  .timeline-wrapper {
    flex: 1;
    position: relative;

    &::after {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
      background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 8rem;
      width: 100%;
      z-index: 1;
      content: '';
      pointer-events: none;
    }

    > div {
      height: 100%;
    }

    iframe {
      height: 100% !important;
    }
  }
}


/* Editions fold
   ========================================================================== */

.fold--editions {
  .fold__title {
    @extend .visually-hidden;
  }

  .fold__contents {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 ($global-spacing * 2);
    align-items: center;
  }

  .fold__header {
    grid-column: 1 / span 5;
  }

  .fold__body {
    grid-column: 8 / span 4;

    h2 {
      text-transform: uppercase;
    }
  }
}

.editions-menu {
  display: grid;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  grid-gap: $global-spacing / 2;
  margin-left: -0.75rem;
  grid-template-columns: repeat(auto-fill, 6rem);
}

.editions-menu__link {
  @extend .button, .button--achromic-plain;

  &--active {
    @extend .button--active;
  }

  &::after {
    @extend %collecticon-pop-up;
    opacity: 0.32;
    margin-left: 0.125rem;
  }
}
