/* ==========================================================================
   Home: global
   ========================================================================== */

.inpage--home {
  .inpage__header {
    box-shadow: none;
  }

  .inpage__title {
    @include heading(2.5rem, xlarge-up);
    text-transform: none;
  }

  .col--main {
    grid-column: 1 / span 9;
  }

  .col--sec {
    grid-column: auto / span 3;
  }

  .inpage__body {
    padding-bottom: 0;

    > .inner {
      padding-bottom: ($global-spacing * 4);
    }
  }
}

.home-cta-button {
  @extend .button, .button--xlarge, .button--achromic-glass;
}


/* Featured sections
   ========================================================================== */

.fsection__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $global-spacing * 2;

  > *:last-child {
    margin-left: auto; 
  }
}

.fsection__title {
  @include heading(1.5rem);
  margin-bottom: 0;
}

.fsa-go {
  @extend .button, .button--small, .button--primary-plain;

  &::after {
    @extend %collecticon-pop-up;
  }
}

.topics-list {
  list-style: none;
  margin: 0 0 $global-spacing 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.25rem;

  > * {
    margin: 0 ($global-spacing / 4) ($global-spacing / 4) 0;
  }
}

.topic-link {
  @extend .label, .label--reversed;
  vertical-align: top;
  font-size: 0.75rem;

  .card--featured & {
    color: #fff !important;
  }
}


/* Editions fold
   ========================================================================== */

.fold--editions {
  .fold__title {
    @extend .visually-hidden;
  }

  .fold__contents {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 ($global-spacing * 2);
    align-items: center;
  }

  .fold__header {
    grid-column: 1 / span 5;
  }

  .fold__body {
    grid-column: 8 / span 4;

    h2 {
      text-transform: uppercase;
    }
  }
}

.editions-menu {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;

  > *:not(:last-child) {
    margin-right: $global-spacing / 2;
  }

  > *:first-child {
    margin-left: -0.75rem;
  }
}

.editions-menu__link {
  @extend .button, .button--achromic-plain;

  &--active {
    @extend .button--active;
  }

  &::after {
    @extend %collecticon-pop-up;
    opacity: 0.32;
    margin-left: 0.125rem;
  }
}
