/* ==========================================================================
   Results
   ========================================================================== */

.layout--results__title {
  display: block;
  white-space: nowrap;

  > span {
    display: block;

    @media #{$xlarge-up} {
      display: inline-block;
    }
  }

  > * {
    display: inline-block;
    vertical-align: top;
  }

  em {
    font-style: normal;

    > a {
      display: inline-block;
      vertical-align: top;

      span {
        @extend .truncated;
        max-width: 32rem;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .dropdown-toggle::after {
    font-size: 2rem;
  }

  .dropdown-content {
    text-transform: none;
  }
}