/* ==========================================================================
   Updates
   ========================================================================== */

.recent-tweets {
  position: relative;
  max-height: $global-spacing * 20;
  overflow: hidden;

  &::after {
    @include background-image(linear-gradient(rgba(#fff, 0), rgba(#fff, 1)));
    position: absolute;
    bottom: 0;
    left: 0;
    height: $global-spacing * 8;
    width: 100%;
    z-index: 1;
    content: '';
    pointer-events: none;
  }
}