<ul class="lang-menu">
{% for l in site.data.i18n.lang %}

  {% if page.collection %}
    {% assign cur_lang = site.collections[page.collection].lang %}
    {% assign translated_col = site.collections[page.collection].i18n[l] %}

    {% for col in site[translated_col] %}
      {% if col.id == page.id %}
        <li><a href="{{site.domain}}{{col.url}}" class="{% if l == cur_lang %}current{% endif %}">{{l}}</a></li>
      {% endif %}
    {% endfor %}

  {% else %}
    {% for pg in site.pages %}
      {% if pg.lang == l and pg.id == page.id %}
        <li><a href="{{site.domain}}{{pg.url}}" class="{% if l == page.lang %}current{% endif %}">{{l}}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endfor %}
</ul>
