{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

{% case language %}
{% when 'en' %}
<ul class="global-menu">
  <li>
    <a href="/en/index.html" title="The main index">Global</a>
  </li>
  <li>
    <a href="#" title="Regions">Regions</a>
    <ul>
      {% for region in site.en_region %}
      <li>
        <a href="{{ region.url }}" title="See detailed data on {{ region.title }}">{{ region.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="#" title="Topics">Topics</a>
    <ul>
      {% for topic in site.en_parameter %}
      <li>
        <a href="{{ topic.url }}" title="More about {{ topic.title }}">{{ topic.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="/en/policies/" title="Browse the policy database">Policies</a>
  </li>
  <li>
    <a href="/en/download/" title="Download the data">Download</a>
  </li>
</ul>

{% when 'es' %}
<ul class="global-menu">
  <li>
    <a href="/es/index.html" title="The main index">Index</a>
  </li>
  <li>
    <a href="#" title="Regiones">Regiones</a>
    <ul>
      {% for region in site.es_region %}
      <li>
        <a href="{{ region.url }}" title="See detailed data on {{ region.title }}">{{ region.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="#" title="Temas">Temas</a>
    <ul>
      {% for topic in site.es_parameter %}
      <li>
        <a href="{{ topic.url }}" title="More about {{ topic.title }}">{{ topic.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="/es/policies/" title="Browse the policy database">Politicas</a>
  </li>
  <li>
    <a href="/es/download/" title="Download the data">Datos</a>
  </li>
</ul>

{% endcase %}
