/* ==========================================================================
   Core: Animation
   ========================================================================== */

/* Page
   ========================================================================== */

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Splash
   ========================================================================== */

 @keyframes splash-animation {
   from {
     background-size: 160% 160%;
   }

   to {
     background-size: 100% 100%;
   }
 }


/* Spin clockwise
   ========================================================================== */

@keyframes spin-cw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Spin counter-clockwise
   ========================================================================== */

@keyframes spin-ccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}


/* Pulse
   ========================================================================== */

/**
 * Usage: animation: pulse 0.8s ease 0s infinite alternate;
 */

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Active marker animation
   ========================================================================== */

@keyframes marker-pulse {
  0%   {
    opacity: 0;
    width: 0.5rem;
    height: 0.5rem;
  }
  25%  {
    opacity: 1;
  }
  75%  {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 2rem;
    height: 2rem;
  }
}
