/* ==========================================================================
   Core: IE11 Fixes
   ========================================================================== */

.ie11-fix {

  .card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 ($global-spacing * 2) 0;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      margin: ($global-spacing * 2) 0 0 0;
      width: calc(100% / 2 - #{$global-spacing});

      &:nth-child(1) {
        margin-top: 0;
      }

      &:nth-child(2) {
        margin-top: 0;
      }

      @include media(large-up) {
        width: calc(100% / 3 - (#{$global-spacing} * 4 / 3));

        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }

  .col--sec {
    .card-list__item {
      width: 100%;
      margin: ($global-spacing * 2) 0 0 0;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  .inpage--library {
    .col--main {
      grid-row-start: 1;
    }

    .col--sec {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: span 12;

      @include media(large-up) {
        grid-row-start: 1;
        grid-column-start: 10;
        grid-column-end: span 3;
      }

      .card-list__item {
        margin: ($global-spacing * 2) 0 0 0;
        width: calc(100% / 2 - #{$global-spacing});

        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2) {
          margin-top: 0;
        }

        @include media(large-up) {
          width: 100%;

          &:nth-child(2) {
            margin-top: $global-spacing * 2;
          }
        }
      }
    }
  }

  .inpage__details {
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    > * {
      @include column(3/12, $cycle: 4);
      margin: ($global-spacing * 2) 0 0 0;


      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 0;
      }
    }
  }

  .par-section__contents {
    display: flex;
    flex-flow: row wrap;
  }

  .par-section__header {
    margin: $global-spacing;

    @include media(large-up) {
      max-width: 75%;
    }
  }

  .area-alpha,
  .area-beta {
    display: flex;
    flex-flow: row wrap;
  }

  .info-card {
    margin: $global-spacing;
  }

  .info-card--small {
    width: calc(100% / 2 - #{$global-spacing * 2});
  }

  .info-card--medium {
    width: 100%;
  }

  .info-card--large {
    width: 100%;
  }

  .card-percent-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    > * {
      margin: 0 ($global-spacing / 2);
      flex: 1 1 auto;
    }
  }

  .compare--entry .par-section {
    display: block;

    .info-card {
      width: calc(100% - #{$global-spacing * 2});
      margin: ($global-spacing * 2) $global-spacing;
    }
  }

}
