---
layout: entry
---
<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">

  <div class="col--main">
    <h2>Summary</h2>
    {{ content }}
  </div>

  <div class="col--sec">
    <dl class="country-global-meta">
      <dt>Rank</dt>
      <dd>01</dd>
      <dt>Score</dt>
      <dd>2.25</dd>
    </dl>
    <ul class="country-ctas">
      <li><a class="bttn bttn-cta" href="/" title="View policies">View policies (18) ›</a></li>
      <li><a class="bttn bttn-cta" href="/" title="Compare to">Compare to ›</a></li>
    </ul>
  </div>

</div>

<div class="row--contained">

  <ul class="nav nav-tabs" role="tablist" id="section-switch">
    <li class="active"><a href="#country-detail">In detail</a></li>
    <li><a href="#country-states">States/Provinces</a></li>
    <li><a href="#country-case-study">Case study</a></li>
  </ul>

  <section id="country-detail" class="tab-content">
    <h1 class="visually-hidden">In Detail</h1>
    <div class="prose">
      <p>In detail content</p>
    </div>
  </section>

  <section id="country-states" class="tab-content hidden">
    <h1 class="visually-hidden">States/Provinces</h1>
    <div class="prose">
      {% case site.collections[page.collection].lang %}
        {% when 'en' %}
          {% assign col = 'en_state' %}
        {% when 'es' %}
          {% assign col = 'es_state' %}
      {% endcase %}

      {% for state in site[col] %}
        {% if state.country == page.id %}
          {% assign has_states = true %}
        {% endif %}
      {% endfor %}

      {% if has_states %}

        {% case site.collections[page.collection].lang %}
        {% when 'en' %}
          <p>States/Provinces EN content</p>
        {% when 'es' %}
          <p>States/Provinces ES content</p>
        {% endcase %}

        <ul>
        {% for state in site[col] %}
          {% if state.country == page.id %}
          <li>
            <a href="{{site.domain}}{{ state.url }}">{{ state.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>

      {% endif %}
    </div>
  </section>

  <section id="country-case-study" class="tab-content hidden">
    <h1 class="visually-hidden">Case Study</h1>
    <div class="prose">
      <p>Case Study content</p>
    </div>
  </section>

</div>
