---
layout: entry

conf:
  type: country
  subtitle:
    en: Country
    es: Pais
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
{% assign t = site.data.i18n_strings %}

{% assign col = site.collections['en_state'].i18n[language] %}
{% assign has_states = false %}
{% for state in site[col] %}
  {% if state.country == page.id %}
    {% assign has_states = true %}
  {% endif %}
{% endfor %}

<script>
    CS.countryId = '{{page.id}}';
    CS.countryHasStates = {{has_states}};
</script>


<style>
   
  #installed-capacity .focus-elements .focus-circles .inner{
    fill: black;
  }
  
  #installed-capacity #chart-tooltip {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  
  #installed-capacity {
    margin: 0 0 100px 100px;
    
    height: 300px;
  }

</style>

<div id="installed-capacity" class="chart-std">
  
</div>

<div ng-app="countryApp">
  <div class="row--full intro">
    <div class="row--contained">
      <dl class="meta-details">
        
        <!-- TO TRANSLATE IF TO BE KEPT -->
        <dt>Gdp</dt>
        <dd>$2,396bn</dd>
        <dt>Seven-year Economic Growth Rate</dt>
        <dd>6%</dd>
        <dt>Population</dt>
        <dd>198m</dd>
        <dt>Total Clean Energy Investments</dt>
        <dd>$82.2bn</dd>
        <dt>Installed Power Capacity</dt>
        <dd>123gw</dd>
        <dt>Renewable Share</dt>
        <dd>13%</dd>
        <dt>Total Clean Energy Generation</dt>
        <dd>57,400gwh</dd>
        <dt>Top Energy Authority</dt>
        <dd>Ministry Of Mines & Energy</dd>
        <!--/ TO TRANSLATE IF TO BE KEPT -->
  
      </dl>
      {% include static_map.html %}
    </div>
  </div>
  
  <div class="row--contained">
  
    <div class="col--main prose-copy">
      <h2>{{ t['Description'][language] }}</h2>
      {{ content }}
    </div>
  
    <div class="col--sec prose-copy" ng-controller="StatsController as statsCtrl" ng-cloak>
        <h2>{{ t['Performance'][language] }}</h2>
        <dl class="stats-list">
          <dt>{{ t['Overall Rank'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.overall_ranking | leadingZero:2 %%</dd>
          <dt>{{ t['Regional Rank'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.regional_ranking | leadingZero:2 %%</dd>
          <dt>{{ t['Score'][language] }}</dt>
          <dd>%% statsCtrl.countryStats.value | round:2 %%</dd>
        </dl>
        <ul class="ctas-list">
          <li><a class="bttn bttn-cta go" href="#" title="{{ t['Compare with'][language] }}">{{ t['Compare with'][language] }}</a></li>
          <li ng-if="statsCtrl.policyCount > 0"><a class="bttn bttn-cta go" href="{{ site.domain }}{{ site.path_prefix }}/en/policies/#/?country={{ page.id | upcase }}" title="{{ t['View policies'][language] }}">{{ t['View policies'][language] }} <span class="badge">%% statsCtrl.policyCount %%</span></a></li>
        </ul>
    </div>
  
  </div>
  
  <div class="row--contained">
    
    <!-- Template for the In Detail tab -->
    <script type="text/ng-template" id="in_detail.html">
      <section id="country-detail">
        {% include parameter_detail.html %}
      </section>
    </script>
    
    <!-- Template for the States tab -->
    <script type="text/ng-template" id="states.html">
      {% include state_list_table.html %}
    </script>
    
    <!-- Template for the Case Study tab -->
    <!-- <script type="text/ng-template" id="case_study.html">
      <section id="country-case-study">
        <h1 class="visually-hidden">Case Study</h1>
        <div class="prose">
          <p>Case Study content</p>
        </div>
      </section>
    </script> -->
    
    <!-- END TEMPLATES -->
    
    {% if has_states %}
    <ul class="nav nav-tabs" role="tablist" id="section-switch" ng-controller="CountryTabsController as navCtrl">
      <li ng-class="{active: navCtrl.isActive('details')}"><a href="#/details" title="{{ t['View in detail'][language] }}">{{ t['In detail'][language] }}</a></li>
      <li ng-class="{active: navCtrl.isActive('states')}"><a href="#/states" title="{{ t['View states / provinces'][language] }}">{{ t['States / provinces'][language] }}</a></li>
      <!-- <li ng-class="{active: navCtrl.isActive('case_study')}"><a href="#/case-study" title="Case study">Case study</a></li> -->
    </ul>
    {% endif %}
    <div ng-view></div>
  
  </div>
</div>
