---
layout: entry
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

{% case site.collections[page.collection].lang %}
  {% when 'en' %}
    {% assign col = 'en_state' %}
  {% when 'es' %}
    {% assign col = 'es_state' %}
{% endcase %}

{% assign has_states = false %}
{% for state in site[col] %}
  {% if state.country == page.id %}
    {% assign has_states = true %}
  {% endif %}
{% endfor %}

<script>
    CS.countryId = '{{page.id}}';
    CS.countryHasStates = {{has_states}};
</script>

<div class="row--full intro">
  {% include static_map.html %}
  <div class="row--contained">
    <dl class="meta-details">
      {% case language %}
      {% when 'en' %}

      <dt>Gdp</dt>
      <dd>$2,396bn</dd>
      <dt>Seven-year Economic Growth Rate</dt>
      <dd>6%</dd>
      <dt>Population</dt>
      <dd>198m</dd>
      <dt>Total Clean Energy Investments</dt>
      <dd>$82.2bn</dd>
      <dt>Installed Power Capacity</dt>
      <dd>123gw</dd>
      <dt>Renewable Share</dt>
      <dd>13%</dd>
      <dt>Total Clean Energy Generation</dt>
      <dd>57,400gwh</dd>
      <dt>Top Energy Authority</dt>
      <dd>Ministry Of Mines & Energy</dd>

      {% when 'es' %}

      <dt>Gdp</dt>
      <dd>$2,396bn</dd>
      <dt>Seven-year Economic Growth Rate</dt>
      <dd>6%</dd>
      <dt>Population</dt>
      <dd>198m</dd>
      <dt>Total Clean Energy Investments</dt>
      <dd>$82.2bn</dd>
      <dt>Installed Power Capacity</dt>
      <dd>123gw</dd>
      <dt>Renewable Share</dt>
      <dd>13%</dd>
      <dt>Total Clean Energy Generation</dt>
      <dd>57,400gwh</dd>
      <dt>Top Energy Authority</dt>
      <dd>Ministry Of Mines & Energy</dd>

      {% endcase %}

    </dl>
  </div>
</div>

<div class="row--contained">

  <div class="col--main">
    <h2>Summary</h2>
    {{ content }}
  </div>

  <div class="col--sec">
    {% case language %}
    {% when 'en' %}
      <dl class="stats-list">
        <dt>Rank</dt>
        <dd>01</dd>
        <dt>Score</dt>
        <dd>2.25</dd>
      </dl>
      <ul class="ctas-list">
        <!-- <li><a class="bttn bttn-cta go" href="{{ site.domain }}/en/policies/#/?country={{ page.id }}" title="View policies">View policies <span class="badge">18</span></a></li> -->
        <li><a class="bttn bttn-cta go" href="{{ site.domain }}/en/policies/#/?country={{ page.id }}" title="View policies">View policies</a></li>
        <li><a class="bttn bttn-cta go" href="#" title="Compare to">Compare to</a></li>
      </ul>

    {% when 'es' %}

      <dl class="stats-list">
        <dt>Rank</dt>
        <dd>01</dd>
        <dt>Score</dt>
        <dd>2.25</dd>
      </dl>
      <ul class="ctas-list">
        <!-- <li><a class="bttn bttn-cta go" href="{{ site.domain }}/es/politicas/#/?country={{ page.id }}" title="View policies">View policies ES <span class="badge">18</span></a></li> -->
        <li><a class="bttn bttn-cta go" href="{{ site.domain }}/es/politicas/#/?country={{ page.id }}" title="View policies">View policies ES</a></li>
        <li><a class="bttn bttn-cta go" href="#" title="Compare to">Compare to ES</a></li>
      </ul>

    {% endcase %}
  </div>

</div>

<div class="row--contained" ng-app="countryApp">
  
  <!-- Template for the In Detail tab -->
  <script type="text/ng-template" id="in_detail.html">
    <section id="country-detail">
      {% case language %}
      {% when 'en' %}
      <h1 class="visually-hidden">In Detail</h1>
      {% when 'es' %}
      <h1 class="visually-hidden">En Detalle</h1>
      {% endcase %}

      <!-- Individual parameter details -->
      <section class="param-details">

        <header class="param-details__header">
          <div class="param-details__heading">
            <h1 class="param-details__title">Enabling framework</h1>
          </div>
          <dl class="param-details__stats">
            <dt>Rank</dt>
            <dd>01</dd>
            <dt>Score</dt>
            <dd>225</dd>
          </dl>
        </header>

        <div class="param-details__body">

          <table class="table poc-detailed-data param-details__table">
            <thead>
            {% case language %}
            {% when 'en' %}
              <tr>
                <th><span class="visually-hidden">Parameter</span></th>
                <th>Score</th>
                <th>Rank</th>
              </tr>
            {% when 'es' %}
              <tr>
                <th><span class="visually-hidden">Tema</span></th>
                <th>Puntaje</th>
                <th>Posición</th>
              </tr>
            {% endcase %}
            </thead>
            <tbody ng-repeat="param in detailsCtrl.parameters">
              <tr class="param"><td class="label">//param.name// </td><td class="value">//param.data[0].value//<td></td></td></tr>
              <tr class="ind_group" ng-repeat-start="ind_group in param.indicator_groups"><td class="label">//ind_group.name//</td><td><td></td></td></tr>
              <tr class="ind" ng-repeat-end ng-repeat="ind in ind_group.indicators"><td class="label">//ind.name// </td><td class="value">//ind.data[0].value//<td></td></td></tr>
              
            </tbody>
          </table>

          <div class="param-details__graph">
            <img src="http://placehold.it/350x150">
          </div>

        </div>
        
      </section>
      <!--/ Individual parameter details -->
      
    </section>
  </script>
  
  <!-- Template for the States tab -->
  <script type="text/ng-template" id="states.html">
    <table class="table country-table">
      <thead>
        <tr>
          {% case language %}
          {% when 'en' %}
          <th><a href="" ng-click="statesCtrl.setSort('state_ranking')" class="sort" ng-class="[statesCtrl.checkSortClasses('state_ranking')]">Rank</a></th>
          <th><a href="" ng-click="statesCtrl.setSort('name')" class="sort" ng-class="[statesCtrl.checkSortClasses('name')]">State</a></th>
          <th><a href="" ng-click="statesCtrl.setSort('score')" class="sort" ng-class="[statesCtrl.checkSortClasses('score')]">Score</a></th>
          <th><span class="visually-hidden">Topics:</span> 0.0 - 5.0</th>
          {% when 'es' %}
          <th><a href="" ng-click="statesCtrl.setSort('state_ranking')" class="sort" ng-class="[statesCtrl.checkSortClasses('state_ranking')]">Posición</a></th>
          <th><a href="" ng-click="statesCtrl.setSort('name')" class="sort" ng-class="[statesCtrl.checkSortClasses('name')]">Estado</a></th>
          <th><a href="" ng-click="statesCtrl.setSort('score')" class="sort" ng-class="[statesCtrl.checkSortClasses('score')]">Puntaje</a></th>
          <th><span class="visually-hidden">Temas:</span> 0.0 - 5.0</th>
          {% endcase %}
        </tr>
      </thead>
      <tbody ng-repeat="state in statesCtrl.states | orderBy:statesCtrl.sortField:statesCtrl.sortReverse">
        <tr>
          <td class="cell-rank">//state.state_ranking//</td>
          <td class="cell-country"><a href="//statesCtrl.getStateUrl(state)//">//state.name//</a></td>
          <td>//state.score//</td>
          <td>
            <a href="" tooltip-animation="false" tooltip-placement="top" tooltip-trigger="focus" tooltip-html-unsafe="//statesCtrl.getTooltipContent(state.parameters)//">
              <ul class="table-bar">
                <li ng-repeat="param in state.parameters" style="width: //statesCtrl.calcBarSegment(param)//"><span class="visually-hidden">// param.value //</span>&nbsp;</li>
              </ul>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  
  <!-- Template for the Case Study tab -->
  <script type="text/ng-template" id="case_study.html">
    <section id="country-case-study">
      <h1 class="visually-hidden">Case Study</h1>
      <div class="prose">
        <p>Case Study content</p>
      </div>
    </section>
  </script>
  
  <!-- END TEMPLATES -->
  
  <ul class="nav nav-tabs" role="tablist" id="section-switch" ng-controller="CountryTabsController as navCtrl">
    {% case language %}
    {% when 'en' %}
      <li ng-class="{active: navCtrl.isActive('details')}"><a href="#/details" title="In detail">In detail</a></li>
      {% if has_states %}
      <li ng-class="{active: navCtrl.isActive('states')}"><a href="#/states" title="States/Provinces">States/Provinces</a></li>
      {% endif %}
      <li ng-class="{active: navCtrl.isActive('case_study')}"><a href="#/case-study" title="Case study">Case study</a></li>

    {% when 'es' %}

      <li ng-class="{active: navCtrl.isActive('details')}"><a href="#/details" title="In detail">In detail ES</a></li>
      {% if has_states %}
      <li ng-class="{active: navCtrl.isActive('states')}"><a href="#/states" title="States/Provinces">States/Provinces ES</a></li>
      {% endif %}
      <li ng-class="{active: navCtrl.isActive('case_study')}"><a href="#/case-study" title="Case study">Case study ES</a></li>
    {% endcase %}
  </ul>
  <div ng-view></div>

</div>
