---
layout: base
---
{% assign vars = site.collections[page.collection].layout_vars %}
<article class="layout--entry {{vars.type}}">
  <header class="layout--entry__header">
    <div class="row--contained">
      <div class="layout--entry__heading">
        <h1 class="layout--entry__title">{{ page.title }}</h1>
        <p class="layout--entry__subtitle">{{vars.subtitle}}</p>
      </div>
      <div class="layout--entry__tools">
        {% include actions_menu.html %}
      </div>
    </div>
  </header>

  <div class="layout--entry__body">
    {{content}}
  </div>

</article>
