---
layout: base
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

{% if vars.type == 'parameter' %}
  {% capture custom_class %}param-{{ page.id }}{% endcapture %}
{% endif %}

<article class="layout--entry {{ layout.conf.type }} {{ custom_class }}">
  <header class="layout--entry__header">
    <div class="row--contained">
      <div class="layout--entry__heading">
        <h1 class="layout--entry__title">{{ page.title }}</h1>
        <p class="layout--entry__subtitle">{{ layout.conf.subtitle[language] }}</p>
        {% case language %}
        {% when 'en' %}

          {% if page.grid == true %}
          <em class="label-grid label-grid-on"><span>On-grid</span></em>
          {% elsif page.grid == false %}
          <em class="label-grid label-grid-off"><span>Off-grid</span></em>
          {% endif %}

        {% when 'es' %}

          {% if page.grid == true %}
          <em class="label-grid label-grid-on"><span>On-grid ES</span></em>
          {% elsif page.grid == false %}
          <em class="label-grid label-grid-off"><span>Off-grid ES</span></em>
          {% endif %}

        {% endcase %}
      </div>
      <div class="layout--entry__tools">
        {% include actions_menu.html %}
      </div>
    </div>
  </header>

  <div class="layout--entry__body">
    {{content}}
  </div>

</article>

{% include url_index.html %}