---
layout: entry

conf:
  type: parameter
  subtitle:
    en: Topic
    es: Tema
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}
<script>CS.parameterId = {{page.id}};</script>
<div ng-app="parameterApp">

  <div class="row--contained">
    <div class="col--main prose-copy">
      <h2>Description</h2>
      {{ content }}
    </div>
  
    <div class="col--sec prose-copy" ng-controller="StatsController as statsCrtl" ng-cloak>
      {% case language %}
      {% when 'en' %}
        <h2>Regional average</h2>
        <dl class="stats-list">
          <dt ng-repeat-start="region in statsCrtl.regionStats">%% region.name %%</dt>
          <dd ng-repeat-end>%% region.parameters[0].data[0].mean | round:2 %%</dd>
        </dl>
  
      {% when 'es' %}
  
        <h2>Regional average</h2>
        <dl class="stats-list">
          <dt ng-repeat-start="region in statsCrtl.regionStats">%% region.name %%</dt>
          <dd ng-repeat-end>%% region.parameters[0].data[0].mean | round:2 %%</dd>
        </dl>
  
      {% endcase %}
    </div>
  </div>

  <div class="row--contained" ng-controller="CountryListController as countryTable" ng-cloak>
    {% include country_list_param_table.html %}
  </div>
</div>
