---
layout: entry
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<div class="row--contained">

  <div class="col--main">
    <h2>Description</h2>
    {{ content }}
  </div>

  <div class="col--sec">
    {% case language %}
    {% when 'en' %}
      <dl class="stats-list">
        <dt>Weight</dt>
        <dd>40<sup>%</sup></dd>
        <dt>Highest score <small>(Brazil)</small></dt>
        <dd>2.25</dd>
        <dt>Lowest score <small>(Botswana)</small></dt>
        <dd>0.83</dd>
      </dl>

    {% when 'es' %}

      <dl class="stats-list">
        <dt>Weight</dt>
        <dd>40<sup>%</sup></dd>
        <dt>Highest score <small>(Brazil)</small></dt>
        <dd>2.25</dd>
        <dt>Lowest score <small>(Botswana)</small></dt>
        <dd>0.83</dd>
      </dl>

    {% endcase %}
  </div>

</div>

<div class="row--contained">

<script>
    CS.parameterId = {{page.id}};
</script>

<script>


	var app = angular.module('parameterApp', ['mathFilters'], function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });
  
  app.controller('CountryListController', ['$http', function($http) {
    var _self = this;
    // Data
    this.parameter = {};
    this.countries = [];
    this.scoreAvg = 0;
    
    setupCommonTableMethods(_self);
    
    var calcAvgScore = function() {
      var score = 0;
      angular.forEach(_self.countries, function(country) {
        score += country.data[0].value;
      });
console.log(score);
      _self.scoreAvg = score / _self.countries.length;
console.log(_self.scoreAvg);
    };
    
    this.avgPercent = function() {
      return (_self.scoreAvg * 100 / 5) + '%';
    };
        
    this.getCountryUrl = function(country) {
      var iso = country.iso.toLowerCase();
      return _self.getTranslatedUrl('country', iso);
    };
    
    // ---- Logic ----
    var url = CS.domain + '/' + CS.lang + '/api/topic/' + CS.parameterId + '.json';
    $http.get(url).success(function(data) {
      
      // Order countries so we don't need to search the value every time.
      angular.forEach(data.countries, function(country) {
        country.data.sort(function(a, b) {
          return b.year - a.year;
        });
      });

      _self.parameter = data;
      _self.countries = data.countries;
      calcAvgScore();
    });
        
  }]);
</script>

<div ng-app="parameterApp">
<div ng-controller="CountryListController as countryTable" ng-cloak>
  <table class="table parameter-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th><a href="" ng-click="countryTable.setSort('overall_ranking')" class="sort" ng-class="[countryTable.checkSortClasses('overall_ranking')]">Parameter rank</a></th>
        <th><a href="" ng-click="countryTable.setSort('name')" class="sort" ng-class="[countryTable.checkSortClasses('name')]">Country</a></th>
        <th><a href="" ng-click="countryTable.setSort('score')" class="sort" ng-class="[countryTable.checkSortClasses('score')]">Overall score</a></th>
        <th><span class="visually-hidden">Parameter score</span> <small>0</small> <smal>5</smal></th>
        <th><a href="" ng-click="countryTable.setSort('grid')" class="sort" ng-class="[countryTable.checkSortClasses('grid')]">Grid</a></th>
      </tr>
    </thead>
    <tbody ng-repeat="country in countryTable.countries | orderBy:countryTable.sortField:countryTable.sortReverse">
      <tr>
        <td>&nbsp;</td>
        <td class="cell-rank">//country.overall_ranking//</td>
        <td class="cell-country"><a href="//countryTable.getCountryUrl(country)//" title="Go to country page">//country.name//</a></td>
        <td>// country.score | round:2 //</td>
        <td class="cell-graph">
          <div class="table-graph">
            <span class="avg" style="left: //(countryTable.scoreAvg * 100 / 5) + '%'//"></span>
            <ul class="table-bar">
              <li ng-class="'param-' + countryTable.parameter.id" style="width: //(country.data[0].value * 100 / 5) + '%'//"><span class="visually-hidden">// country.data[0].value //</span>&nbsp;</li>
            </ul>
          </div>
        </td>
        <td><em class="label-grid" ng-class="{'label-grid-on': country.grid == 'on', 'label-grid-off': country.grid == 'off'}"><span>// country.grid //</span></em></td>
      </tr>
    </tbody>
  </table>
</div>
</div>





</div>
