---
layout: entry
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">

  <div class="col--main">
    <h2>Description</h2>
    {{ content }}
  </div>

  <div class="col--sec">
    {% case language %}
    {% when 'en' %}
      <dl class="stats-list duo">
        <dt>Lorem</dt>
        <dd>40<sup>%</sup></dd>
        <dt>Ipsum</dt>
        <dd>2.25</dd>
      </dl>
      <ul class="ctas-list">
        <li><a class="bttn bttn-cta go" href="{{ site.domain }}/en/" title="View the global rank">View the global rank</a></li>
      </ul>

    {% when 'es' %}

      <dl class="stats-list duo">
        <dt>Lorem</dt>
        <dd>40<sup>%</sup></dd>
        <dt>Ipsum</dt>
        <dd>2.25</dd>
      </dl>
      <ul class="ctas-list">
        <li><a class="bttn bttn-cta go" href="{{ site.domain }}/en/" title="View the global rank">View the global rank ES</a></li>
      </ul>

    {% endcase %}
  </div>

</div>

<div class="row--contained">
  <script>
    CS.regionId = '{{page.id}}';
  </script>
  
  {% include country_table.html %}
</div>