---
layout: entry

conf:
  type: region
  subtitle:
    en: Region
    es: Región
  include_map: true
---
{% if page.lang %}
  {% assign language = page.lang %}
{% elsif site.collections[page.collection].lang %}
  {% assign language = site.collections[page.collection].lang %}
{% endif %}

<script>CS.regionId = '{{page.id}}';</script>
<div ng-app="regionApp">
  <div id="index-viz" class="row--full intro"><!-- Insert map here. --></div>

  <div class="row--contained">
    <div class="col--main prose-copy">
    {% case language %}
      {% when 'en' %}
      <h2>Description</h2>
      {% when 'es' %}
      <h2>Descripción</h2>
    {% endcase %}

      {{ content }}
    
    </div>
  
    <div class="col--sec prose-copy" ng-controller="StatsController as statsCrtl" ng-cloak>
      {% case language %}
      {% when 'en' %}
        <h2>Average scores</h2>
        <dl class="stats-list">
          <dt ng-repeat-start="region in statsCrtl.regionStats">%% region.name %%</dt>
          <dd ng-repeat-end>%% region.score[0].mean | round:2 %%</dd>
        </dl>
        <ul class="ctas-list">
          <li><a class="bttn bttn-cta go" href="{{ site.domain }}{{ site.path_prefix }}/en/" title="View the global rank">View the global rank</a></li>
        </ul>
  
      {% when 'es' %}
        <h2>Puntuación media</h2>
        <dl class="stats-list">
          <dt ng-repeat-start="region in statsCrtl.regionStats">%% region.name %%</dt>
          <dd ng-repeat-end>%% region.score[0].mean | round:2 %%</dd>
        </dl>
        <ul class="ctas-list">
          <li><a class="bttn bttn-cta go" href="{{ site.domain }}{{ site.path_prefix }}/es/" title="Ver el índice global">Índice global</a></li>
        </ul>
      {% endcase %}
    </div>
  </div>

  <div class="row--contained" ng-controller="CountryListController as countryTable" ng-cloak>
    {% include country_list_table.html %}
  </div>
</div>