---
layout: entry
---
<div class="row--full map">
  <p>Insert map here.</p>
</div>

<div class="row--contained">

  <div class="col--main">
    <h2>Summary</h2>
    {{ content }}
  </div>

  <div class="col--sec">
    <dl class="country-global-meta">
      <dt>Rank</dt>
      <dd>01</dd>
      <dt>Score</dt>
      <dd>2.25</dd>
    </dl>
    <ul class="country-ctas">
      <li><a href="/" title="Policies">There are 18 relevant policies ›</a></li>
      <li><a href="/" title="Policies">Compare to ›</a></li>
    </ul>
  </div>

</div>

<div class="row--contained">

  <p>Insert table here</p>

</div>
