// STYLES
// Contains the global styles of the Global Climatescope

// MISC

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  min-width: 768px;
  @media print {
    body {
      margin: 2cm 0;
    }
  }
}

// Links

a {
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
  @include transform(translateZ(0));
  @include transition-property(opacity);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease);
  @include transition-delay(0);
  &[rel~="external"]:after {
    @extend .icon-s-new-window;
    font-size: 1rem;
    @include opacity(0.4);
    margin-left: 0.25rem;
  }
}

a:visited {
  color: $secondary-color;
}

a:hover {
  @include opacity(0.6);
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}

// Row

.row {
  &--contained {
    @include center($max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    @media #{$small-up} {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media #{$medium-up} {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

// Well

.well {
  position: relative;
  padding: 1rem;
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  min-height: 4rem;
  margin-bottom: 1.25rem;
  background-color: tint($primary-color, 95%);
  border-radius: $global-radius;
  > :last-child {
    margin-bottom: 0;
  }
  &.download {
    min-height: 10rem;
    &:after {
      position: absolute;
      z-index: 1;
      font-size: 6rem;
      @include opacity(0.2); 
      color: $primary-color;
      line-height: 1;
    }
  }
  &.download-pdf:after { @extend .icon-file-pdf; }
  &.download-data:after { @extend .icon-file-src-dat; }
}

.well-l {
  padding: 2rem;
  &.download {
    padding-right: 10rem;
    margin-bottom: 2rem;
    &:after {
      top: 2rem;
      right: 2rem;
    }
  }
}

.well-s {
  padding: 0.5rem;
}

// Labels

.label-grid {
  display: inline-block;
  padding: 0 0.125rem;
  color: #fff;
  font-weight: $brand-font-bold;
  text-transform: uppercase;
  @extend .antialiased;
  font-family: $brand-font-family;
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-style: normal;
  border-radius: $global-rounded;
  &:before {
    @extend .icon-power;
    font-size: 1rem;
  }
  span {
    margin: 0 0.5rem 0 0;
    .table &,
    .tooltip__header & {
      @extend .visually-hidden;
    }
  }
  .layout--entry__heading & {
    vertical-align: top;
    margin-top: 0.25rem;
  }
  .tooltip-map & {
    vertical-align: top;
    margin-top: 0.15rem;
  }
}

.label-grid-on {
  background: tint($primary-color, 40%);
}

.label-grid-off {
  background: tint($primary-color, 80%);
}

// Badges

.badge {
  display: inline-block;
  min-width: 0.85rem;
  padding: 0.225rem 0.5rem;
  font-size: 0.75rem;
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;
  text-transform: uppercase;
  line-height: 0.85rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgba($primary-color, 0.4);
  border-radius: $global-rounded;
  margin-left: 0.25rem;
  @extend .antialiased;
  .bttn-cta & {
    background-color: $secondary-color;
  }
}

// Legends

.params-legend {
  dt {
    position: relative;
    @extend .hd-label;
    @extend .truncated;
    margin-left: 5.5rem;
    line-height: 1.5rem;
    padding: 0 0 0 1rem;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      margin-top: -0.25rem;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: $global-rounded;
    }
    &.param-1:before {
      background: $infograph-color-a;
    }
    &.param-2:before {
      background: $infograph-color-b;
    }
    &.param-3:before {
      background: $infograph-color-c;
    }
    &.param-4:before {
      background: $infograph-color-d;
    }
  }
  dd {
    float: left;
    width: 4.5rem;
    clear: left;
    margin-top: -1.5rem;
    font-family: $brand-font-family;
    font-weight: $brand-font-bold;
    line-height: 1.5rem;
    small {
      font-weight: normal;
      font-size: 0.85rem;
      color: tint($primary-color, 60%);
      margin-left: 0.5rem;
      float: right;
    }
  }
}

// Intro stripe

.intro {
  margin-top: -2rem;
  margin-bottom: 2rem;
  background: tint($primary-color, 95%) !important;
}

// STRUCTURE

#site-canvas {
  background: #fff;
}

#site-header {
  padding: 2rem 0;
  background: tint($primary-color, 20%) url(../images/layout/cover-img.jpg) no-repeat center bottom;
  background-size: cover;
  color: #fff;
  .row--contained {
    position: relative;
  }
}

#site-footer {
  background: tint($primary-color, 95%);
  padding: 2rem 0;
  @media print {
    display: none;
  }
}


// SITE HEADER

#site-headline {
  @include span(12/12);
  @extend .antialiased;
  font-family: $brand-font-family;
  margin-bottom: 1rem;
  @media #{$xlarge-up} {
    @include col(4/12);
    margin-bottom: 0;
  }
}

#site-title {
  @extend .hd-xs;
  margin-bottom: 0;
  line-height: 1.5;
  em {
    font-style: normal;
    color: #fff;
  }
  a, a:visited {
    color: $secondary-color;
  }
}

#prime-nav {
  @include span(12/12);
  @media #{$xlarge-up} {
    @include col(8/12);
  }
  @media print {
    display: none;
  }
}

.lang-menu {
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 1;
  margin: 0 0 0 2rem !important;
  @media #{$medium-up} {
    right: 3rem;
  }
  @media #{$xlarge-up} {
    position: static;
    float: right;
  }
}

.global-menu {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    float: left;
    margin: 0 0 0 2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  > li > a {
    display: block;
    color: #fff;
    font-weight: $brand-font-bold;
    text-transform: uppercase;
    @extend .antialiased;
    font-family: $brand-font-family;
  }
  .open > .dropdown-toggle {
    @include opacity(0.4);
  }
  @media #{$xlarge-up} {
    float: right;
  }
  .topics {
    > li > a {
      padding-left: 2rem;
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        left: 1rem;
        z-index: 1;
        margin-top: -0.25rem;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: $global-rounded;
      }
      &.param-1:before {
        background: $infograph-color-a;
      }
      &.param-2:before {
        background: $infograph-color-b;
      }
      &.param-3:before {
        background: $infograph-color-c;
      }
      &.param-4:before {
        background: $infograph-color-d;
      }
    }
  }
}

.intro-block {
  @include span(12/12);
  color: #fff;
  @extend .antialiased;
  margin-top: 2rem;
  margin-bottom: 1rem;
  &__title {
    @extend .hd-m;
  }
  &__body {
    font-family: $brand-font-family;
    font-size: 1.25rem;
    line-height: 1.5rem;
    > *:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$large-up} {
    @include col(8/12);
  }
}


// LAYOUT
// Common styles

.layout--home,
.layout--entry,
.layout--page,
.layout--hub {
  &__header {
    padding: 2rem 0;
    background: #fff;
    border-bottom: 2px solid #ccc;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    margin-bottom: -2px;
    position: relative;
    z-index: 2;
    @include transform(translate3d(0, 0, 0));
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease);
    @include transition-delay(0);
    &.sticky {
      @media #{$medium-up} {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1010;
        margin-bottom: 0;
        border-bottom: 4px solid #ccc;
        border-bottom: 4px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
  &__body {
    padding: 2rem 0;
  }
  .intro {
    height: 20rem;
  }
}

.actions-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  font-size: 0;
  > li {
    margin: 0 0 0 0.5rem;
    float: left;
  }
  > li:first-child {
    margin-left: 0;
  }
}

.layout--home__header,
.layout--hub__header {
  .reset {
    vertical-align: top;
    margin-top: 0.25rem;
    display: inline-block;
    color: tint($primary-color, 40%);
    &:before {
      @extend .icon-refresh;
    }
    span {
      @extend .visually-hidden;
    }
  }
}

.layout--hub__controls,
.layout--home__controls {
  @include col(12/12);
  .control-title {
    @extend .hd-label;
    @extend .truncated;
    width: 100%;
    margin-bottom: 0.75rem;
    display: block;
  }
  @media print {
    display: none;
  }
}

.col--main {
  @include col(8/12);
  margin-bottom: 2rem;
  .layout--page & {
    @include col(12/12);
  }
  @media #{$medium-up} {
    .layout--page & {
      @include col(10/12);
    }
  }
  @media #{$large-up} {
    @include col(8/12);
    .layout--page & {
      @include col(8/12);
    }
  }
}

.col--sec {
  @include col(4/12);
  margin-bottom: 2rem;
  @media #{$large-up} {
    @include col(4/12);
  }
}

.layout--entry,
.layout--page,
.layout--hub {
  &__heading {
    @include col(6/12);
    position: relative;
    @media #{$large-up} {
      @include col(8/12);
    }
  }
  &__title {
    @extend .hd-xl;
    margin: 0 0.25rem 0 0;
    white-space: pre-wrap;
    display: inline;
  }
  &__tools {
    @include col(6/12);
    margin-right: 0 !important;
    @media #{$small-up} {
      padding: 0.375rem 0;
    }
    @media #{$large-up} {
      @include col(4/12);
    }
  }
}

.prose-copy {
  > :last-child {
    margin-bottom: 0;
  }
  h1, h2 { @extend .hd-xs; }
  h3, h4, h5, h6 { @extend .hd-xxs; }
}


// LAYOUT: HOME


.layout--home__header {
  padding: 1.5rem 0;
}

.layout--home__controls {
  .prime-title {
    @extend .hd-xxs;
    float: left;
    margin: 0 0.5rem 1.25rem 0;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .reset {
    float: left;
    margin-top: 0 !important;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }
  .control {
    @include col(3/12);
    &.first {
      clear: left;
    }
  }
  .slider {
    margin-bottom: 0.75rem;
  }
  .control.param-1 .noUi-connect {
    background: $infograph-color-a;
  }
  .control.param-2 .noUi-connect {
    background: $infograph-color-b;
  }
  .control.param-3 .noUi-connect {
    background: $infograph-color-c;
  }
  .control.param-4 .noUi-connect {
    background: $infograph-color-d;
  }
  .slider-value {
    @extend .hd-xxs;
    float: left;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  .lock {
    float: right;
  }
}


// LAYOUT: ENTRY/PAGE

.layout--entry {
  &__header {
    padding-top: 3rem;
  }
  &__subtitle {
    position: absolute;
    top: -1.25rem;
    left: 0;
    z-index: 10;
    @extend .hd-label;
    margin-bottom: 0;
    a {
      color: inherit;
    }
  }
}


// LAYOUT: ENTRY
// Country/State

.ctas-list {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 0.5rem;
  }
}

.stats-list {
  overflow: hidden;
  border-bottom: 1px solid tint($primary-color, 90%);
  margin-bottom: 2rem;
  dt, dd {
    border-top: 1px solid tint($primary-color, 90%);
    float: right;
  }
  > :nth-child(1),
  > :nth-child(2) {
    border-top: 0;
  }
  dt {
    @extend .hd-label;
    clear: right;
    width: 60%;
    padding: 0.5rem 0;
    small {
      font-size: inherit;
      display: block;
    }
  }
  dd {
    width: 40%;
    font-family: $brand-font-family;
    font-weight: $brand-font-bold;
    font-size: 2rem;
    line-height: 1;
    padding: 0.5rem 1rem 0.5rem 0;
    sup {
      font-size: 1rem;
      top: -0.5rem;
    }
  }
  @media #{$large-up} {
    dt { width: 70%; }
    dd { width: 30%; }
  }
}

#section-switch {
  margin-bottom: 3rem;
}

.layout--entry.country,
.layout--entry.state {
  .intro {
    position: relative;
    overflow: hidden;
    // min-height: 16rem;
    z-index: 1;
    padding: 2rem 0;
    height: auto;
  }
  .meta-details {
    float: left;
    max-width: 28rem;
    margin-bottom: 0;
    dt {
      clear: left;
      @extend .hd-label;
      float: left;
      line-height: 1.5rem;
      margin-right: 0.5rem;
    }
    dd {
      float: left;
      clear: right;
      font-family: $brand-font-family;
      font-weight: $brand-font-bold;
      line-height: 1.5rem;
      text-transform: uppercase;
    }
  }
  .media {
    float: right;
    margin: -2rem 0;
    img {
      display: block;
      height: auto;
      width: 16rem;
    }
  }
  @media #{$large-up} {
    .media {
      margin: -2rem 4rem -2rem 0;
    }
  }
  @media #{$xlarge-up} {
    .media {
      margin: -2rem 6rem -2rem 0;
    }
  }
}

// Parameters details

#country-detail {
  > :last-child {
    margin-bottom: 0;
  }
}

.param-details {
  overflow: hidden;
  margin-bottom: 2rem;
  &__header {
    overflow: hidden;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 4px solid tint($primary-color, 90%);
    margin-bottom: 2rem;
  }
  &__heading {
    @include col(7/12);
  }
  &__title {
    @extend .hd-xs;
    margin-bottom: 0;
    a {
      color: inherit;
    }
  }
  &__stats {
    @include col(5/12);
    margin-bottom: 0;
    dt {
      @extend .hd-label;
      margin: 0 0 0 1rem;
    }
    dd {
      font-family: $brand-font-family;
      font-weight: $brand-font-bold;
      font-size: 1.25rem;
      margin: 0 0 0 1rem;
      padding: 0 0 0 1rem;
      border-left: 1px solid tint($primary-color, 90%);
    }
    dt, dd {
      float: right;
      text-align: right;
      line-height: 1.75rem;
    }
    > :last-child {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
  &__table {
    @include col(12/12);
  }
  &__graph {
    @include col(12/12);
    text-align: center !important;
    padding: 4rem 0;
    .placeholder {
      border-radius: $global-rounded;
    }
  }
  @media #{$large-up} {
    &__heading {
      @include col(8/12);
    }
    &__stats {
      @include col(4/12);
    }
    &__table {
    @include col(8/12);
    }
    &__graph {
      @include col(4/12);
    }
  }
}

.param-details.param-1 .param-details__header { border-bottom-color: $infograph-color-a; }
.param-details.param-2 .param-details__header { border-bottom-color: $infograph-color-b; }
.param-details.param-3 .param-details__header { border-bottom-color: $infograph-color-c; }
.param-details.param-4 .param-details__header { border-bottom-color: $infograph-color-d; }


// LAYOUT: ENTRY
// Parameters

.parameter.layout--entry {
  .layout--entry__title {
    position: relative;
    margin-right: 0;
    display: block;
    white-space: normal;
    &:before {
      position: absolute;
      bottom: -8px;
      left: 0;
      z-index: 1;
      content: '';
      width: 12rem;
      height: 5px;
    }
  }
}

.parameter.param-1 .layout--entry__title:before { background: $infograph-color-a; }
.parameter.param-2 .layout--entry__title:before { background: $infograph-color-b; }
.parameter.param-3 .layout--entry__title:before { background: $infograph-color-c; }
.parameter.param-4 .layout--entry__title:before { background: $infograph-color-d; }


// LAYOUT: ENTRY/HUB
// Policies

.policies.layout--entry {
  .layout--entry__heading {
    @include col(8/12);
  }
  .layout--entry__tools {
    @include col(4/12);
  }
}

.layout--hub {
  &__heading {
    margin-bottom: 1rem;
  }
  &__controls {
    .control-title {
      margin-bottom: 0.5rem;
    }
    .control {
      @include col(3/12);
      select {
        width: 100%;
      }
    }
    .control:last-child {
      padding-top: 1.75rem;
    }
  }
}

.layout--entry.policies {
  .col--main,
  .col--sec {
    section {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid tint($primary-color, 90%);
      > h1 {
        @extend .hd-xxs;
      }
      dl {
        > :last-child {
          margin-bottom: 0;
        }
      }
      dd {
        margin-bottom: 0.5rem;
        > :last-child {
          margin-bottom: 0;
        }
      }
      > :last-child {
        margin-bottom: 0;
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}


// SITE FOOTER

#comp-nav {
  @include span(12/12);
  border-bottom: 1px solid tint($primary-color, 90%);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  .ftr-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    > li {
      float: left;
      margin: 0 2rem 0 0;
    }
    > li > a {
      display: block;
      font-family: $brand-font-family;
      font-weight: $brand-font-bold;
      text-transform: uppercase;
      color: inherit;
    }
  }
  @media #{$xlarge-up} {
    @include col(7/12);
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    .ftr-menu {
      padding: 1rem 0;
    }
  }
}

#ftr-credits {
  @include span(12/12);
  h1 {
    @extend .visually-hidden;
  }
  .copyright {
    float: left;
    clear: both;
    font-family: $brand-font-family;
    color: tint($primary-color, 60%);
    margin-bottom: 0;
    font-size: 0.85rem;
  }
  .orgs-list {
    list-style: none;
    padding: 0;
    margin: 0 -1.5rem;
    li {
      float: left;
      margin: 0 1rem 1rem 0;
      width: 6rem;
    }
    a {
      display: block;
    }
    span {
      @extend .visually-hidden;
    }
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  @media #{$xlarge-up} {
    @include col(5/12);
    .orgs-list {
      float: right;
    }
    .copyright {
      float: right;
    }
  }
}


// LISTS

.download-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid tint($primary-color, 90%);
  .well.download & {
    border-top-color: tint($primary-color, 85%);
  }
  > li {
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid tint($primary-color, 90%);
    padding: 0.5rem 0;
    margin: 0;
    .well.download & {
      border-bottom-color: tint($primary-color, 85%);
    }
  }
  .term {
    position: absolute;
    top: 50%;
    left: auto;
    font-family: $brand-font-family;
    font-weight: $brand-font-bold;
    display: block;
    text-transform: uppercase;
    height: 1.5rem;
    margin-top: -0.75rem;
  }
  .bttn {
    float: right;
  }
}

// IE8
.lt-ie9 {
  #index-viz {
    display: none;
  }
}


// IE<8

.lt-ie8 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    width: 440px;
    background: #fff;

    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}
