// BUTTONS

// GLOBAL

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  @include transform(translateZ(0));
}

.bttn {
  display: inline-block;
  font-family: $brand-font-family;
  font-weight: $brand-font-bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: $global-radius;
  border: 0;
  background-image: none;
  text-transform: uppercase;
  @include user-select(none);
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-height: 2rem;
  min-width: 2.5rem;
  box-shadow: inset 0 -2px 0 0 rgba($primary-color, 0.16);
  .open > &,
  &:active,
  &.active {
    box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.16);
    outline: none;
    @include transform(translate(0));
  }
  &:hover {
    @include opacity(1);
  }
  &.disabled, &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    @include opacity(0.6);
    box-shadow: none;
  }
  @include transition-property(background-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease);
  @include transition-delay(0);
  @media print {
    display: none;
  }
}

// VARIATIONS

// Default (Gray)
.bttn-default,
.bttn-default:hover,
.bttn-default:visited {
  @include bttn-variation(tint($primary-color, 90%));
  color: tint($primary-color, 40%);
}

// Light (Gray)
.bttn-light,
.bttn-light:hover,
.bttn-light:visited {
  @include bttn-variation(#fff);
  color: tint($primary-color, 40%);
}

// Success (Green)
.bttn-success,
.bttn-success:hover,
.bttn-success:visited {
  @include bttn-variation($success-color);
  color: #fff;
  @extend .antialiased;
}

// Dark (Gray)
.bttn-dark,
.bttn-dark:hover,
.bttn-dark:visited {
  @include bttn-variation(tint($primary-color, 40%));
  color: #fff;
  @extend .antialiased;
}

// Call to Action
.bttn-cta,
.bttn-cta:hover,
.bttn-cta:visited {
  @include bttn-variation(tint($success-color, 80%));
  box-shadow: none;
}

// SIZES

// Small (24px)
.bttn-s,
.bttn-group-s .bttn {
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
  min-height: 1.25rem;
}

// Medium (32px)
// Default
.bttn-m,
.bttn-group-m .bttn {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-height: 2rem;
}

/* Large (40px) */
.bttn-l,
.bttn-group-l .bttn {
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding: 0.375rem 1rem;
  min-height: 2.5rem;
}

/* Extra-large (44px) */
.bttn-xl,
.bttn-group-xl .bttn {
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
  min-height: 2.75rem;
}

// ICONS

.bttn {
  &:after {
    margin-left: 0.25rem;
    @include opacity(0.4);
    font-size: 1rem;
  }
  &:before {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  &.hide-txt {
    &:after {
      margin-left: 0;
    }
    &:before {
      margin-right: 0;
    }
    > * {
      @extend .visually-hidden;
    }
  }
  &.go:after { @extend .icon-s-arr-right; }
  &.download:before { @extend .icon-download; }
  &.share:before { @extend .icon-share; }
  &.restart:before { @extend .icon-refresh; }
}

// GROUP

.bttn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  &.bttn-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li .bttn {
      display: block;
    }
  }
  > *,
  > .bttn {
    position: relative;
    float: left;
    margin: 0;
  }
  > *:first-child:not(:last-child) .bttn,
  > .bttn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > *:last-child:not(:first-child) .bttn,
  > .bttn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > *:not(:first-child):not(:last-child) .bttn,
  > .bttn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  > .bttn + .bttn,
  &.bttn-list > li + li {
    margin-left: -1px;
  }
}
