/* ==========================================================================
   Helpers - extends + custom vars
   ========================================================================== */

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
