$tooltip-background: #fff;
$tooltip-border: #E5E5E5;
$tooltip-light-color: #888;
$marker-stroke: #D9D9D9;
$marker-fill: #333333;

path {
  stroke: grey;
  stroke-width: .25px;
}

.rank-marker {
  font-family: $brand-font-family;
}

.rank-marker circle {
  stroke: $marker-stroke;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-opacity: 0.8;
  fill: $marker-fill;
}

.rank-marker text {
  fill: #ffffff;
  text-anchor: middle;
  font-size: 16px;
  pointer-events: none;
}

.bttn-group.map-country-toggle {
  padding: 0.5rem;
  background: #fff;
  border-radius: $global-radius;
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.leaflet-control-container {
  @include center($max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  @media #{$small-up} {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media #{$medium-up} {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.leaflet-left.leaflet-top {
  top: 1rem;
}

.leaflet-left.leaflet-bottom {
  bottom: 1rem;
}

.leaflet-left.leaflet-top,
.leaflet-left.leaflet-bottom {
  left: auto;
  .leaflet-control {
    margin: 0;
  }
}
