// TYPE

// Headings

@mixin heading($font-size) {
  font-size: $font-size;
  line-height: $font-size + 0.5;
  @media #{$small-up} {
    $font-size: $font-size + 0.25;
    font-size: $font-size;
    line-height: $font-size + 0.5;
  }
}

// BUTTONS

// Variations

@mixin bttn-variation($color) {
  background-color: $color;
  &:hover {
    background-color: shade($color, 5%);
  }
  .open > &,
  &.active,
  &.active:hover {
    background-color: shade($color, 10%);
  }
}
