// TYPE

// Headings

@mixin heading($font-size) {
  font-size: $font-size;
  line-height: $font-size + 0.5;
  @media #{$small-up} {
    $font-size: $font-size + 0.25;
    font-size: $font-size;
    line-height: $font-size + 0.5;
  }
}

// BUTTONS

// Variations

@mixin bttn-variation($color, $tone: false) {
  background-color: $color;
  &:hover {
    background-color: shade($color, 10%);
  }
  &.active,
  &.active:hover {
    background-color: shade($color, 15%);
  }
  @if $tone == 'light' {
    color: tint($primary-color, 20%);
  } @else {
    color: #fff;
    @extend %antialiased;
  }
}
