// PRINT STYLES

@page {
  margin: 0.5cm;
}

@media print {
  * {
    color: $body-font-color !important;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  }
  .no-print {
    display: none;
  }
}