// SETTINGS
// Contains the settings of the Global Climatescope

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// The $base-line-height is 100% while $base-font-size is 150%
$base-line-height: 150%;

// We use these as default colors throughout
$primary-color: #000;                            	// black
$secondary-color: #77bc1f;                          // green
$alert-color: #D85D3F;                              // red
$success-color: #77bc1f;                            // green (same as $secondary-color)
$warning-color: #F4A432;                            // yellow
$info-color: #499DD2;                               // blue

$infograph-color-a: #F0C30E;						// yellow
$infograph-color-b: #62A60A;						// dark green
$infograph-color-c: #008FBE;						// blue
$infograph-color-d: #635D9B;						// purple

// We use these to control various global styles
$body-bg: tint($primary-color, 95%);
$body-font-color: tint($primary-color, 20%);
$body-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$body-font-bold: 700;

$brand-font-family: "Klavika", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-font-weight: normal;
$brand-font-bold: 700;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 0.25rem;
$global-rounded: 60rem;

// We use these to shadow text
%global-text-shadow {
  text-shadow: 0 1px 0 rgba($primary-color, 0.4);
}

// Media queries
$small-up: "(min-width: 544px)"; // Probably not used much, since we're officially supporting only medium-up
$medium-up: "(min-width: 768px)";
$large-up: "(min-width: 992px)";
$xlarge-up: "(min-width: 1200px)";
