// Functional styling

.noUi-base {
  height: 0.5rem;
}

// Slider size and handle placement
.noUi-horizontal {
  height: 0.5rem;
}

.noUi-horizontal .noUi-handle {
  left: -0.75rem;
  top: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

// Styling

.noUi-background {
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  background: tint($primary-color, 95%);
}

.noUi-connect {
  background: tint($primary-color, 20%);
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
  cursor: pointer;
}

.noUi-origin {
  border-radius: $global-rounded;
}

.noUi-target {
  border-radius: $global-rounded;
  border: none;
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
}

.noUi-target.noUi-connect {
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.1);
}

// Handles and cursors

.noUi-handle {
  border: 0;
  background: tint($primary-color, 90%);
  box-shadow: inset 0 -2px 0 0 rgba($primary-color, 0.1);
  border-radius: $global-rounded;
  @include transition(background 0.2s ease-in 0s);
  cursor: w-resize;
}

.noUi-active {
  box-shadow: inset 0 -2px 0 0 rgba($primary-color, 0.1);
}

.noUi-handle:hover, .noUi-active {
  background: tint($primary-color, 85%);
}

// Handle stripes

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

// Disabled state

[disabled].noUi-connect,
[disabled] .noUi-connect {
  cursor: not-allowed;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
  filter: alpha(opacity=60);
  opacity: .6;
}