// TABLES

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: $brand-font-family;

  td, th {
    padding: 0;
  }

  th {
    text-align: left;
  }

  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid tint($primary-color, 90%);
    @extend .hd-label;
    a {
      display: block;
      color: tint($primary-color, 60%);
      &.sort:after {
        font-size: 1rem;
        color: tint($primary-color, 20%);
        margin-left: 0.25rem;
      }
      &.sort-none:after {
        @extend .icon-sort;
      }
      &.sort-asc:after {
        @extend .icon-sort-asc;
        
      }
      &.sort-desc:after {
        @extend .icon-sort-desc;
      }
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid tint($primary-color, 90%);
  }

  > caption+thead > tr:first-child > th,
  > colgroup+thead > tr:first-child > th,
  > thead:first-child > tr:first-child > th,
  > caption+thead > tr:first-child > td,
  > colgroup+thead > tr:first-child > td,
  > thead:first-child > tr:first-child > td {
    border-top: 0;
  }

  .wrapper-row {
    > td {
      padding: 0;
    }
  }
  
  .expand-toggle {
    display: block;
    &:before {
      @extend .icon-s-arr-down;
      color: tint($primary-color, 20%);
      font-size: 1rem;
    }
  }

  .open .expand-toggle:before {
    @extend .icon-s-arr-up;
  }

}

.country-table {
  table-layout: fixed;
  .cell-rank,
  .cell-country {
    font-weight: $brand-font-bold;
    a {
      color: inherit;
    }
  }
  tr:first-child > th:nth-child(1),
  tr:first-child > td:nth-child(1) {
    width: 5%;
  }
  tr:first-child > th:nth-child(2),
  tr:first-child > td:nth-child(2) {
    width: 12.5%;
  }
  tr:first-child > th:nth-child(3),
  tr:first-child > td:nth-child(3) {
    width: 30%;
  }
  tr:first-child > th:nth-child(4),
  tr:first-child > td:nth-child(4) {
    width: 12.5%;
  }
  tr:first-child > th:nth-child(5),
  tr:first-child > td:nth-child(5) {
    width: 30%;
  }
  tr:first-child > th:nth-child(6),
  tr:first-child > td:nth-child(6) {
    width: 10%;
  }
}

.table-nested {
  background-color: tint($primary-color, 95%);
  margin-bottom: 0;
  > thead > tr > th {
    @extend .visually-hidden;
  }
}

.policies-table {
  .cell-policy-name {
    font-weight: $brand-font-bold;
    a {
      color: inherit;
    }
  }
}

.detailed-data {
  .cell-hd {
    @extend .hd-label;
  }
  .cell-ind {
    padding-left: 1.5rem;
  }
  .cell-info {
    a {
      display: block;
      color: tint($primary-color, 60%);
      &:before {
        @extend .icon-circle-info;
      }
      span {
        @extend .visually-hidden;
      }
    }
  }
}

.table-bar {
  width: 90%;
  list-style-type: none;
  overflow: hidden;
  border-radius: $global-radius;
  height: 1.25rem;
  background: tint($primary-color, 95%);
  padding: 0;
  margin: 0.125rem 0;
  cursor: help;

  li {
    float: left;
    height: 100%;
  }

  > li:first-child {
    border-radius: $global-radius 0 0  $global-radius;
  }

  > li:last-child {
    border-radius: 0 $global-radius $global-radius 0;
  }

  li:nth-child(1) {
    background-color: $infograph-color-a;
  }

  li:nth-child(2) {
    background-color: $infograph-color-b;
  }

  li:nth-child(3) {
    background-color: $infograph-color-c;
  }

  li:nth-child(4) {
    background-color: $infograph-color-d;
  }
}

.table-nested .table-bar {
  background: #fff;
}
