// TABLES

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: $brand-font-family;

  td, th {
    padding: 0;
  }

  th {
    text-align: left;
  }

  > thead > tr > th {
    vertical-align: bottom !important;
    border-bottom: 2px solid tint($primary-color, 90%);
    @extend .hd-label;
    a {
      display: inline-block;
      color: tint($primary-color, 60%);
      &.sort:after {
        font-size: 1rem;
        color: tint($primary-color, 20%);
        margin-left: 0.25rem;
      }
      &.sort-none:after {
        @extend .icon-sort;
      }
      &.sort-asc:after {
        @extend .icon-sort-asc;
        
      }
      &.sort-desc:after {
        @extend .icon-sort-desc;
      }
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid tint($primary-color, 90%);
  }

  > caption+thead > tr:first-child > th,
  > colgroup+thead > tr:first-child > th,
  > thead:first-child > tr:first-child > th,
  > caption+thead > tr:first-child > td,
  > colgroup+thead > tr:first-child > td,
  > thead:first-child > tr:first-child > td {
    border-top: 0;
  }

  .wrapper-row {
    > td {
      padding: 0;
    }
  }
  
  .expand-toggle {
    display: block;
    &:before {
      @extend .icon-s-arr-down;
      color: tint($primary-color, 20%);
      font-size: 1rem;
    }
  }

  .open .expand-toggle:before {
    @extend .icon-s-arr-up;
  }

  tr.disabled {
      pointer-events: none;
      cursor: not-allowed;
      @include opacity(0.3);
  }

}

.parameter-table,
.country-table {
  table-layout: fixed;

  tr:first-child > th:nth-child(1),
  tr:first-child > td:nth-child(1) {
    width: 5%;
  }
  tr:first-child > th:nth-child(2),
  tr:first-child > td:nth-child(2) {
    width: 12.5%;
  }
  tr:first-child > th:nth-child(3),
  tr:first-child > td:nth-child(3) {
    width: 30%;
  }
  tr:first-child > th:nth-child(4),
  tr:first-child > td:nth-child(4) {
    width: 12.5%;
  }
  tr:first-child > th:nth-child(5),
  tr:first-child > td:nth-child(5) {
    width: 30%;
  }
  tr:first-child > th:nth-child(6),
  tr:first-child > td:nth-child(6) {
    width: 10%;
  }
}

.table-nested {
  background-color: tint($primary-color, 95%);
  margin-bottom: 0;
  > thead > tr > th {
    @extend .visually-hidden;
  }
}

.detailed-data {
  .cell-hd {
    @extend .hd-label;
  }
  .cell-ind {
    padding-left: 1.5rem;
  }
  .cell-info {
    a {
      display: block;
      color: tint($primary-color, 60%);
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      &:before {
        @extend .icon-circle-info;
      }
      span {
        @extend .visually-hidden;
      }
    }
  }
}

// Misc

.table {
  .cell-rank,
  .cell-country,
  .cell-policy-name {
    font-weight: $brand-font-bold;
  }
  .avg {
    float: right;
    margin-right: 10%;
  }
}

